@import "fonts";
@import "libs";
@import "vars";

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

// ::-webkit-scrollbar
// 	display: none

*
	box-sizing: border-box

html, body
	height: 100%

body
	font-size: 16px
	min-width: 320px
	position: relative
	font-size: 16px
	color: #595959
	line-height: 1.3
	font-family: $default-font
	overflow-x: hidden
	opacity: 1
	padding: 0
	height: auto
	overflow: auto
.stop-scrolling
	overflow: hidden

a
	text-decoration: none
	color: #4962AB
	&:hover
		text-decoration: underline

.img-responsive
	display: block
	max-width: 100%
	height: auto

.bold-grey
	color: #595959
	font-size: 26px
	font-weight: bold

.look-all
	margin-top: 10px

.header
	display: flex
	position: fixed
	top: 0
	left: 0
	width: 100%
	height: 195px
	z-index: 999
	background-color: #7A8992
	&.hero
		background-color: transparent
	&--wrapper
		flex-grow: 1
		display: flex
		justify-content: space-between
		align-items: center
		height: 100%


.container
	flex-grow: 1
	display: flex
	max-width: 1140px
	padding: 0 50px
	margin: 0 auto
	// border: 1px soldi red

.section
	// border: 1px solid red
	display: flex
	height: 100vh
	padding-top: 195px
	&--wrapper
		position: relative
		flex-grow: 1
		display: flex
		flex-direction: column
		justify-content: center
		align-items: center
		margin: 0 auto

		.myrow
			width: 200px
			margin-top: -45vh
			width: 100%
			heigth: auto

		 &	.main-title
				font-family: ReformaGroteskDemi,sans-serif
				font-face: normal !important
				font-weight: 400 !important
				-webkit-font-smoothing: antialiased;
				font-size: 45px
				text-transform: uppercase
				line-height: 1
				text-shadow: -1px  0 #000000

				& span
					color: #e90707
		& 	.header_item
				display: block
				right: 0px
				margin-top: -200px
				position: absolute
				margin-right: 0 auto
				// box-shadow: -9px 6px 5px 0px rgba(250,247,250,1)
				filter: drop-shadow(4px 4px 10px black)

		.smaller-text
			font-size: 10.5px
			font-family: $default-font
			color: #fff
			font-face: normal !important
			font-weight: 400 !important
			-webkit-font-smoothing: antialiased
			position: absolute
			margin-top: 57px




	&.hero
		padding-top: 0
		background-image: url(../img/ajax/bg.jpg)
		background-size: cover
		background-position: 60% top
		color: white
		& .row
			display: flex
			justify-content: space-between
			align-items: flex-end
			position: absolute
			width: 100%
			bottom: 100px
		& .col
			& .my-text
				font-family: 'Roboto'
				font-size: 18px



			& .text
				text-align: right
				& a
					color: $red
					text-decoration: none
					&:hover
						text-decoration: underline
	.kitchen
		&--wrapper
			margin: auto 0
			position: relative
			flex-grow: 1
			display: flex
			justify-content: center
			align-items: stretch
		&--left,
		&--right
			flex-basis: 50%
			& .group:not(:first-child)
					margin-top: 50px
		&--left
			position: relative
			padding-right: 60px
			border-right: 1px solid #C3C2C0
			&::after
				content: ''
				display: block
				position: absolute
				top: 130px
				right: -21px
				width: 40px
				height: 40px
				background-color: white
				border-left: 1px solid #C3C2C0
				border-top: 1px solid #C3C2C0
				transform: rotate(135deg)
			& .moto
				font-size: 40px
				font-weight: 100
				text-transform: uppercase
				text-align: left
				max-width: 630px
				line-height: 1.3
				margin-top: 0
				transform: translateY(0)
		&--right
			padding-left: 70px
			& .form
				&__title
					text-transform: uppercase
					font-size: 22px
					font-weight: bold
					margin: 0
				&__annotation
					margin-top: 10px
	.choose
		&--wrapper
			margin: auto 0
			position: relative
			flex-grow: 1
			display: flex
			flex-direction: column
			justify-content: center
			align-items: flex-start
		&__header
			margin-bottom: 10px
	.slider
		position: relative
		&--wrapper
			position: relative
		&__item
			width: 1036px
		&__wrapper
			display: flex
			flex-direction: column
		&__img
			flex-grow: 1
			max-height: 586px
			overflow: hidden
			& a
				display: block
				position: relative
				bottom: 80px
			& img
			 	width: 100%
		&__extra
			display: flex
			align-items: flex-end
			flex-direction: column
			position: absolute
			top: 50px
			right: -25px
			z-index: 10
			& .counter
				transform: scale(0.65) translate(97px)
		&__caption
			display: flex
			width: 100%
			height: 60px
			&--left
				display: flex
				align-items: center
				width: calc(100% - 250px)
				height: 100%
				background-color: #728089
				color: white
				padding-left: 50px
			&--right
				width: 250px
				height: 100%
		&__name
			position: relative
			font-family: ReformaGroteskDemi
			font-weight: bold
			font-size: 40px
			text-transform: uppercase
			&::after
				content: '|'
				position: relative
				font-size: 40px
				font-weight: bold
				margin: 0 20px
		&__tech
			font-weight: bold
	& .bx-controls
		position: absolute
		top: 50%
		width: 100%
	& .bx-prev,
	& .bx-next
		position: absolute
		display: block
		width: 33px
		height: 62px
		top: -31px
	& .bx-prev
		left: -40px
		background-image: url('../img/arrow-prev.png')
	& .bx-next
		right: -40px
		background-image: url('../img/arrow-next.png')
.help
	&--wrapper
		margin: auto 0
		position: relative
		flex-grow: 1
		display: flex
		flex-direction: column
		justify-content: center
		align-items: flex-start
		& .form
			display: flex
			justify-content: space-between
			align-items: flex-end
			width: 100%
			&--left
				& .moto
					font-size: 40px
					font-weight: 100
					text-transform: uppercase
					text-align: left
					max-width: 630px
					line-height: 1.3
					margin-top: 30px
					transform: translateY(0)
			&__title
				text-transform: uppercase
				font-size: 22px
				font-weight: 700
				margin: 0
				margin-top: 30px
				margin-bottom: 10px
				color: $red
			&__collection
				display: flex
				padding: 50px
				justify-content: center
				align-items: flex-start
				border: 2px solid #C3C2C0
				font-size: 20px
				&--left,
				&--right
					width: 200px
			&__area
				display: flex
				align-items: flex-end
				margin-top: 50px
				&--input
					width: 125px
					border: 0
					border-bottom: 1px solid #C4C3C1
					padding: 5px 20px
					font-family: $default-font
					font-weight: 100
					text-align: center
					font-size: 20px
					margin-right: 10px
			&__checkbox
				&:not(:first-child)
					margin-top: 50px
				& input:checked + .form__label::after
					content: '✓'
					display: inline-block
					position: absolute
					top: -5px
					left: 2px
					font-size: 30px
					font-family: Roboto,sans-serif
					font-weight: 900
					color: #d80000
				& .form__label
					display: flex
					flex-direction: column
					position: relative
					margin-top: 10px
					user-select: none
					cursor: pointer
					flex-flow: row nowrap
					align-items: center
					&::before
						content: ''
						display: inline-block
						position: relative
						width: 25px
						height: 25px
						border: 2px solid #c3c2c0
						-webkit-border-radius: 3px
						border-radius: 3px
						margin-right: 10px
.gallery
	background-color: #CCBAA2
	&--wrapper
		display: flex
		flex-direction: column
		justify-content: center
		align-items: flex-start
		width: 100%
		margin: auto 0
	&__header
		display: flex
		justify-content: space-between
		width: 100%
	&__footer
		display: flex
		justify-content: space-between
		width: 100%
		margin-top: 30px
		max-height: 95px
		& .group
			display: flex
		& .moto
			font-size: 40px
			font-weight: 100
			text-transform: uppercase
			text-align: left
			max-width: 630px
			line-height: 1.3
			color: white
			transform: translateY(0)
			margin: 0
		& .counter
			transform: scale(.8) translate(30px, -13px)
		& .btn
			display: flex
			align-items: center
	&__slider
		width: 100%
		margin-top: 30px
		margin-bottom: 30px
		& .slider
			&__item
				width: 340px
				height: 230px
				& img
					width: 100%
		& .bx-pager
			display: flex
			justify-content: center
			position: absolute
			bottom: -260px
			width: 100%
		& .bx-pager-item
			&:not(:first-child)
				margin-left: 15px
		& .bx-pager-link
			position: relative
			visibility: hidden
			&.active
				&::after
					background-color: $red
			&::after
				content: ''
				display: inline-block
				position: absolute
				top: 0
				left: 0
				visibility: visible
				width: 16px
				height: 16px
				background-color: #fff
				border: 1px solid #C7C7C6
				border-radius: 50%
				cursor: pointer
.feedback
	background-color: #464646
	&--wrapper
		display: flex
		justify-content: center
		align-items: flex-start
		flex-direction: column
		width: 100%
		margin: auto 0
	&__header
		& .title
			margin-bottom: 30px
	& .slider
		&__item
			display: flex
			max-height: 444px
			overflow: hidden
		&__video
			flex-grow: 1
		&__panel
			position: relative
			width: 250px
			background-color: #fff
			box-shadow: 0 0 20px rgba(0, 0, 0, .3)
			padding: 30px
			z-index: 1
		&__video-name
			font-family: $default-font
			font-size: 24px
			text-transform: uppercase
			font-weight: normal
			line-height: 1.3
			margin-bottom: 20px
		&__house
			font-weight: bold
			font-size: 20px
		& .bx-controls-direction
			filter: invert(1)
		& .bx-pager
			display: flex
			justify-content: center
			position: absolute
			bottom: -260px
			width: 100%
		& .bx-pager-item
			position: relative
			margin: 0 7px
		& .bx-pager-link
			position: relative
			visibility: hidden
			&.active
				&::after
					background-color: $red
			&::after
				content: ''
				display: inline-block
				position: absolute
				top: 0
				left: 0
				visibility: visible
				width: 16px
				height: 16px
				background-color: #fff
				border: 1px solid #C7C7C6
				border-radius: 50%
				cursor: pointer
	&__footer
		display: flex
		justify-content: space-between
		width: 100%
		margin-top: 60px
		max-height: 95px
	& .group
		display: flex
	& .moto
		font-size: 40px
		font-weight: 100
		text-transform: uppercase
		text-align: left
		max-width: 630px
		line-height: 1.3
		color: white
		transform: translateY(0)
		margin: 0
	& .counter
		transform: scale(.8) translate(30px, -13px)
	& .btn
		display: flex
		align-items: center
.materials
	&--wrapper
		display: flex
		justify-content: center
		align-items: flex-start
		flex-direction: column
		width: 100%
		margin: auto 0
	&__header
		width: 100%
		position: relative
		margin-bottom: 30px
		& .title
			margin-bottom: 30px
		& .group
			display: flex
			flex-direction: column
			justify-content: flex-end
			align-items: flex-end
			position: absolute
			top: 0
			right: 0
			& .counter
				transform: scale(.7) translate(75px,-15px)
			& .btn
				width: 250px
				transform: translateY(-10px)
			& .look-all
				color: $red
				font-size: 20px
				padding-right: 13px
				transform: translateY(-10px)
	&__raw
		display: flex
		margin-bottom: 30px
		& .item
			display: flex
			align-items: flex-end
			&:not(:first-child)
				margin-left: 50px
			&__icon
				margin-right: 20px
			&__text
				font-family: ReformaGroteskDemi
				font-size: 40px
				text-transform: uppercase
				line-height: 1
	&__tech
		display: flex
		& .item
			display: flex
			flex-direction: column
			min-width: 340px
			&:not(:first-child)
				margin-left: 10px
			&__img
				display: flex
				justify-content: center
				align-items: center
				position: relative
				width: 100%
				height: 250px
				& img
					position: relative
					width: 60%
					height: auto
			&__name
				font-family: ReformaGroteskDemi
				font-size: 40px
				text-transform: uppercase
				line-height: 1
.partner
	background-color: #E5E5E5
	padding-bottom: 200px
	height: auto
	&--wrapper
		display: flex
		justify-content: center
		align-items: stretch
		flex-flow: row nowrap
		width: 100%
		margin: auto 0
	&--left
		display: flex
		flex-direction: column
		padding-right: 150px
	&--right
		display: flex
		flex-direction: column
		.row
			display: flex
			margin-bottom: 10px
			& > img:nth-of-type(even)
				margin-left: 10px
			&:last-child
				margin-bottom: 0
		.col
			display: flex
			flex-direction: column
			&:nth-of-type(even)
			 margin-left: 12px
			& > img:nth-of-type(even)
				margin-top: 12px
	&__logo
		margin-bottom: 150px
		& img
			// transform: translate(-25px, 0)
	&__title
		text-transform: uppercase
		font-size: 22px
		font-weight: 700
		margin: 0
	&__contacts
		margin-top: auto
		& a
			color: inherit
			&:hover
				color: $red
.contacts
	display: flex
	flex-direction: column
	& .container
		width: 100%
	&--wrapper
		display: flex
		justify-content: center
		align-items: stretch
		flex-flow: row nowrap
		width: 100%
		margin: auto 0
	&__footer
		background-color: #7A8992
		padding: 30px 0
		font-size: 12px
		color: white
	&__map
		width: 100%
		position: relative
	&__panel
		display: flex
		flex-direction: column
		background-color: white
		position: absolute
		padding: 40px
		top: 50%
		left: 50px
		transform: translateY(-50%)
		z-index: 1
		& .group
			display: flex
			flex-direction: column
			position: relative
			padding-left: 40px
			&:not(:first-child)
				margin-top: 10px
			& a
				color: inherit
				&:hover
					color: $red
			&.address::after,
			&.phone::after,
			&.email::after,
			&.site::after
				content: ''
				position: absolute
				display: block
				top: 0
				left: 0
				background-position: 0 0
				background-repeat: no-repeat
			&.address::after
				width: 20px
				height: 30px
				background-image: url('../img/map.png')
			&.phone::after
				width: 23px
				height: 23px
				background-image: url('../img/phone.png')
			&.email::after
				width: 21px
				height: 16px
				background-image: url('../img/email.png')
			&.site::after
				width: 24px
				height: 24px
				background-image: url('../img/globe.png')
		& .socials
			display: flex
			flex-direction: column
			margin-top: 30px
			& > div
				display: flex
				justify-content: space-between
				&:first-child
					margin-bottom: 10px
			& a
				position: relative
				display: block
				width: 46px
				height: 46px
				background-image: url('../img/socials.png')
				background-repeat: no-repeat
			& .fb
				background-position: 0 0
			& .tw
				background-position: -57px 0px
			& .vk
				background-position: -114px 0px
			& .ok
				background-position: -171px 0px
			& .in
				background-position: -228px 0px
			& .lj
				background-position: 0px -51px


.logo
	width: 219px
	height: 100%
	min-height: 195px
	background-color: #4D616E
	margin-right: 40px
	background-image: url(../img/logo.png)
	background-repeat: no-repeat
	background-position: 50%
	background-size: 60%
	margin-left: -30px
	&.hero
		background-position: 50%
		background-size: 80%
		background-color: transparent

.nav
	flex-grow: 1
	display: flex
	justify-content: space-between
	&__link
		font-size: 16px
		color: white
		text-decoration: none
		text-transform: uppercase
		&.active
			text-decoration: underline
.moto
	font-size: 65px
	font-weight: 100
	text-transform: uppercase
	text-align: center
	max-width: 630px
	line-height: 1.3
	margin-top: 0
	transform: translateY(-50px)
.title
	font-family: ReformaGroteskDemi, sans-serif
	font-size: 55px
	text-transform: uppercase
	line-height: 1
	margin-bottom: 10px
	&--grey
		color: #595959
	&--white
		color: #fff
	& > span
		color: $red
.counter
	display: flex
	color: #595959
	&__item
		display: flex
		flex-direction: column
		justify-content: flex-end
		text-align: center
		padding: 10px
		width: 80px
		height: 120px
		border: 2px solid #C3C2C0
		border-radius: 3px
		background-color: white
		&:not(:first-child)
			margin-left: 12px
	&__digits
		font-size: 70px
		font-family: ReformaGroteskDemi, sans-serif
		text-transform: uppercase
		line-height: 1
	&__time
		meta

.bx-next,
.bx-prev
	&:hover
		opacity: .8

.btn
	display: inline-block
	background-color: $red
	color: white
	border: none
	font-family: $default-font
	font-size: 20px
	padding: 15px 20px
	text-decoration: none
	text-align: center
	cursor: pointer
	&:hover
		text-decoration: none
		filter: brightness(1.1)
	&--big
		text-transform: uppercase
		font-weight: bold
		font-famaly: $default-font
		font-size: 15px
		padding: 15px 40px
		text-align: center
		font-face: normal

	& .fa
		display: inline-block;
		font: normal normal normal 14px/1 FontAwesome;
		font-size: inherit;
		text-rendering: auto;
		transform: translate(0, 0);


	& ::before
    	content: url('../img/ajax/arrow_btn.png')


	& .arrow
	    position: relative
	    top: -10px
	    right: -15px


	&--form
		padding: 25px
		border-radius: 3px
	&--modal
		padding: 25px
		border-radius: 3px
		width: 100%
	&--grey
		display: flex
		justify-content: center
		align-items: center
		padding: 0
		width: 100%
		height: 60px
		background-color: #7A8992
		// font-size: 16px
	&--label
		width: 230px
		height: 80px
		text-transform: uppercase
		font-weight: bold
		&:hover
			opacity: 1
			filter: brightness(1.1)
		&::after
			content: ''
			position: absolute
			height: 0
			width: 0
			top: -17px
			right: 0px
			border-bottom: 17px solid #730000
			border-right: 25px solid transparent
	&--slider
		width: 100%
		height: 100%
		background-color: #4D616E
		&:hover
			opacity: 1
			filter: brightness(1.1)

.form
	&__group:not(:first-child)
		margin-top: 50px
	&__label
		display: flex
		flex-direction: column
		position: relative
		&:not(:first-child)
		margin-top: 10px
		user-select: none
		cursor: pointer
		&--checkbox
			flex-flow: row nowrap
			align-items: center
			&::before
				content: ''
				display: inline-block
				position: relative
				width: 25px
				min-width: 25px
				height: 25px
				border: 2px solid #C3C2C0
				border-radius: 3px
				margin-right: 10px
	&__input
		margin-top: 10px
		height: 70px
		border: 2px solid #C3C2C0
		padding: 0 20px
		font-family: $default-font
		font-size: 20px
		font-weight: 100
		border-radius: 3px

.checkbox-input:checked + .form__label--checkbox::after
	content: '✓'
	display: inline-block
	position: absolute
	top: -5px
	left: 2px
	font-size: 30px
	font-family: $default-font
	font-weight: 900
	color: $red

.modal
	display: none
	width: 100%
	height: 100%
	position: fixed
	top: 0
	left: 0
	justify-content: center
	align-items: center
	background-color: rgba(0,0,0,.4)
	z-index: 999
	&.active
		display: flex
	&__dialog
		position: relative
		width: 460px
		height: auto
		background-color: #fff
		padding: 40px
	&__title
		display: flex
		flex-direction: column
		margin-top: 0
		& > span:first-child
			font-weight: normal
			text-transform: uppercase
			font-size: 22px
			margin: 0
			color: #898989
	&__subtitle
		display: flex
		flex-direction: column
		text-transform: uppercase
		font-size: 22px
		font-weight: 700
		margin: 0
		color: #898989
		font-weight: normal
		& > span:last-child
			font-family: ReformaGroteskDemi,sans-serif
			font-size: 55px
			line-height: 1
			margin-bottom: 10px
			color: $red
			text-transform: initial
	& .close
		position: absolute
		top: 20px
		right: 20px
		width: 34px
		height: 33px
		background-image: url('../img/cross.png')
		background-size: contain
		background-color: transparent
		border: none
		cursor: pointer
		&:hover
			opacity: .8
.modal-call
	z-index: 1000
#modal-rules
	.modal__dialog
		height: calc(100vh - 300px)
		overflow: auto
#modal-house
	display: none
	width: 100%
	height: calc(100% - 195px)
	position: fixed
	top: 195px
	left: 0
	justify-content: center
	align-items: center
	background-color: #DEDEDE
	z-index: 999
	&.active
		display: flex
	& .modal__dialog
		position: relative
		width: 1140px
		height: 650px
		background-color: #fff
		padding: 40px
		margin-top: 50px
	& .modal__tabs
		position: absolute
		height: 50px
		top: -50px
		left: 40px
		& > a
			display: inline-block
			height: 100%
			background-color: #B3B8BC
			padding: 15px 20px
			width: 320px
			text-align: center
			color: inherit
			&:hover
				text-decoration: none
				filter: brightness(1.1)
			&.active
				background-color: #fff
			&:not(:first-child)
				margin-left: 5px
	& .modal__content
		& .tab
			display: none
			&.active
				display: block
	& .checkbox-input:checked+.form__label--checkbox::after
		top: 0
	& .modal__content--wrapper
		display: flex
	& .modal__content--left
		width: 645px
	& .modal__content--right
		display: flex
		flex-direction: column
		justify-content: space-between
		padding-left: 50px
		padding-top: 65px
		flex-grow: 1
		& .group:not(:first-child)
			margin-top: 20px
		& .list
			list-style: none
			padding: 0
			margin: 0
			& li
				display: flex
				flex-flow: row nowrap
				font-size: 14px
				&:not(:first-child)
					margin-top: 10px
				& strong
					width: 180px
					padding-right: 15px
					white-space: nowrap
				& span
					max-width: 160px
					white-space: nowrap
					text-overflow: ellipsis
					overflow: hidden
		& .form
			display: flex
			flex-direction: column
			justify-content: space-between
		& .form__title
			text-transform: uppercase
			font-size: 22px
			font-weight: bold
			margin: 0
		& .form__group:not(:first-child)
			margin-top: 25px
		& .btn
			width: 100%
			max-height: 73px
	& .modal__header
		display: flex
		justify-content: space-between
		& .title
			margin-bottom: 0
			font-size: 45px
			white-space: nowrap
	& .modal__params
		display: flex
		flex-direction: column
		text-align: right
	& .modal__slider
		display: flex
		flex-direction: column
		justify-content: space-between
		width: 100%
		& .bx-viewport
			height: 100%
		& .bx-slider > li
			display: inline-block
			width: 646px !important
			height: 418px
			& > img
				display: block
				height: 100%
				margin: 0 auto
		& .bx-pager
			margin-top: 10px
			display: flex
			justify-content: space-between
			padding: 0 10px
			& > a
				display: block
				width: 150px
				height: 110px
				overflow: hidden
				& > img
					display: block
					height: 100%
					margin: 0 auto
		& .bx-controls
			position: absolute
			top: 50%
			width: 645px
		& .bx-prev,
		& .bx-next
			position: absolute
			display: block
			width: 33px
			height: 62px
			top: -31px
			transform: scale(.5)
		& .bx-prev
			left: -40px
			background-image: url('../img/arrow-prev.png')
		& .bx-next
			right: -40px
			background-image: url('../img/arrow-next.png')

.section
	&.choose
		height: auto
		background-color: #dedede
		padding-bottom: 150px
	.choose
		&__header
			margin-bottom: 55px
		&--wrapper
			max-width: 100%


.choose-house
	&--houses
		width: 100%
	&--row
		display: -webkit-flex
		display: -ms-flex
		display: flex
		margin-left: -10px
		&:nth-of-type(odd)
            .house
                flex-direction: row-reverse
	.house--img
        height: 260px
        img
            height: 260px
	&--house
        height: 260px
        margin-bottom: 10px
        background-color: #fff

.house
	display: -webkit-flex
	display: -ms-flex
	display: flex
	justify-content: space-between
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.2)
	// width: 49%
	&__important
		.house--caption
			width: 257.5px

	&--wrapper
		padding-left: 10px
		flex: 1
		max-width: 100%
	&--caption
		width: 50%
		padding: 25px
	&--heading
		font-family: 'ReformaGroteskDemi', Helvetica, Arial, sans-serif
		text-transform: uppercase
		font-size: 30px
		line-height: 30px
		// font-weight: 600
		margin-bottom: 10px
		margin-top: 0
		a
			color: $red
			&:hover
				text-decoration: none
	&--details
		color: #000
		font-size: 12px
	&--details-item
		font-weight: 400
		margin-bottom: 15px
	&--materials
        display: -webkit-flex
        display: -ms-flex
        display: flex
        // justify-content: space-between;
        font-weight: 100
        margin-bottom: 15px
	&--material
        display: inline-block
        margin-right: 5px
        padding: 1px 8px
        border: 1px dotted #ccc
        font-size: 14px
        text-transform: lowercase
	&--more
        display: block
        padding: 12px 30px
        color: #fff
        background-color: $red
        text-align: center
	.arrow
		position: relative
        top: 1px
		right: -5px
	&--img
		flex: 1
		display: -webkit-flex
		display: -ms-flex
		display: flex
		overflow: hidden
		justify-content: space-around
		// width: 50%
		// max-width: 50%
		// min-width: 50%
		img
			align-self: center
			max-height: 100%

.house--more
	font-size: 14px

.house--materials
	flex-wrap: wrap

.section
	&.contacts
		.contacts--wrapper
			// padding-bottom:

@import "media" // Всегда в конце
