div.news-list
{
	word-wrap: break-word;
}
div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}
// body .slider-with-trigger .trigger[data-trigger="0"] {
//     display: none !important;
// }

body .slider-with-trigger .trigger[data-trigger="0"].active p{
transition: .5s ease all !important;
display: table-cell !important;
vertical-align: middle !important;
text-align: center !important;
// padding: 45px 0px 0px 23px !important;
line-height: 1.092 !important;
margin: 0 !important;
font-family: Reforma,Arial,sans-serif !important;
font-weight: 700 !important;
font-size: 19.5px !important;
text-transform: uppercase !important;
}