.text-section {
    text-align: center;
}
.main .content .projects li a img {
    border-radius: 15px;
    border: 2px solid #793115;
    width: 100%;
    height: 155px;
    min-height: 153px !important;

}