@charset "UTF-8";
/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */
html {
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    font-family: $default-font;
    -webkit-font-smoothing: antialiased
}

article,
aside,
footer,
header,
nav,
section {
    display: block;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

figcaption,
figure,
main {
    display: block;
}

figure {
    margin: 1em 40px;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

pre {
    font-family: monospace, monospace;
    font-size: 1em;
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted;
}

b,
strong {
    font-weight: inherit;
}

b,
strong {
    font-weight: bolder;
}

code,
kbd,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

dfn {
    font-style: italic;
}

mark {
    background-color: #ff0;
    color: #000;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -.25em;
}

sup {
    top: -.5em;
}

audio,
video {
    display: inline-block;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

img {
    border-style: none;
}

svg:not(:root) {
    overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

button,
input {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

[type=reset],
[type=submit],
button,
html [type=button] {
    -webkit-appearance: button;
}

[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring {
    outline: 1px dotted ButtonText;
}

fieldset {
    padding: 0.35em 0.75em 0.625em;
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal;
}

progress {
    display: inline-block;
    vertical-align: baseline;
}

textarea {
    overflow: auto;
}

[type=checkbox],
[type=radio] {
    box-sizing: border-box;
    padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
    height: auto;
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

details,
menu {
    display: block;
}

summary {
    display: list-item;
}

canvas {
    display: inline-block;
}

template {
    display: none;
}

[hidden] {
    display: none;
}

.fancybox-enabled {
    overflow: hidden;
}

.fancybox-enabled body {
    overflow: visible;
    height: 100%;
}

.fancybox-is-hidden {
    position: absolute;
    top: -9999px;
    left: -9999px;
    visibility: hidden;
}

.fancybox-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99993;
    -webkit-tap-highlight-color: transparent;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

.fancybox-container~.fancybox-container {
    z-index: 99992;
}

.fancybox-bg,
.fancybox-inner,
.fancybox-outer,
.fancybox-stage {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.fancybox-outer {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.fancybox-bg {
    background: #1e1e1e;
    opacity: 0;
    transition-duration: inherit;
    transition-property: opacity;
    transition-timing-function: cubic-bezier(.47, 0, .74, .71);
}

.fancybox-is-open .fancybox-bg {
    opacity: 0.87;
    transition-timing-function: cubic-bezier(.22, .61, .36, 1);
}

.fancybox-caption-wrap,
.fancybox-infobar,
.fancybox-toolbar {
    position: absolute;
    direction: ltr;
    z-index: 99997;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.25s, visibility 0s linear 0.25s;
    box-sizing: border-box;
}

.fancybox-show-caption .fancybox-caption-wrap,
.fancybox-show-infobar .fancybox-infobar,
.fancybox-show-toolbar .fancybox-toolbar {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.25s, visibility 0s;
}

.fancybox-infobar {
    top: 0;
    left: 50%;
    margin-left: -79px;
}

.fancybox-infobar__body {
    display: inline-block;
    width: 70px;
    line-height: 44px;
    font-size: 13px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    color: #ddd;
    background-color: rgba(30, 30, 30, .7);
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: subpixel-antialiased;
}

.fancybox-toolbar {
    top: 0;
    right: 0;
}

.fancybox-stage {
    overflow: hidden;
    direction: ltr;
    z-index: 99994;
    -webkit-transform: translate3d(0, 0, 0);
}

.fancybox-slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: auto;
    outline: 0;
    white-space: normal;
    box-sizing: border-box;
    text-align: center;
    z-index: 99994;
    -webkit-overflow-scrolling: touch;
    display: none;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition-property: opacity, -webkit-transform;
    transition-property: transform, opacity;
    transition-property: transform, opacity, -webkit-transform;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.fancybox-slide::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    width: 0;
}

.fancybox-is-sliding .fancybox-slide,
.fancybox-slide--current,
.fancybox-slide--next,
.fancybox-slide--previous {
    display: block;
}

.fancybox-slide--image {
    overflow: visible;
}

.fancybox-slide--image::before {
    display: none;
}

.fancybox-slide--video .fancybox-content,
.fancybox-slide--video iframe {
    background: #000;
}

.fancybox-slide--map .fancybox-content,
.fancybox-slide--map iframe {
    background: #e5e3df;
}

.fancybox-slide--next {
    z-index: 99995;
}

.fancybox-slide > * {
    display: inline-block;
    position: relative;
    padding: 24px;
    margin: 44px 0;
    border-width: 0;
    vertical-align: middle;
    text-align: left;
    background-color: #fff;
    overflow: auto;
    box-sizing: border-box;
}

.fancybox-slide .fancybox-image-wrap {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    border: 0;
    z-index: 99995;
    background: 0 0;
    cursor: default;
    overflow: visible;
    -webkit-transform-origin: top left;
    -ms-transform-origin: top left;
    transform-origin: top left;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.fancybox-can-zoomOut .fancybox-image-wrap {
    cursor: -webkit-zoom-out;
    cursor: zoom-out;
}

.fancybox-can-zoomIn .fancybox-image-wrap {
    cursor: -webkit-zoom-in;
    cursor: zoom-in;
}

.fancybox-can-drag .fancybox-image-wrap {
    cursor: -webkit-grab;
    cursor: grab;
}

.fancybox-is-dragging .fancybox-image-wrap {
    cursor: -webkit-grabbing;
    cursor: grabbing;
}

.fancybox-image,
.fancybox-spaceball {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    max-width: none;
    max-height: none;
}

.fancybox-spaceball {
    z-index: 1;
}

.fancybox-slide--iframe .fancybox-content {
    padding: 0;
    width: 80%;
    height: 80%;
    max-width: calc(100% - 100px);
    max-height: calc(100% - 88px);
    overflow: visible;
    background: #fff;
}

.fancybox-iframe {
    display: block;
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
    height: 100%;
    background: #fff;
}

.fancybox-error {
    margin: 0;
    padding: 40px;
    width: 100%;
    max-width: 380px;
    background: #fff;
    cursor: default;
}

.fancybox-error p {
    margin: 0;
    padding: 0;
    color: #444;
    font: 16px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.fancybox-close-small {
    position: absolute;
    top: 0;
    right: 0;
    width: 44px;
    height: 44px;
    padding: 0;
    margin: 0;
    border: 0;
    border-radius: 0;
    outline: 0;
    background: 0 0;
    z-index: 10;
    cursor: pointer;
}

.fancybox-close-small:after {
    content: '×';
    position: absolute;
    top: 5px;
    right: 5px;
    width: 30px;
    height: 30px;
    font: 20px/30px Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #888;
    font-weight: 300;
    text-align: center;
    border-radius: 50%;
    border-width: 0;
    background: #fff;
    transition: background 0.25s;
    box-sizing: border-box;
    z-index: 2;
}

.fancybox-close-small:focus:after {
    outline: 1px dotted #888;
}

.fancybox-close-small:hover:after {
    color: #555;
    background: #eee;
}

.fancybox-slide--iframe .fancybox-close-small {
    top: 0;
    right: -44px;
}

.fancybox-slide--iframe .fancybox-close-small:after {
    background: 0 0;
    font-size: 35px;
    color: #aaa;
}

.fancybox-slide--iframe .fancybox-close-small:hover:after {
    color: #fff;
}

.fancybox-caption-wrap {
    bottom: 0;
    left: 0;
    right: 0;
    padding: 60px 30px 0;
    background: linear-gradient(to bottom, transparent 0, rgba(0, 0, 0, .1) 20%, rgba(0, 0, 0, .2) 40%, rgba(0, 0, 0, .6) 80%, rgba(0, 0, 0, .8) 100%);
    pointer-events: none;
}

.fancybox-caption {
    padding: 30px 0;
    border-top: 1px solid rgba(255, 255, 255, .4);
    font-size: 14px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fff;
    line-height: 20px;
    -webkit-text-size-adjust: none;
}

.fancybox-caption a,
.fancybox-caption button,
.fancybox-caption select {
    pointer-events: all;
}

.fancybox-caption a {
    color: #fff;
    text-decoration: underline;
}

.fancybox-button {
    display: inline-block;
    position: relative;
    margin: 0;
    padding: 0;
    border: 0;
    width: 44px;
    height: 44px;
    line-height: 44px;
    text-align: center;
    background: 0 0;
    color: #ddd;
    border-radius: 0;
    cursor: pointer;
    vertical-align: top;
    outline: 0;
}

.fancybox-button[disabled] {
    cursor: default;
    pointer-events: none;
}

.fancybox-button,
.fancybox-infobar__body {
    background: rgba(30, 30, 30, .6);
}

.fancybox-button:hover:not([disabled]) {
    color: #fff;
    background: rgba(0, 0, 0, .8);
}

.fancybox-button::after,
.fancybox-button::before {
    content: '';
    pointer-events: none;
    position: absolute;
    background-color: currentColor;
    color: currentColor;
    opacity: 0.9;
    box-sizing: border-box;
    display: inline-block;
}

.fancybox-button[disabled]::after,
.fancybox-button[disabled]::before {
    opacity: 0.3;
}

.fancybox-button--left::after,
.fancybox-button--right::after {
    top: 18px;
    width: 6px;
    height: 6px;
    background: 0 0;
    border-top: solid 2px currentColor;
    border-right: solid 2px currentColor;
}

.fancybox-button--left::after {
    left: 20px;
    -webkit-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

.fancybox-button--right::after {
    right: 20px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.fancybox-button--left {
    border-bottom-left-radius: 5px;
}

.fancybox-button--right {
    border-bottom-right-radius: 5px;
}

.fancybox-button--close::after,
.fancybox-button--close::before {
    content: '';
    display: inline-block;
    position: absolute;
    height: 2px;
    width: 16px;
    top: calc(50% - 1px);
    left: calc(50% - 8px);
}

.fancybox-button--close::before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.fancybox-button--close::after {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.fancybox-arrow {
    position: absolute;
    top: 50%;
    margin: -50px 0 0;
    height: 100px;
    width: 54px;
    padding: 0;
    border: 0;
    outline: 0;
    background: 0 0;
    cursor: pointer;
    z-index: 99995;
    opacity: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: opacity 0.25s;
}

.fancybox-arrow::after {
    content: '';
    position: absolute;
    top: 28px;
    width: 44px;
    height: 44px;
    background-color: rgba(30, 30, 30, .8);
    background-image: url("data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjRkZGRkZGIiBoZWlnaHQ9IjQ4IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSI0OCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gICAgPHBhdGggZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPiAgICA8cGF0aCBkPSJNMTIgNGwtMS40MSAxLjQxTDE2LjE3IDExSDR2MmgxMi4xN2wtNS41OCA1LjU5TDEyIDIwbDgtOHoiLz48L3N2Zz4=");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 24px 24px;
}

.fancybox-arrow--right {
    right: 0;
}

.fancybox-arrow--left {
    left: 0;
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    transform: scaleX(-1);
}

.fancybox-arrow--left::after,
.fancybox-arrow--right::after {
    left: 0;
}

.fancybox-show-nav .fancybox-arrow {
    opacity: 0.6;
}

.fancybox-show-nav .fancybox-arrow[disabled] {
    opacity: 0.3;
}

.fancybox-loading {
    border: 6px solid rgba(100, 100, 100, .4);
    border-top: 6px solid rgba(255, 255, 255, .6);
    border-radius: 100%;
    height: 50px;
    width: 50px;
    -webkit-animation: fancybox-rotate 0.8s infinite linear;
    animation: fancybox-rotate 0.8s infinite linear;
    background: 0 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -25px;
    margin-left: -25px;
    z-index: 99999;
}
@-webkit-keyframes fancybox-rotate {
    from {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    to {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@keyframes fancybox-rotate {
    from {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    to {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

.fancybox-animated {
    transition-timing-function: cubic-bezier(0, 0, .25, 1);
}

.fancybox-fx-slide.fancybox-slide--previous {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    opacity: 0;
}

.fancybox-fx-slide.fancybox-slide--next {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    opacity: 0;
}

.fancybox-fx-slide.fancybox-slide--current {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
}

.fancybox-fx-fade.fancybox-slide--next,
.fancybox-fx-fade.fancybox-slide--previous {
    opacity: 0;
    transition-timing-function: cubic-bezier(.19, 1, .22, 1);
}

.fancybox-fx-fade.fancybox-slide--current {
    opacity: 1;
}

.fancybox-fx-zoom-in-out.fancybox-slide--previous {
    -webkit-transform: scale3d(1.5, 1.5, 1.5);
    transform: scale3d(1.5, 1.5, 1.5);
    opacity: 0;
}

.fancybox-fx-zoom-in-out.fancybox-slide--next {
    -webkit-transform: scale3d(.5, .5, .5);
    transform: scale3d(.5, .5, .5);
    opacity: 0;
}

.fancybox-fx-zoom-in-out.fancybox-slide--current {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    opacity: 1;
}

.fancybox-fx-rotate.fancybox-slide--previous {
    -webkit-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    transform: rotate(-360deg);
    opacity: 0;
}

.fancybox-fx-rotate.fancybox-slide--next {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
    opacity: 0;
}

.fancybox-fx-rotate.fancybox-slide--current {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
    opacity: 1;
}

.fancybox-fx-circular.fancybox-slide--previous {
    -webkit-transform: scale3d(0, 0, 0) translate3d(-100%, 0, 0);
    transform: scale3d(0, 0, 0) translate3d(-100%, 0, 0);
    opacity: 0;
}

.fancybox-fx-circular.fancybox-slide--next {
    -webkit-transform: scale3d(0, 0, 0) translate3d(100%, 0, 0);
    transform: scale3d(0, 0, 0) translate3d(100%, 0, 0);
    opacity: 0;
}

.fancybox-fx-circular.fancybox-slide--current {
    -webkit-transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
    transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
    opacity: 1;
}

.fancybox-fx-tube.fancybox-slide--previous {
    -webkit-transform: translate3d(-100%, 0, 0) scale(.1) skew(-10deg);
    transform: translate3d(-100%, 0, 0) scale(.1) skew(-10deg);
}

.fancybox-fx-tube.fancybox-slide--next {
    -webkit-transform: translate3d(100%, 0, 0) scale(.1) skew(10deg);
    transform: translate3d(100%, 0, 0) scale(.1) skew(10deg);
}

.fancybox-fx-tube.fancybox-slide--current {
    -webkit-transform: translate3d(0, 0, 0) scale(1);
    transform: translate3d(0, 0, 0) scale(1);
}
@media all and (max-width:800px) {
    .fancybox-infobar {
        left: 0;
        margin-left: 0;
    }

    .fancybox-button--left,
    .fancybox-button--right {
        display: none!important;
    }

    .fancybox-caption {
        padding: 20px 0;
        margin: 0;
    }
}

.fancybox-button--fullscreen::before {
    width: 15px;
    height: 11px;
    left: calc(50% - 7px);
    top: calc(50% - 6px);
    border: 2px solid;
    background: 0 0;
}

.fancybox-button--pause::before,
.fancybox-button--play::before {
    top: calc(50% - 6px);
    left: calc(50% - 4px);
    background: 0 0;
}

.fancybox-button--play::before {
    width: 0;
    height: 0;
    border-top: 6px inset transparent;
    border-bottom: 6px inset transparent;
    border-left: 10px solid;
    border-radius: 1px;
}

.fancybox-button--pause::before {
    width: 7px;
    height: 11px;
    border-style: solid;
    border-width: 0 2px 0 2px;
}

.fancybox-thumbs {
    display: none;
}

.fancybox-button--thumbs {
    display: none;
}
@media all and (min-width:800px) {
    .fancybox-button--thumbs {
        display: inline-block;
    }

    .fancybox-button--thumbs span {
        font-size: 23px;
    }

    .fancybox-button--thumbs::before {
        width: 3px;
        height: 3px;
        top: calc(50% - 2px);
        left: calc(50% - 2px);
        box-shadow: 0 -4px 0, -4px -4px 0, 4px -4px 0, 0 0 0 32px inset, -4px 0 0, 4px 0 0, 0 4px 0, -4px 4px 0, 4px 4px 0;
    }

    .fancybox-thumbs {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: auto;
        width: 220px;
        margin: 0;
        padding: 5px 5px 0 0;
        background: #fff;
        word-break: normal;
        -webkit-tap-highlight-color: transparent;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        box-sizing: border-box;
        z-index: 99995;
    }

    .fancybox-show-thumbs .fancybox-thumbs {
        display: block;
    }

    .fancybox-show-thumbs .fancybox-inner {
        right: 220px;
    }

    .fancybox-thumbs > ul {
        list-style: none;
        position: absolute;
        position: relative;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
        overflow-y: auto;
        font-size: 0;
    }

    .fancybox-thumbs > ul > li {
        float: left;
        overflow: hidden;
        max-width: 50%;
        padding: 0;
        margin: 0;
        width: 105px;
        height: 75px;
        position: relative;
        cursor: pointer;
        outline: 0;
        border: 5px solid transparent;
        border-top-width: 0;
        border-right-width: 0;
        -webkit-tap-highlight-color: transparent;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        box-sizing: border-box;
    }

    li.fancybox-thumbs-loading {
        background: rgba(0, 0, 0, .1);
    }

    .fancybox-thumbs > ul > li > img {
        position: absolute;
        top: 0;
        left: 0;
        min-width: 100%;
        min-height: 100%;
        max-width: none;
        max-height: none;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .fancybox-thumbs > ul > li:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border-radius: 2px;
        border: 4px solid #4ea7f9;
        z-index: 99991;
        opacity: 0;
        transition: all 0.2s cubic-bezier(.25, .46, .45, .94);
    }

    .fancybox-thumbs > ul > li.fancybox-thumbs-active:before {
        opacity: 1;
    }
}
@font-face {
    font-family: Roboto;
    src: url("../fonts/Roboto/Roboto-Thin.eot");
    src: url("../fonts/Roboto/Roboto-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/Roboto-Thin.woff") format("woff"), url("../fonts/Roboto/Roboto-Thin.ttf") format("truetype");
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: Roboto;
    src: url("../fonts/Roboto/Roboto-Bold.eot");
    src: url("../fonts/Roboto/Roboto-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto/Roboto-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: Roboto;
    src: url("../fonts/Roboto/Roboto-Medium.eot");
    src: url("../fonts/Roboto/Roboto-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto/Roboto-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: Roboto;
    src: url("../fonts/Roboto/Roboto-Italic.eot");
    src: url("../fonts/Roboto/Roboto-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/Roboto-Italic.woff") format("woff"), url("../fonts/Roboto/Roboto-Italic.ttf") format("truetype");
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: Roboto;
    src: url("../fonts/Roboto/Roboto-Light.eot");
    src: url("../fonts/Roboto/Roboto-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/Roboto-Light.woff") format("woff"), url("../fonts/Roboto/Roboto-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: Roboto;
    src: url("../fonts/Roboto/Roboto-Black.eot");
    src: url("../fonts/Roboto/Roboto-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/Roboto-Black.woff") format("woff"), url("../fonts/Roboto/Roboto-Black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: Roboto;
    src: url("../fonts/Roboto/Roboto-Regular.eot");
    src: url("../fonts/Roboto/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: ReformaGroteskDemi;
    src: url("../fonts/Reforma/ReformaGroteskDemi.eot");
    src: url("../fonts/Reforma/ReformaGroteskDemi.eot?#iefix") format("embedded-opentype"), url("../fonts/Reforma/ReformaGroteskDemi.woff") format("woff"), url("../fonts/Reforma/ReformaGroteskDemi.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

::-webkit-input-placeholder {
    color: #666;
    opacity: 1;
}

:-moz-placeholder {
    color: #666;
    opacity: 1;
}

::-moz-placeholder {
    color: #666;
    opacity: 1;
}

:-ms-input-placeholder {
    color: #666;
    opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
    color: #666;
}

body input:required:valid,
body textarea:required:valid {
    color: #666;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
}

body {
    font-size: 16px;
    min-width: 320px;
    position: relative;
    font-size: 16px;
    color: #595959;
    line-height: 1.3;
    font-family: Roboto, sans-serif;
    opacity: 1;
    padding: 0;
    height: auto;
    overflow: auto;
    overflow-x: hidden;
}

.stop-scrolling {
    overflow: hidden;
}

a {
    text-decoration: none;
    color: #4962ab;
}

a:hover {
    text-decoration: underline;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

.bold-grey {
    color: #595959;
    font-size: 26px;
    font-weight: 700;
}

.look-all {
    margin-top: 10px;
}

.header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    z-index: 999;
    background-color: #7a8992;
}

.header.hero {
    background-color: transparent;
    // height: 195px;
}

.header--wrapper {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
}

.container {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    max-width: 1140px;
    padding: 0 50px;
    margin: 0 auto;
}

.section {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    min-height: 100vh;
    padding-top: 195px;
    padding-bottom: 40px;
}

.section--wrapper {
    position: relative;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 auto;
}

.section.hero {
    padding-top: 0;
    background-image: url("../img/bg.jpg");
    -webkit-background-size: cover;
    background-size: cover;
    background-position: right top;
    color: #fff;
    .section--wrapper {
        flex-direction: column;
        justify-content: space-between;
    }
}

.section.hero .row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    // position: absolute;
    width: 100%;
    bottom: 100px;
}

.section.hero .col .text {
    text-align: right;
}

.section.hero .col .text a {
    color: #d80000;
    text-decoration: none;
}

.section.hero .col .text a:hover {
    text-decoration: underline;
}

.section .kitchen--wrapper {
    margin: auto 0;
    position: relative;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}

.section .kitchen--left,
.section .kitchen--right {
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
}

.section .kitchen--left .group:not(:first-child),
.section .kitchen--right .group:not(:first-child) {
    margin-top: 50px;
}

.section .kitchen--left {
    position: relative;
    padding-right: 60px;
    border-right: 1px solid #c3c2c0;
}

.section .kitchen--left::after {
    content: '';
    display: block;
    position: absolute;
    top: 130px;
    right: -21px;
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-left: 1px solid #c3c2c0;
    border-top: 1px solid #c3c2c0;
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
}

.section .kitchen--left .moto {
    font-size: 40px;
    font-weight: 100;
    text-transform: uppercase;
    text-align: left;
    max-width: 630px;
    line-height: 1.3;
    margin-top: 0;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}

.section .kitchen--right {
    padding-left: 70px;
}

.section .kitchen--right .form__title {
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 700;
    margin: 0;
}

.section .kitchen--right .form__annotation {
    margin-top: 10px;
}

.section .kitchen {
    &--subtitle {
        font-weight: 700;
        font-size: 24px;
    }
}

.section .choose--wrapper {
    margin: auto 0;
    position: relative;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.section .choose__header {
    margin-bottom: 10px;
}

.section .slider {
    position: relative;
}

.section .slider--wrapper {
    position: relative;
}

.section .slider__item {
    width: 100%;
}

.section .slider__wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.section .slider__img {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-height: 586px;
    overflow: hidden;
}

.section .slider__img a {
    display: block;
    position: relative;
    /*bottom: 80px*/
}

.section .slider__img img {
    width: 100%;
}

.section .slider__extra {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    position: absolute;
    top: 50px;
    right: -25px;
    z-index: 10;
}

.section .slider__extra .counter {
    -webkit-transform: scale(.65) translate(97px);
    -ms-transform: scale(.65) translate(97px);
    transform: scale(.65) translate(97px);
}

.section .slider__caption {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 60px;
}

.section .slider__caption--left {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: -webkit-calc(100% - 250px);
    width: calc(100% - 250px);
    height: 100%;
    background-color: #728089;
    color: #fff;
    padding-left: 50px;
}

.section .slider__caption--right {
    width: 250px;
    height: 100%;
}

.section .slider__name {
    position: relative;
    font-family: ReformaGroteskDemi;
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
}

.section .slider__name::after {
    content: '|';
    position: relative;
    font-size: 40px;
    font-weight: 700;
    margin: 0 20px;
}

.section .slider__tech {
    font-weight: 700;
}

.section .bx-controls {
    position: absolute;
    top: 50%;
    width: 100%;
}

.section .bx-next,
.section .bx-prev {
    position: absolute;
    display: block;
    width: 33px;
    height: 62px;
    top: -31px;
}

.section .bx-prev {
    left: -40px;
    background-image: url("../img/arrow-prev.png");
}

.section .bx-next {
    right: -40px;
    background-image: url("../img/arrow-next.png");
}

.section {
    &.hero {
		padding-top: 0;
		background-image: url('../img/bg.jpg');
		background-size: cover;
		background-position: 60% top;
		color: white;
    }
}

.section.hero {
    .container {
        padding-top: 180px;
    }
    .section--wrapper {
        // display: block;
    }
    .myrow {
        &.heading-row {
            display: -webkit-flex;
            display: -ms-flex;
            display: flex;
            justify-content: space-between;
            width: 100%;
            margin-bottom: 180px;
            .header_item {
                position: relative;
                right: 65px;
                top: -40px;
                filter: drop-shadow(4px 4px 10px black)
                // width: 360px;
                // height: auto;
            }
        }
        &.smaller-text-row {
            // position: absolute;
            // bottom: 0;
            margin-top: 30px;
            font-size: 11px;
            // text-align: center;
        }
    }
}

.main-title {
    
    
    font-family: "ReformaGroteskDemi", sans-serif;
    font-face: normal !important;
    font-weight: 400 !important;
    -webkit-font-smoothing: antialiased;
    font-size: 45px;
    text-transform: uppercase;
    line-height: 1;
    text-shadow: -1px  0 #000000;
    
    // & span {
    //     color: #e90707;
    // }
}

.main-title,
.main-subtitle {
    display: none;
    span {
        display: inline-block;
        padding: 5px 10px;
        background-color: $red;
    }
}


.help--wrapper {
    margin: auto 0;
    position: relative;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.help--wrapper .form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    /*-webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;*/
    -ms-align-items: flex-start;
    align-items: flex-start;
    width: 100%;
}

.help--wrapper .form--left .moto {
    font-size: 40px;
    font-weight: 100;
    text-transform: uppercase;
    text-align: left;
    max-width: 630px;
    line-height: 1.3;
    margin-top: 30px;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}

.help--wrapper .form--right {
    margin-left: 20px;
}

.help--wrapper .form--right .form__label {
    margin-top: 38px;
}

.help--wrapper .form__title {
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 700;
    margin: 30px 0 10px;
    color: #d80000;
}

.help--wrapper .form__collection {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 50px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    border: 2px solid #c3c2c0;
    font-size: 20px;
}

.help--wrapper .form__collection--left,
.help--wrapper .form__collection--right {
    width: 200px;
}

.help--wrapper .form__area {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    margin-top: 50px;
}

.help--wrapper .form__area--input {
    width: 125px;
    border: 0;
    border-bottom: 1px solid #c4c3c1;
    padding: 5px 20px;
    font-family: Roboto, sans-serif;
    font-weight: 100;
    text-align: center;
    font-size: 20px;
    margin-right: 10px;
}

.help--wrapper .form__checkbox:not(:first-child) {
    margin-top: 50px;
}

.help--wrapper .form__checkbox input:checked+.form__label::after {
    content: '✓';
    display: inline-block;
    position: absolute;
    top: -5px;
    left: 2px;
    font-size: 30px;
    font-family: Roboto, sans-serif;
    font-weight: 900;
    color: #d80000;
}

.help--wrapper .form__checkbox .form__label {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    margin-top: 10px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.help--wrapper .form__checkbox .form__label::before {
    content: '';
    display: inline-block;
    position: relative;
    width: 25px;
    height: 25px;
    border: 2px solid #c3c2c0;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    margin-right: 10px;
}

.gallery {
    background-color: #ccbaa2;
}

.gallery--wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    width: 100%;
    margin: auto 0;
}

.gallery__header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
}

.gallery__footer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    margin-top: 30px;
    max-height: 95px;
}

.gallery__footer .group {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.gallery__footer .moto {
    font-size: 40px;
    font-weight: 100;
    text-transform: uppercase;
    text-align: left;
    max-width: 630px;
    line-height: 1.3;
    color: #fff;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    margin: 0;
}

.gallery__footer .counter {
    -webkit-transform: scale(.8) translate(30px, -13px);
    -ms-transform: scale(.8) translate(30px, -13px);
    transform: scale(.8) translate(30px, -13px);
}

.gallery__footer .btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.gallery__slider {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.gallery__slider .slider__item {
    width: 340px;
    height: 230px;
}

.gallery__slider .slider__item img {
    width: 100%;
}

.gallery__slider .bx-pager {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    bottom: -260px;
    width: 100%;
}

.gallery__slider .bx-pager-item:not(:first-child) {
    margin-left: 15px;
}

.gallery__slider .bx-pager-link {
    position: relative;
    visibility: hidden;
}

.gallery__slider .bx-pager-link.active::after {
    background-color: #d80000;
}

.gallery__slider .bx-pager-link::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    visibility: visible;
    width: 16px;
    height: 16px;
    background-color: #fff;
    border: 1px solid #c7c7c6;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    cursor: pointer;
}

.house-and-banya {
    &--heading {
        display: flex;
        justify-content: space-between;
        margin-bottom: 70px;
        .title {
            color: $red;
            margin: 0;
            font-weight: normal;
        }
        a {
            text-align: right;
        }
    }
    &--content {
        .images {
            display: flex;
            justify-content: space-between;
            position: relative;
            .image {
                display: flex;
                align-items: center;
                justify-content: space-around;
                overflow: hidden;
                width: 49.5%;
                img {
                    min-height: 100%;
                    width: auto;
                }
            }
            &::after {
                position: absolute;
                top: 50px;
                left: 50%;
                transform: translateX(-60px);
                display: flex;
                height: 120px;
                width: 120px;
                content: '+';
                align-items: center;
                justify-content: space-around;
                font-size: 100px;
                border-radius: 50%;
                background-color: #fff;
            }
        }
        .caption {
            display: flex;
            justify-content: space-between;
            .btn {
                height: 70px;
                align-self: center;
            }
        }
    }
}

.motto {
    font-size: 47px;
    font-family: Roboto, sans-serif;
    font-weight: 100;
    text-transform: uppercase;
}

.feedback {
    background-color: #464646;
}

.feedback--wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    margin: auto 0;
}

.feedback__header .title {
    margin-bottom: 30px;
}

.feedback .slider__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    max-height: 444px;
    overflow: hidden;
}

.feedback .slider__video {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.feedback .slider__panel {
    position: relative;
    width: 250px;
    background-color: #fff;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, .3);
    box-shadow: 0 0 20px rgba(0, 0, 0, .3);
    padding: 30px;
    z-index: 1;
}

.feedback .slider__video-name {
    font-family: Roboto, sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 1.3;
    margin-bottom: 20px;
}

.feedback .slider__house {
    font-weight: 700;
    font-size: 20px;
}

.feedback .slider .bx-controls-direction {
    -webkit-filter: invert(1);
    filter: invert(1);
}

.feedback .slider .bx-pager {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    bottom: -260px;
    width: 100%;
}

.feedback .slider .bx-pager-item {
    position: relative;
    margin: 0 7px;
}

.feedback .slider .bx-pager-link {
    position: relative;
    visibility: hidden;
}

.feedback .slider .bx-pager-link.active::after {
    background-color: #d80000;
}

.feedback .slider .bx-pager-link::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    visibility: visible;
    width: 16px;
    height: 16px;
    background-color: #fff;
    border: 1px solid #c7c7c6;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    cursor: pointer;
}

.feedback__footer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    margin-top: 60px;
    max-height: 95px;
}

.feedback .group {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.feedback .moto {
    font-size: 40px;
    font-weight: 100;
    text-transform: uppercase;
    text-align: left;
    max-width: 630px;
    line-height: 1.3;
    color: #fff;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    margin: 0;
}

.feedback .counter {
    -webkit-transform: scale(.8) translate(30px, -13px);
    -ms-transform: scale(.8) translate(30px, -13px);
    transform: scale(.8) translate(30px, -13px);
}

.feedback .btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.materials {
    height: auto;
    min-height: 100vh;
    .container-flex {
        display: flex;
        justify-content: space-between;
        width: 100%;
        .group {
            display: flex;
            align-items: center;
            .counter {
                align-items: center;
                height: 90px;
                &__item {
                    height: 100%;
                    width: 60px;
                    
                }
                &__digits {
                    font-size: 40px;
                }
                &__time {
                    font-size: 12px;
                }
            }    
            .btn {
                height: 90px;
                margin-left: 10px;
                display: flex;
                justify-content: space-around;
                align-items: center;
            }
        }
    }
}

.materials--wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 100%;
    margin: auto 0;
}

.materials__header {
    width: 100%;
    position: relative;
    margin-bottom: 30px;
}

.materials__header .title {
    margin-bottom: 30px;
}

.materials__header .group {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    position: absolute;
    top: 0;
    right: 0;
}

.materials__header .group .counter {
    -webkit-transform: scale(.7) translate(75px, -15px);
    -ms-transform: scale(.7) translate(75px, -15px);
    transform: scale(.7) translate(75px, -15px);
}

.materials__header .group .btn {
    width: 250px;
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
}

.materials__header .group .look-all {
    color: #d80000;
    font-size: 20px;
    padding-right: 13px;
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
}

.materials__body {
    min-width: 100%;
    display: flex;
}

.materials__raw {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.materials__raw .item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    min-width: 330px;
}
/*.materials__raw .item:not(:first-child) {
  margin-left: 50px
}*/
.materials__raw .item__icon {
    margin-right: 20px;
}

.materials__raw .item__text {
    font-family: ReformaGroteskDemi;
    font-size: 40px;
    text-transform: uppercase;
    line-height: 1;
}

.materials__tech {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    flex: 1;/*width: 100%;*/
}

.materials__tech .item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    /*min-width: 330px*/
    width: 50%;
    margin-left: 20px;
}
/*.materials__tech .item:not(:first-child) {
  margin-left: 10px
}*/
/*.materials__tech .item:not(:last-child) {
  margin-right: 10px;
}*/
.materials__tech .item__img {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 250px;
}

.materials__tech .item__img img {
    position: relative;
    width: 60%;
    height: auto;
}

.materials__tech .item__name {
    font-family: ReformaGroteskDemi;
    font-size: 40px;
    text-transform: uppercase;
    line-height: 1;
}

.partner {
    background-color: #e5e5e5;
    overflow-x: hidden;
}

.partner--wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    width: 100%;
    margin: auto 0;
}

.partner--left {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-right: 40px;
}

.partner--right {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.partner--right .row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 10px;
}

.partner--right .row > img:nth-of-type(even) {
    margin-left: 10px;
}

.partner--right .row:last-child {
    margin-bottom: 0;
}

.partner--right .col {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.partner--right .col:nth-of-type(even) {
    margin-left: 12px;
}

.partner--right .col > img:nth-of-type(even) {
    margin-top: 12px;
}

.partner__logo img {
    // -webkit-transform: translate(-25px, 0);
    // -ms-transform: translate(-25px, 0);
    // transform: translate(-25px, 0);
    margin-bottom: 150px;
}

.partner__title {
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 700;
    margin: 0;
}

.partner__contacts {
    margin-top: auto;
}

.partner__contacts a {
    color: inherit;
}

.partner__contacts a:hover {
    color: #d80000;
}

.contacts {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-bottom: 0;
}

.contacts .container {
    width: 100%;
}

.contacts--wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    width: 100%;
    margin: auto 0;
}

.contacts__footer {
    background-color: #7a8992;
    padding: 30px 0;
    font-size: 12px;
    color: #fff;
}

.contacts__map {
    width: 100%;
    position: relative;
}

.contacts__panel {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff;
    position: absolute;
    padding: 40px;
    top: 50%;
    left: 50px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 1;
}

.contacts__panel .group {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    padding-left: 40px;
}

.contacts__panel .group:not(:first-child) {
    margin-top: 10px;
}

.contacts__panel .group a {
    color: inherit;
}

.contacts__panel .group a:hover {
    color: #d80000;
}

.contacts__panel .group.address::after,
.contacts__panel .group.email::after,
.contacts__panel .group.phone::after,
.contacts__panel .group.site::after {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    background-position: 0 0;
    background-repeat: no-repeat;
}

.contacts__panel .group.address::after {
    width: 20px;
    height: 30px;
    background-image: url("../img/map.png");
}

.contacts__panel .group.phone::after {
    width: 23px;
    height: 23px;
    background-image: url("../img/phone.png");
}

.contacts__panel .group.email::after {
    width: 21px;
    height: 16px;
    background-image: url("../img/email.png");
}

.contacts__panel .group.site::after {
    width: 24px;
    height: 24px;
    background-image: url("../img/globe.png");
}

.contacts__panel .socials {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 30px;
}

.contacts__panel .socials > div {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.contacts__panel .socials > div:first-child {
    margin-bottom: 10px;
}

.contacts__panel .socials a {
    position: relative;
    display: block;
    width: 46px;
    height: 46px;
    background-image: url("../img/socials.png");
    background-repeat: no-repeat;
}

.contacts__panel .socials .fb {
    background-position: 0 0;
}

.contacts__panel .socials .tw {
    background-position: -57px 0;
}

.contacts__panel .socials .vk {
    background-position: -114px 0;
}

.contacts__panel .socials .ok {
    background-position: -171px 0;
}

.contacts__panel .socials .in {
    background-position: -228px 0;
}

.contacts__panel .socials .lj {
    background-position: 0 -51px;
}

.logo {
    width: 50px;
    height: 100%;
    // min-height: 195px;
    background-color: #4d616e;
    margin-right: 40px;
    background-image: url("../img/logo.png");
    background-repeat: no-repeat;
    background-position: 50%;
    -webkit-background-size: 60% 60%;
    background-size: 60%;
    &.hero {
        // width: 219px;
        background-position: 50%;
        -webkit-background-size: 80% 80%;
        background-size: 80%;
        background-color: transparent;
    }
}

.nav {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.nav__link {
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}

.nav__link.active {
    text-decoration: underline;
}

.sandwich-button {
    display: block;
    height: 30px;
    width: 30px;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    padding: 15px;
    /*background-color: red;*/
    display: none;
    color: #7a8992;
    font-size: 30px;
    -webkit-transform: translate(15px, 0);
    -ms-transform: translate(15px, 0);
    transform: translate(15px, 0);
}

.moto {
    font-size: 65px;
    font-weight: 100;
    text-transform: uppercase;
    text-align: center;
    max-width: 630px;
    line-height: 1.3;
    margin-top: 0;
    -webkit-transform: translateY(-50px);
    -ms-transform: translateY(-50px);
    transform: translateY(-50px);
}

.title {
    font-family: ReformaGroteskDemi, sans-serif;
    font-size: 55px;
    text-transform: uppercase;
    line-height: 1;
    margin-bottom: 10px;
}

.title--grey {
    color: #595959;
}

.title--white {
    color: #fff;
}

.title > span {
    color: #d80000;
}

.counter {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    color: #595959;
}

.counter__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align: center;
    padding: 10px;
    width: 80px;
    height: 120px;
    border: 2px solid #c3c2c0;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background-color: #fff;
}

.counter__item:not(:first-child) {
    margin-left: 12px;
}

.counter__digits {
    font-size: 70px;
    font-family: ReformaGroteskDemi, sans-serif;
    text-transform: uppercase;
    line-height: 1;
}

.bx-next:hover,
.bx-prev:hover {
    opacity: 0.8;
}

.btn {
    display: inline-block;
    background-color: #d80000;
    color: #fff;
    border: none;
    font-family: Roboto, sans-serif;
    font-size: 20px;
    padding: 15px 20px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}

.btn:hover {
    text-decoration: none;
    -webkit-filter: brightness(1.1);
    filter: brightness(1.1);
}

.btn--big {
    text-transform: uppercase;
    font-weight: 700;
}

.btn--form {
    padding: 25px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.btn--modal {
    padding: 25px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    width: 100%;
}

.btn--grey {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0;
    width: 100%;
    height: 60px;
    background-color: #7a8992;
}

.btn--label {
    width: 230px;
    height: 80px;
    text-transform: uppercase;
    font-weight: 700;
}

.btn--label:hover {
    opacity: 1;
    -webkit-filter: brightness(1.1);
    filter: brightness(1.1);
}

.btn--label::after {
    content: '';
    position: absolute;
    height: 0;
    width: 0;
    top: -17px;
    right: 0;
    border-bottom: 17px solid #730000;
    border-right: 25px solid transparent;
}

.btn--slider {
    width: 100%;
    height: 100%;
    background-color: #4d616e;
}

.btn--slider:hover {
    opacity: 1;
    -webkit-filter: brightness(1.1);
    filter: brightness(1.1);
}

.form__group:not(:first-child) {
    margin-top: 50px;
}

.form__label {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    margin-top: 10px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}

.form__label--checkbox {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.form__label--checkbox::before {
    content: '';
    display: inline-block;
    position: relative;
    width: 25px;
    min-width: 25px;
    height: 25px;
    border: 2px solid #c3c2c0;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    margin-right: 10px;
}

.form__input {
    margin-top: 10px;
    height: 70px;
    border: 2px solid #c3c2c0;
    padding: 0 20px;
    font-family: Roboto, sans-serif;
    font-size: 20px;
    font-weight: 100;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.checkbox-input:checked+.form__label--checkbox::after {
    content: '✓';
    display: inline-block;
    position: absolute;
    top: -5px;
    left: 2px;
    font-size: 30px;
    font-family: Roboto, sans-serif;
    font-weight: 900;
    color: #d80000;
}

.modal {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .4);
    z-index: 999;
}

.modal.active {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.modal__dialog {
    position: relative;
    width: 460px;
    height: auto;
    background-color: #fff;
    padding: 40px;
}

.modal__title {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 0;
}

.modal__title > span:first-child {
    font-weight: 400;
    text-transform: uppercase;
    font-size: 22px;
    margin: 0;
    color: #898989;
}

.modal__subtitle {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 700;
    margin: 0;
    color: #898989;
    font-weight: 400;
}

.modal__subtitle > span:last-child {
    font-family: ReformaGroteskDemi, sans-serif;
    font-size: 55px;
    line-height: 1;
    margin-bottom: 10px;
    color: #d80000;
    text-transform: initial;
}

.modal .close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 34px;
    height: 33px;
    background-image: url("../img/cross.png");
    -webkit-background-size: contain;
    background-size: contain;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.modal .close:hover {
    opacity: 0.8;
}

.modal-call {
    z-index: 1000;
}

#modal-rules .modal__dialog {
    height: -webkit-calc(100vh - 300px);
    height: calc(100vh - 300px);
    overflow: auto;
}

#modal-house {
    display: none;
    width: 100%;
    height: -webkit-calc(100% - 195px);
    height: calc(100% - 195px);
    position: fixed;
    top: 50px;
    left: 0;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #dedede;
    z-index: 999;
}

#modal-house.active {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

#modal-house .modal__dialog {
    position: relative;
    width: 1140px;
    height: 650px;
    background-color: #fff;
    padding: 40px;
    margin-top: 50px;
}

#modal-house .modal__tabs {
    position: absolute;
    height: 50px;
    top: -50px;
    left: 40px;
}

#modal-house .modal__tabs > a {
    display: inline-block;
    height: 100%;
    background-color: #b3b8bc;
    padding: 15px 20px;
    width: 320px;
    text-align: center;
    color: inherit;
}

#modal-house .modal__tabs > a:hover {
    text-decoration: none;
    -webkit-filter: brightness(1.1);
    filter: brightness(1.1);
}

#modal-house .modal__tabs > a.active {
    background-color: #fff;
}

#modal-house .modal__tabs > a:not(:first-child) {
    margin-left: 5px;
}

#modal-house .modal__content .tab {
    display: none;
}

#modal-house .modal__content .tab.active {
    display: block;
}

#modal-house .checkbox-input:checked+.form__label--checkbox::after {
    top: 0;
}

#modal-house .modal__content--wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

#modal-house .modal__content--left {
    width: 645px;
}

#modal-house .modal__content--right {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-left: 50px;
    padding-top: 65px;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

#modal-house .modal__content--right .group:not(:first-child) {
    margin-top: 20px;
}

#modal-house .modal__content--right .list {
    list-style: none;
    padding: 0;
    margin: 0;
}

#modal-house .modal__content--right .list li {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    font-size: 14px;
}

#modal-house .modal__content--right .list li:not(:first-child) {
    margin-top: 10px;
}

#modal-house .modal__content--right .list li strong {
    width: 180px;
    padding-right: 15px;
    white-space: nowrap;
}

#modal-house .modal__content--right .list li span {
    max-width: 160px;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
}

#modal-house .modal__content--right .form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

#modal-house .modal__content--right .form__title {
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 700;
    margin: 0;
}

#modal-house .modal__content--right .form__group:not(:first-child) {
    margin-top: 25px;
}

#modal-house .modal__content--right .btn {
    width: 100%;
    max-height: 73px;
}

#modal-house .modal__header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

#modal-house .modal__header .title {
    margin-bottom: 0;
    font-size: 45px;
    white-space: nowrap;
}

#modal-house .modal__params {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: right;
}

#modal-house .modal__slider {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
}

#modal-house .modal__slider .bx-viewport {
    height: 100%;
}

#modal-house .modal__slider .bx-slider > li {
    display: inline-block;
    width: 646px!important;
    height: 418px;
}

#modal-house .modal__slider .bx-slider > li > img {
    display: block;
    height: 100%;
    margin: 0 auto;
}

#modal-house .modal__slider .bx-pager {
    margin-top: 10px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 10px;
}

#modal-house .modal__slider .bx-pager > a {
    display: block;
    width: 150px;
    height: 110px;
    overflow: hidden;
}

#modal-house .modal__slider .bx-pager > a > img {
    display: block;
    height: 100%;
    margin: 0 auto;
}

#modal-house .modal__slider .bx-controls {
    position: absolute;
    top: 50%;
    width: 645px;
}

#modal-house .modal__slider .bx-next,
#modal-house .modal__slider .bx-prev {
    position: absolute;
    display: block;
    width: 33px;
    height: 62px;
    top: -31px;
    -webkit-transform: scale(.5);
    -ms-transform: scale(.5);
    transform: scale(.5);
}

#modal-house .modal__slider .bx-prev {
    left: -40px;
    background-image: url('../img/arrow-prev.png');
}

#modal-house .modal__slider .bx-next {
    right: -40px;
    background-image: url('../img/arrow-next.png');
}

.slider__img img {
    height: 100%;
}

.section {
    &.choose {
        height: auto;
		background-color: #dedede;
		padding-bottom: 150px;
    }

	.choose {
        &__header {
            margin-bottom: 55px;
        }
		&--wrapper {
            max-width: 100%;
        }
    }
}

.section {
    &.choose {
        height: auto;
		background-color: #dedede;
		padding-bottom: 150px;
    }

	.choose {
        &__header {
            margin-bottom: 55px;
        }
		&--wrapper {
            max-width: 100%;
        }
    }
}

.choose-house {
    &--houses {
        max-width: 1050px;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        flex-wrap: wrap;
        margin-left: -10px;
        // justify-content: space-around;
        // justify-content: space-between;
    }
	&--row {
        display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		margin-left: -10px;
		&:nth-of-type(odd) {
            .house {
                flex-direction: row-reverse;
            }
        }
    }

	// .house--img {
    //     height: 260px;
    //     img {
    //         height: 100%;
    //     }
    // }

	&--house {
        height: 260px;
        margin-bottom: 10px;
        background-color: #fff;
    }
}


.house {
    display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	justify-content: space-between;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    flex-direction: row-reverse;
	&__important {
        width: 100%;
        .house--caption {
        	width: 257.5px;
        }
    }

	&--wrapper {
        &__important {
            max-width: 100%;
        }
        padding-left: 10px;
		flex: 1;
		// max-width: 100%;
        max-width: 50%;
        &:nth-child(4n-1),
        &:nth-child(4n-2), {
            .house {
                flex-direction: row;
            }
        }
    }
	&--caption {
        width: 50%;
		padding: 25px;
    }
	&--heading {
        font-family: 'ReformaGroteskDemi', Helvetica, Arial, sans-serif;
		text-transform: uppercase;
		font-size: 30px;
		line-height: 30px;
		font-weight: normal;
		margin-bottom: 10px;
		margin-top: 0;
		a {
            color: $red;
			&:hover {
                text-decoration: none;
            }
        }
    }

	&--details {
        color: #000;
        font-size: 12px;
    }

	&--details-item {
        font-weight: 400;
		margin-bottom: 15px;
    }

	&--materials {
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        // justify-content: space-between;
        font-weight: 100;
        margin-bottom: 15px;
    }

	&--material {
        display: inline-block;
        margin-right: 5px;
        padding: 1px 8px;
        border: 1px dotted #ccc;
        font-size: 14px;
        text-transform: lowercase;
    }

	&--more {
        display: block;
        padding: 12px 30px;
        color: #fff;
        background-color: $red;
        text-align: center;
    }

	.arrow {
        position: relative;
        top: 1px;
		right: -5px;
    }

	&--img {
        flex: 1;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		overflow: hidden;
		justify-content: space-around;
		// width: 50%
		// max-width: 50%
        // min-width: 50%
        height: 260px;
        img {
            align-self: center;   
            width: 100%;
            height: auto;
            min-height: 100%;
            min-width: 260px;
        }
        &__important {
            img {
                height: 100%;
                width: auto;
                min-width: auto;
            }
        }
    }
}


.house--more {
    font-size: 14px;
}


.house--materials {
	flex-wrap: wrap;
}
/*.section.choose .btn.btn--label {
  padding-left: 60px;
  padding-right: 60px;
}*/

.section.questions {
    padding-top: 110px;
    margin-top: 50px;
    min-height: 390px;
    background-color: #7a8992;
}

.questions {
    .container {
        display: block;
    }
    color: #fff;
    &--header {
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        justify-content: space-between;
        align-items: center;
        // height: 65px;
        line-height: 1;
        margin-bottom: 45px;
    }
    &--heading {
        font-family: "ReformaGroteskDemi";
        font-size: 65px;
        text-transform: uppercase;
        margin: 0;
    }
    &--message {
        text-align: right;
        font-family: "Roboto", sans-serif;
        p {
            margin: 0;
            line-height: 1;
        }
        p:first-child {
            font-size: 26px;
            text-transform: uppercase;
            font-weight: 600;
        }
        p:last-child {
            font-size: 20px;
        }
    }
    &--form {
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        label {
            flex: 1.3;
            font-size: 20px;
        }
        input {
            margin-top: 15px;
            display: block;
            height: 70px;
            border: none;
            border-radius: 4px;
            padding: 25px 30px;
            width: 90%;
            font-weight: 100;
            color: #595959;
            font-family: "Roboto", sans-serif;
        }
        button {
            flex: 1;
            display: block;
            border: none;
            height: 70px;
            background-color: $red;
            color: #fff;
            font-size: 20px;
            border-radius: 4px;
            font-family: "Roboto", sans-serif;
            &:hover {
                background-color: lighten($red, 10%);
                cursor: pointer;
            }
        }
    }
}

.code-modal {
    // position: relative;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    // transform: translateX(-150px);
    justify-content: space-around;
    align-items: center;
    background-color: rgba(black, 0.3);
    // width: 400px;
    &--container {
        position: relative;
        width: 350px;
        padding: 25px;
        border-radius: 4px;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
        background-color: #fff;
    }

    &.active {
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        // display: block !important;
        // height: auto !important;
        &.error {
            &--container {
                border: 1px solid $red;
                box-shadow: 0 0 15px rgba($red, 0.5);
            }
            .attention,
            .code,
            .small-text,
            .save,
            .message {
                display: none;
            }
            .error-msg {
                display: block;
            }
        }
    }
    .attention {
        font-family: "ReformaGroteskDemi", sans-serif;
        font-size: 40px;
        text-transform: uppercase;
        margin-bottom: 20px;
        font-weight: 600;
    }
    .message {
        text-transform: uppercase;
        &::first-line {
            color: $red;
        }
        font-family: "Roboto", sans-serif;
        font-size: 15px;
    }
    .code {
        display: block;
        font-family: "ReformaGroteskDemi", sans-serif;
        font-size: 80px;
        text-align: center;
        color: $red;
        font-weight: 700;
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .small-text {
        font-size: 12px;
    }
    .save {
        background-color: $red;
        color: #fff;
        padding: 15px 35px;
        border: none;
        display: block;
        width: 100%;
        margin: 40px auto 0;
        display: block;
        text-align: center;
        &:hover {
            background-color: lighten($red, 10%);
        }
    }
    .close {
        font-family: "Roboto", sans-serif;
        position: absolute;
        top: 0;
        right: 10px;
        font-size: 40px;
        line-height: 1;
        font-weight: 100;
        background: none;
        border: none;
        display: block;
        &:hover {
            cursor: pointer;
            color: #777;
        }
    }
    .error-msg {
        display: none;
        font-size: 1.2em;
        // color: $red;
    }
}
