@media only screen and (max-width: 1200px) {
    .section.choose {
        .container {
            max-width: 100%;
        }
    }
    .choose-house {
        &--houses {
            width: 100%;
            // justify-content: flex-end;
            // justify-content: space-around;
            margin-left: -10px;
        }

    }
    .house {
        flex-direction: column-reverse !important;
        height: auto;
        width: 290px;
        &__important {
            // flex-direction: row-reverse !important;
            .house--wrapper {
                width: 100%;
            }
        }

        &--wrapper {
            display: -webkit-flex;
            display: -ms-flex;
            display: flex;
            justify-content: space-around;
            min-width: 300px;
            max-width: 25%;
            padding-left: 10px;
        }

        &--caption {
            // width: 257.5px;
            width: auto;
        }
    }
}

@media only screen and (max-width: 1100px) {
    .house-and-banya {
        >.container>div {
            width: 100%;
        }
        &--content {
            .images {
                flex-direction: column;
                align-items: center;
                &::after {
                    top: 50%;
                    transform: translate(-60px, -65px)
                }
                .image {
                    width: 100%;
                    margin-bottom: 10px;
                }
            }
            .caption {
                flex-direction: column;
                .motto {
                    text-align: center;
                    br {
                        display: none;
                        
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 860px) {
    .choose-house {
        &--houses {
            justify-content: space-around;
            // margin-left: 0;
        }
    }
}

@media only screen and (min-width: 993px) {
    .header.hero {
        height: 195px;
    }
    .logo.hero {
        width: 219px;
    }
}

@media only screen and (max-width: 992px) {
    body,
    html {
        height: auto;
        /*overflow: auto*/
    }

    .main-title,
    .main-subtitle {
        display: block;
    }

    .section {
        height: auto;
        min-height: initial;
        padding: 135px 0;
    }

    .section.hero {
        background-image: url("../img/bg_2.jpg");
    }

    .section.contacts {
        padding-bottom: 0;
    }

    .section--wrapper {
        height: 100vh;
    }

    .header {
        position: fixed;
        height: 60px;
        background-color: white;
        /*padding: 20px 0;*/
        /*display: none;*/
        -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.5);
        box-shadow: 0 3px 3px rgba(0, 0, 0, 0.5);
    }

    .header.hero {
        background-color: white;
    }

    .header--wrapper {
        /*-webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;*/
        /*-ms-flex-direction: column;*/
        /*flex-direction: column*/
        /*display: block;*/
        position: relative;
        justify-content: space-between;
        padding: 10px 0;
    }

    .header--wrapper .nav {
        display: none;
    }

    .header--wrapper .nav {
        position: absolute;
        top: 60px;
        left: -50px;
        width: 100vw;
        margin-top: 0;
        background-color: white;
        -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.5);
        box-shadow: 0 3px 3px rgba(0, 0, 0, 0.5);
    }

    .nav__link {
        display: block;
        text-align: left;
        padding: 10px 15px 10px 50px;
        color: black;
        font-family: ReformaGroteskDemi, sans-serif;
        font-size: 1.2em;
    }

    .nav__link:first-of-type {
        padding-top: 20px;
    }

    .nav__link:last-of-type {
        padding-bottom: 20px;
    }

    .sandwich-button {
        display: inline-block;
        cursor: pointer;
    }

    .logo {
        display: inline-block;
        margin-right: 0;
        width: 60px;
        min-height: 60px;
    }

    .logo.hero {
        background-color: #4d616e;
        -webkit-background-size: 60%;
        background-size: 60%;
    }

    .help--wrapper {
        width: 100%;
    }

    .help--wrapper .form {
        width: 100%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .form--left,
    .form--right {
        width: 100%;
    }

    .help--wrapper .form__collection {
        padding: 30px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: stretch;
        -webkit-align-items: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
    }

    .form__collection--left {
        margin-bottom: 40px;
    }

    .help--wrapper .form__checkbox .form__label::before {
        min-width: 25px;
    }

    .help--wrapper .form--left .moto {
        font-size: 30px;
    }

    .help--wrapper .form--left .group {
        display: none;
    }

    .help--wrapper .form--right {
        margin-left: 0;
    }

    .section {
        &.hero {
            .myrow.heading-row {
                flex-direction: column;
                margin-bottom: 220px;
                .header_item {
                    width: 300px;
                    position: static;
                    align-self: center;
                    margin-top: 90px;
                }
            }
            .counter {
                margin-bottom: 20px;
            }
        }
    }

    .section .kitchen--wrapper {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 100%;
    }

    .section .kitchen--right {
        -webkit-box-flex: 1;
        -webkit-flex: 1 0 auto;
        -ms-flex: 1 0 auto;
        flex: 1 0 auto;
    }

    .section .kitchen--left {
        padding-right: 0;
        border-right: 0;
        margin-bottom: 30px;
        -webkit-box-flex: 1;
        -webkit-flex: 1 0 auto;
        -ms-flex: 1 0 auto;
        flex: 1 0 auto;
    }

    .section .kitchen--left::after {
        content: none;
    }

    .section .kitchen--left .moto {
        font-size: 30px;
    }

    .section .kitchen--left .group .counter {
        /*-webkit-transform: scale(.7) translateX(-40px);
    -ms-transform: scale(.7) translateX(-40px);*/
        /*transform: translateX(-40px)*/
    }

    .section .kitchen--right {
        padding-left: 0;
        width: 100%;
    }

    .btn--form {
        display: block;
        margin: 0 auto;
    }

    .feedback .btn {
        font-size: 90%;
    }

    .feedback .moto {
        font-size: 30px;
    }

    .partner--left {
        padding-right: 0;
        margin-right: 50px;
    }

    .partner--right {
        display: none;
    }

    .questions {
        &--header {
            flex-direction: column;
        }
        &--heading {
            text-align: center;
        }
        &--message {
            text-align: center;
            margin-top: 30px;
        }
    }

    .materials {
        .container-flex {
            flex-direction: column;
            .motto {
                text-align: center;
                br {
                    display: none;
                }
            }
            .group {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            .counter {
                margin-bottom: 15px;
            }
       }
    }
}
@media only screen and (max-width:768px) {
    .header {
        /*display: none;*/
    }

    .header--wrapper .nav {
        left: -10px;
    }

    .header--wrapper .nav__link {
        padding: 10px;
    }

    .counter {
        /*padding: 0 100px;*/
        justify-content: space-around;
    }

    .container {
        padding: 0 10px;
        width: 100%;
    }

    .section {
        width: 100%;
    }

    .section--wrapper {
        width: 100%;
        height: auto;
    }

    .moto {
        font-size: 30px;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }

    .section.hero {
        padding: 100px 0 30px;
    }

    .section.hero .row {
        position: relative;
        bottom: 0;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        text-align: center;
    }

    .col {
        width: 100%;
    }

    .title {
        font-size: 40px;
    }



    .section.hero {
        .myrow {
            &.smaller-text-row {
                position: static;
                margin-top: 30px;
            }
            &.heading-row {
                flex-direction: column;
                .header_item {
                    position: static;
                    width: 300px;
                    align-self: center;
                }
            }
            &.counter-row {
                position: static;
            }
        }
    }

    // .counter {
    //     -webkit-transform: scale(.7);
    //     -ms-transform: scale(.7);
    //     transform: scale(.7);
    // }

    .section.hero .col .text {
        text-align: center;
    }

    .choose--wrapper {
        width: 100%;
    }

    .choose .slider--wrapper {
        width: 100%;
    }

    .choose .slider__extra {
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        height: 60px;
        width: 100%;
        top: auto;
        bottom: -66px;
        right: auto;
        left: 0;
        justify-content: space-between;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .section.choose .slider__extra .counter {
        position: absolute;
        bottom: 0;
        right: 0;
        /*display: inline-block;*/
        transform: scale(.50);
        transform-origin: bottom right;
        /*transform: none;*/
    }

    .section.choose .slider__extra .counter__item {
        /*height: 80px;*/
    }

    .section.choose .btn.btn--label {
        height: 60px;
        /*width: 200px;*/
        width: calc(100% - 185px);
        padding: 20px 10px;
        /*font-size: 0.9em;*/
        /*line-height: 44px;*/
    }

    .section.choose .btn.btn--label br {
        display: none;
    }
    /*.section.choose .btn.btn--slider {
    width: 100px;
  }*/
    .section.choose .btn.btn--label:after {
        display: none;
    }

    .section.choose .slider__caption--left {
        width: calc(100% - 150px);
        padding-left: 10px;
        padding-right: 10px;
        justify-content: space-between;
    }

    .section.choose .slider__caption--left .slider__name {
        font-size: 2em;
        white-space: nowrap;
    }

    .section.choose .slider__caption--left .slider__name:after {
        display: none;
    }

    .section.choose .slider__caption--left .slider__tech {
        font-size: 0.9em;
        padding-left: 10px;
        text-align: center;
    }

    .section.choose .slider__caption--right {
        width: 150px;
    }

    .section.choose .slider__caption--right .btn {
        font-size: 0.8em;
    }
    /*.section .kitchen--wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%
  }
  .section .kitchen--right {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto
  }
  .section .kitchen--left {
    padding-right: 0;
    border-right: 0;
    margin-bottom: 30px;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto
  }
  .section .kitchen--left::after {
    content: none
  }
  .section .kitchen--left .moto {
    font-size: 30px
  }
  .section .kitchen--left .group .counter {
    -webkit-transform: scale(.7) translateX(-40px);
    -ms-transform: scale(.7) translateX(-40px);
    transform: scale(.7) translateX(-40px)
  }
  .section .kitchen--right {
    padding-left: 0;
    width: 100%
  }
  .btn--form {
    display: block;
    margin: 0 auto
  }*/
    /*.help--wrapper {
    width: 100%
  }
  .help--wrapper .form {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column
  }
  .form--left, .form--right {
    width: 100%
  }
  .help--wrapper .form__collection {
    padding: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch
  }
  .form__collection--left {
    margin-bottom: 40px
  }
  .help--wrapper .form__checkbox .form__label::before {
    min-width: 25px
  }
  .help--wrapper .form--left .moto {
    font-size: 30px
  }
  .help--wrapper .form--left .group {
    display: none
  }*/
    .look-all {
        display: none;
    }

    .gallery {
        display: none;
    }

    .gallery__footer .moto {
        font-size: 30px;
    }

    .gallery__footer {
        max-height: initial;
        margin-top: 0;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .gallery__footer .group {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .gallery__footer .btn {
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .gallery__footer .counter {
        -webkit-transform: scale(.8) translate(-35px, 0);
        -ms-transform: scale(.8) translate(-35px, 0);
        transform: scale(.8) translate(-35px, 0);
    }

    .section .slider {
        width: 100%;
    }

    .feedback .slider__item {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: stretch;
        -webkit-align-items: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
        max-height: initial;
        overflow: auto;
    }

    .feedback .slider__panel {
        width: auto;
        min-height: 230px;
    }

    .feedback .slider .bx-pager {
        bottom: -370px;
    }

    .feedback__footer {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .feedback__footer {
        max-height: initial;
    }

    .feedback .moto {
        font-size: 30px;
    }

    .feedback .counter {
        -webkit-transform: scale(.8) translate(0, 0);
        -ms-transform: scale(.8) translate(0, 0);
        transform: scale(.8) translate(0, 0);
    }

    .feedback .group {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .feedback .btn {
        font-size: 100%;
    }

    .feedback .btn {
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .materials__body {
        width: 100%;
        flex-direction: column;
    }

    .materials--wrapper {
        width: 100%;
    }

    

    .materials__header .group {
        position: relative;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .materials__header .group .counter {
        -webkit-transform: scale(.8) translate(0, 0);
        -ms-transform: scale(.8) translate(0, 0);
        transform: scale(.8) translate(0, 0);
        margin-bottom: 10px;
    }

    .materials__raw {
        /*-webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column*/
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .materials__raw .item {
        min-width: auto;
    }

    .materials__raw .item:not(:first-child) {
        margin-left: 0;
        margin-top: 25px;
    }

    .materials__tech {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 100%;
    }

    .materials__tech .item {
        width: 100%;
        min-width: auto;
        margin-top: 25px;
    }

    .materials__tech .item:not(:first-child) {
        margin-left: 0;
    }

    .materials__tech .item__img img {
        max-height: 100%;
        width: auto;
    }

    .partner {
        &--wrapper {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
        }
        &--left {
            margin-right: 0;
            padding: 0 20px;
        }
        &__logo {
            img {
                max-width: 100%;
                margin-bottom: 50px;
            }
        }
    }

    .contacts {
        padding-bottom: 0;
    }

    .contacts__map {
        padding: 20px 0;
    }

    .contacts__panel {
        position: relative;
        top: 0;
        left: 0;
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        transform: translate(0, 0);
    }

    .section .bx-prev {
        top: -50px;
        left: 15px;
    }

    .section .bx-next {
        top: -50px;
        right: 15px;
    }

    #modal-house .modal__tabs > a {
        font-size: 0.8em;
        padding-left: 10px;
        padding-right: 10px;
    }

    #modal-house .close {
        top: 10px;
        right: 10px;
    }

    .questions {
        &--form {
            flex-direction: column;
            align-items: center;
            label,
            button {
                width: 80%;
            }
            label {
                margin-bottom: 30px;
                &:last-of-type {
                    margin-bottom: 60px;
                }
            }
            input {
                width: 100%;
            }
        }
    }
}
@media only screen and (max-width:460px) {
    .section.choose .btn.btn--label {
        width: calc(100% - 185px);
        min-width: 75px;
        font-size: 0.9em;
        padding: 10px 20px;
        line-height: 1.5;
    }

    .section.choose .btn.btn--label br {
        display: inline;
    }

    .section.choose .slider__caption--left {
        width: calc(100% - 100px);
    }

    .section.choose .slider__caption--left .slider__name {
        font-size: 1.5em;
    }

    .section.choose .slider__caption--right {
        width: 100px;
    }

    .section.choose .slider__caption--left .slider__tech {
        font-size: 0.7em;
    }
}
@media only screen and (max-width:1150px) {
    #modal-house {
        top: 0;
        height: 100%;
        overflow: auto;
        /*padding-top: 80px;*/
        /*width: 100vw;*/
        /*z-index: 1000;*/
    }

    #modal-house.active {
        -ms-align-items: flex-start;
        align-items: flex-start;
    }
    /*#modal-house .modal__content--left {
    -webkit-transform-origin: top center;
    -moz-transform-origin: top center;
    -ms-transform-origin: top center;
    -o-transform-origin: top center;
    transform-origin: top center;
    transform: scale(0.7);
  }*/
    #modal-house .modal__dialog {
        height: auto;
        margin-top: 80px;
        /*overflow: scroll;*/
    }

    #modal-house .modal__content--left {
        width: 400px;
    }

    #modal-house .modal__content--wrapper {
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-align-items: center;
        align-items: center;
    }

    #modal-house .modal__slider .bx-pager {
        display: none;
    }
    /*#modal-house .modal__content--left {
    width: 500px;
  }*/
    #modal-house .modal__content--right {
        width: 400px;
        padding-left: 0;
        /*-webkit-transform-origin: top left;
    -moz-transform-origin: top left;
    -ms-transform-origin: top left;
    -o-transform-origin: top left;
    transform-origin: top left;
    transform: scale(.5)*/
    }

    #modal-house .modal__slider .bx-viewport {
        width: 400px !important;
    }

    #modal-house .modal__slider .bx-viewport li {
        height: 250px !important;
        width: 400px !important;
    }

    #modal-house .modal__slider .bx-wrapper {
        position: relative;
    }

    #modal-house .modal__slider .bx-controls {
        top: 130px;
        width: 400px;
    }

    #modal-house .modal__slider .bx-controls .bx-prev {
        left: -20px;
    }

    #modal-house .modal__slider .bx-controls .bx-next {
        right: -20px;
    }

    #modal-house .modal__tabs {
        left: 50%;
        transform: translate(-50%, 0);
        width: 80%;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        justify-content: space-around;
    }

    #modal-house .modal__tabs > a {
        width: 30%;
    }

    #modal-house .modal__header .title {
        white-space: normal;
        text-align: center;
    }

    #modal-house .modal__content--right .list li span {
        white-space: normal;
        max-width: 170px;
    }
}
@media only screen and (max-width:500px) {
    #modal-house .modal__dialog {
        width: 100%;
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 50px;
    }

    #modal-house .modal__content--left {
        width: 90%;
    }

    #modal-house .modal__content--right {
        width: 90%;
        max-width: 376px;
    }

    #modal-house .modal__tabs > a {
        font-size: 0.7em;
    }

    #modal-house .modal__slider .bx-controls .bx-prev {
        left: 10px;
    }

    #modal-house .modal__slider .bx-controls .bx-next {
        right: 10px;
    }

    #modal-house .modal__slider .bx-controls {
        width: 100%;
        max-width: 400px;
    }

    #modal-house .modal__slider .bx-viewport {
        width: 100% !important;
        max-width: 400px;
        /*margin-right: 0;*/
    }

    #modal-house .modal__header .title {
        font-size: 30px;
    }

    #modal-house .modal__content--right .list li strong {
        width: 140px;
        white-space: normal;
    }

    #modal-house .modal__slider .bx-viewport li {
        width: 400px !important;
    }

    #modal-house .modal__slider .bx-viewport li img {
        /*width: 450px;*/
        /*height: 100%;*/
    }
}

@media (max-width: 400px) {
    .code-modal {
        overflow: auto;
        &--container {
            width: 95%;
        }
    }
}
