.catalog-titile {
    padding: 45px 0 5px 30px;
    margin: 0;
    font-family: Reforma,Arial,sans-serif;
    font-weight: 600;
}
}
h1 {
    font-size: 36px;
    font-family: Reforma,Arial,sans-serif;
    font-weight: 600;
}