.col-sm-2.col-5 {
  width: 20%;
}

.dealer {
  margin-bottom: 15px;
}

@media (max-width: 768px) {
  .dealer {
    margin-bottom: 40px;
  padding: 0 15px;
  }
}

.sr-contacts {
  margin-top: 47px;
  margin-bottom: 29px;
  color: rgba(255,255,255,.5);
}

.sr-contacts a {
  color: rgba(255,255,255,.5);
}