<div class="row catlog-text">
    <div class="col-xs-12 col-md-12 col-sm-12">
        <div class="catalog-description  my-margin bottom-text">
            <h1 class="catalog-titile">Теремъ: деревянные дома</h1>
            <p>Строительная компания «Теремъ» – один из лидеров рынка загородного домостроения. Мы занимаемся проектированием, производством и строительством домов по каркасной технологии, из бруса и кирпича с учётом русских традиций домостроения и применения новейших технологий.</p>

            <p>«Теремъ» строит быстро и качественно. Благодаря новым технологиям, точным расчётам и отработанному процессу возведение домов больше не затягивается на долгие годы. Деревянные дома строятся из современных материалов, сделанных на собственном производстве из экологически чистой, качественной древесины.</p>

            <p>Мы предлагаем большой выбор проектов деревянных домов, бань и малых строений. Дом от «Теремъ» – это оптимальная комплектация, продуманная планировка, современный внешний вид, а также фиксированная стоимость, что немаловажно при заказе полноценного проекта под ключ.</p>

            <p>Индивидуальный подход к каждому клиенту – это наш принцип. Архитекторы компании спроектируют деревянные дома согласно вашим желаниям и потребностям, внесут изменения в типовой проект, предложат идеальное комплексное решение.</p>

            <p>«Теремъ» также готов предоставить полный комплекс услуг по обустройству загородной жизни:</p>

            <ul>
                <li>Необходимые инженерные коммуникации для дома: электрика, отопление, септики, водоподъём.</li>
                
                <li>Реконструкция, достройка или ремонт существующих строений.</li>
                
                <li>Благоустройство участка, ландшафтный дизайн.</li>
                
                <li>Ограждение участка: заборы из евроштакетника, профнастила, сетки-рабицы.</li>
                
                <li>Пристройка террас и веранд к существующим строениям.</li>
            </ul>

            <p>Гарантия на дома достигает 15 лет на каркасные дома и 25 – на дома из бруса.</p>
        </div>
    </div>
</div>
