<div class="row">
    <div class="col-xs-12 col-md-3 col-sm-3">
        <a href="/services/dostroika/" class="my-block-link my-margin">
            <img src="/bitrix/templates/.default/assets/img/catalog-item/1-1.png" alt="Ремонт и реконструкция">
         </a>
    </div>
    <div class="col-xs-12 col-md-3 col-sm-3">
        <a href="/services/individual_projects/" class="my-block-link my-margin">
            <img src="/bitrix/templates/.default/assets/img/catalog-item/2-1.png" alt="Индивидуальные проекты">
         </a>
    </div>
    <div class="col-xs-12 col-md-3 col-sm-3">
        <a href="/about/news/zemelnye-uchastki-v-kompanii-terem/" class="my-block-link my-margin">
            <img src="/bitrix/templates/.default/assets/img/catalog-item/3-1.png" alt="Продажа земли в поселках">
         </a>
    </div>
    <div class="col-xs-12 col-md-3 col-sm-3">
        <a href="/services/enginering_communications/" class="my-block-link my-margin">
            <img src="/bitrix/templates/.default/assets/img/catalog-item/4-1.png" alt="Инженерные системы">
         </a>
    </div>
</div>
