.big-price {
	font-family: Reforma,Arial,sans-serif;
	font-size: 30px !important;
	font-weight: 600;
	line-height: 1;
}

.red-action {
	color: #333 !important;
	margin: 0 !important;
	font-family: Reforma, Arial, sans-serif !important;
	font-weight: 600 !important;
	font-size: 30px !important;
	color: red !important;
	text-transform: uppercase !important;
	line-height: 1 !important;
	margin-bottom: -5px !important;
	display: block !important;
}
.my-action-catalog{
	margin-left: 45px;
}

body .content .catalog-item-description-2.new-more .btn.collapsed .catalog-item-description-2-title {
	font-size: 15px !important;
	text-decoration: none !important;
}
#housePriceMin{
	font-weight: bold !important;
	margin-right: -48px !important;
	margin-right: -48px !important;
}
.my-close{
	display: block !important;
	float: right !important;
}
.my-action-catalog p{
	line-height: 1.2 !important;
	margin-bottom: 5px !important;
}