.white {
    padding: 0 0px 10px 0px;
}

.back-img {
    background-image: url('/bitrix/templates/.default/assets/img/bg.jpg');
}

.head {
    padding: 0 30px 0 75px;
}

.logo {
    width: 140px;
    float: left;
}

.head-h1 {
    display: block;
    float: left;
    margin-top: 65px;
}

.main-content {
    padding: 33px 102px 0 91px;
}

.bold {
    font-weight: 600;
}

.butt {
    padding: 0 102px 0 90px;
}

.butt a {
    background-color: #c00000;
}

.partner {
    margin: 0 15px 0 15px;
    padding: 57px 60px 50px 75px;
    background: #E6E5E5;
}

.copyright {
    padding-top: 30px;
    font-size: 11px;
    color: #fff;
}



/* monitors and laptops */
@media screen and (min-width: 1240px) {
    .container {
        width: 86vh;
    }
}

/* tablet */
@media screen and (min-width: 1024px) and (max-width: 1240px) {
    .container {
        width: 86vh;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .container {
        width: 80vh;
    }
}

/* mobile */
@media screen and (max-width: 768px) {
    .container {
        width: 75%;
    }

    .head-h1 {
        font-size: 30px;
        margin-top: 50px;
    }

    .head {
        padding: 0 20px 0 55px;
    }
}

@media screen and (max-width: 675px) {

    .container {
        width: 90%;
    }

    .white {
        padding: 0 0px 10px 0px;
    }

    .head {
        padding: 0 10px 0 10px;
    }

    .main-content {
        padding: 0 30px 0 30px;
    }

    .butt {
        padding: 0 30px 0 30px;
    }
    
    .butt a{
        font-size: 20px!important;
    }
    
    .partner{
        padding: 30px 30px 30px 30px;
    }
    
    .head-h1 {
        font-size: 28px;
        margin-top: 50px;
    }
}

/* iPhone 5 in portrait & landscape */
@media only screen and (max-device-width : 568px) {
    .container {
        width: 90%;
    }

    .white {
        padding: 0 0px 10px 0px;
    }

    .head {
        padding: 0 10px 0 10px;
    }

    .main-content {
        padding: 0 30px 0 30px;
    }

    .butt {
        padding: 0 30px 0 30px;
    }
    
    .butt a{
        font-size: 16px!important;
    }
    
    .partner{
        padding: 30px 30px 30px 30px;
    }
}


@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .container {
        width: 100%;
    }

    .white {
        padding: 0 0px 10px 0px;
    }

    .head {
        padding: 0 10px 0 10px;
    }

    .main-content {
        padding: 0 30px 0 30px;
    }

    .butt {
        padding: 0 30px 0 30px;
    }
    
    .butt a{
        font-size: 16px!important;
    }
    
    .logo{
        margin: 0 75px 0 75px;
    }
    
    .partner{
        padding: 30px 30px 30px 30px;
    }
}