

	<div id="mags"><div style="overflow: hidden; height: 1828px; width: 1024px; position: relative;" class="page">
		<div class="page-fixed-bg-container polyfill-sticky"><div class="rmwidget widget-background" style="background-color: #ffffff">

        
            <div class="picture-background" style="opacity: 1; background-image: url(&quot;https://d3n32ilufxuvd1.cloudfront.net/5a0ec3e02c606546d861ea5e/1010932/upload-ee6beca0-2bb7-11e8-9f36-bf2143b3792a.jpg&quot;);"></div>
        

        
	</div></div>
		<div class="fixed-position-container-top polyfill-sticky"></div>
		<div class="fixed-position-container polyfill-sticky"></div>
		<div class="content-scroll-wrapper has-vertical-scroll">
			<div style="width: 1024px; height: 1828px;" class="content-bounds">
				<div style="width: 1024px; height: 1828px; top: 0px; left: 0px;" class="page-content-container" tabindex="-1"><div style="left: -71px; top: 83px; width: 1180px; height: 1568.5px; z-index: 100; background-color: rgb(255, 255, 255); border-color: rgb(255, 255, 255); border-radius: 0px; border-style: solid; border-width: 0px; box-sizing: border-box;" class="rmwidget widget-shape div-instead-of-svg"></div><div style="left: 889.13px; top: 83px; width: 118.87px; height: 150px; z-index: 124;" class="rmwidget widget-picture"><div class="svg-scale-wrapper"><svg preserveAspectRatio="xMidYMid meet" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0.19921875 0 132.6015625 167" height="" width="">
    <!-- Generator: Sketch 49 (51002) - http://www.bohemiancoding.com/sketch -->
    
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g fill-rule="evenodd" fill="none" stroke-width="1" stroke="none" id="Page-1">
        <g fill-rule="nonzero" id="logo">
            <path fill="#AC1E23" id="Shape" d="M0.2,0 L0.2,167 L120.1,167 C127.1,167 132.8,161.2 132.8,154.1 L132.8,0 L0.2,0 Z"></path>
            <g fill="#FFFFFF" transform="translate(15.000000, 70.000000)" id="Group">
                <path id="Shape" d="M98.1,2.1 L98.3,2.1 C98.6,2.1 98.8,2.1 98.9,2.1 C99,2.1 99,2.2 99.1,2.2 C99.1,2.3 99.2,2.3 99.2,2.4 C99.2,2.5 99.2,2.6 99.1,2.6 C99.1,2.7 99,2.7 98.9,2.7 C98.8,2.7 98.6,2.7 98.3,2.7 L98.1,2.7 L98.1,2.1 Z M98.1,4.4 L98.1,3.3 L98.2,3.3 C98.4,3.3 98.5,3.3 98.6,3.4 C98.7,3.5 98.8,3.7 99,4 L99.2,4.5 L99.9,4.5 L99.6,3.9 C99.5,3.7 99.4,3.6 99.4,3.6 C99.3,3.5 99.3,3.4 99.2,3.4 C99.2,3.4 99.1,3.3 99,3.3 C99.2,3.3 99.4,3.2 99.6,3 C99.7,2.9 99.8,2.7 99.8,2.5 C99.8,2.4 99.8,2.2 99.7,2.1 C99.6,2 99.5,1.9 99.4,1.8 C99.3,1.7 99.1,1.7 99,1.7 C98.9,1.7 98.6,1.7 98.2,1.7 L97.6,1.7 L97.6,4.3 L98.1,4.3 L98.1,4.4 Z M99.7,1.1 C100,1.3 100.3,1.6 100.5,1.9 C100.7,2.2 100.8,2.6 100.8,2.9 C100.8,3.2 100.7,3.6 100.5,3.9 C100.3,4.2 100,4.5 99.7,4.7 C99.4,4.9 99,5 98.7,5 C98.4,5 98,4.9 97.7,4.7 C97.4,4.5 97.1,4.2 96.9,3.9 C96.7,3.6 96.6,3.2 96.6,2.9 C96.6,2.6 96.7,2.2 96.9,1.9 C97.1,1.6 97.4,1.3 97.7,1.1 C98,0.9 98.4,0.8 98.7,0.8 C99.1,1 99.5,1.1 99.7,1.1 Z M97.5,0.8 C97.1,1 96.7,1.4 96.6,1.7 C96.4,2.1 96.2,2.5 96.2,2.9 C96.2,3.4 96.3,3.7 96.6,4.1 C96.8,4.5 97.2,4.9 97.5,5 C97.9,5.2 98.3,5.4 98.7,5.4 C99.2,5.4 99.5,5.3 99.9,5 C100.3,4.8 100.7,4.4 100.8,4.1 C100.9,3.8 101.2,3.3 101.2,2.9 C101.2,2.4 101.1,2.1 100.8,1.7 C100.6,1.3 100.2,0.9 99.9,0.8 C99.6,0.7 99.1,0.5 98.7,0.5 C98.3,0.4 97.9,0.6 97.5,0.8 Z"></path>
                <path id="Shape" d="M69.5,28.4 L67.2,18 C66.7,18.8 66.3,19.5 65.9,20.3 C65.5,21.1 65.3,21.7 65.1,22.4 C64.9,23.1 64.8,23.8 64.8,24.6 C64.8,25.1 64.8,25.6 64.9,26.5 C65,27.3 65.1,27.7 65.1,27.9 L65.1,28.9 C65.1,29.1 65,29.3 64.8,29.4 C64.7,29.5 64.5,29.5 64.3,29.5 C64.1,29.5 63.9,29.5 63.5,29.4 C63.4,29.4 63.2,29.4 62.9,29.4 C62.6,29.4 62.4,29.4 62.2,29.4 C62,29.4 61.8,29.4 61.7,29.4 C61.4,29.4 61.2,29.3 61.1,29.1 C61.2,28.9 61.1,28.5 61.1,27.9 C61.1,26.9 61.2,26.1 61.5,25.4 C61.8,24.6 62.1,23.9 62.5,23.2 C62.9,22.5 63.5,21.7 64.3,20.7 C65.1,19.7 65.6,18.8 65.9,18.2 C66.3,17.6 66.4,17 66.4,16.4 C66.4,15.8 65.2,15.8 64.9,15.9 L64.9,15 L71,15 L71,15.8 L69.9,15.8 L72.4,27.8 L74.7,15.8 L73.8,15.8 L73.8,15 L79.3,15 L79.3,15.8 L78,15.8 L80.7,28.4 L82.1,28.4 L82.1,29.2 L76.6,29.2 L76.6,28.4 L77.5,28.4 L75.2,17.6 L73.2,28.4 L74.2,28.4 L74.2,29.2 L68.3,29.2 L68.3,28.4 L69.5,28.4 Z"></path>
                <path id="Shape" d="M8.7,27.7 L8.7,3.7 L7.4,3.7 L6.7,3.7 C6.1,3.7 5.7,3.8 5.4,4.1 C5,4.3 4.7,4.9 4.5,5.6 C4.2,6.4 3.8,7.7 3.6,9.4 C3.4,10.2 3.3,10.7 3.2,11 C3.1,11.3 2.9,11.4 2.6,11.4 C2.2,11.4 2,11.2 1.9,10.9 C1.8,10.6 1.7,10.1 1.7,9.6 C1.7,8.6 1.5,7.4 1.1,6.2 C1,5.9 0.8,5.4 0.6,4.6 C0.3,3.8 0.2,3.3 0.2,3 C0.2,2.6 0.3,2.2 0.6,2 C0.8,1.7 1.2,1.5 1.6,1.5 C1.7,1.5 2,1.6 2.4,1.7 C2.8,1.8 3.2,1.9 3.7,2 C4.4,2 5,2 5.8,2 C6,2 6.2,2 6.4,2 C6.6,2 6.8,2 6.9,2 L15.9,2 C16,2 16.2,2 16.5,2 C16.7,2 16.9,2 17.1,2 C17.9,2 18.5,2 19,1.9 C19.5,1.8 19.9,1.7 20.3,1.6 C20.7,1.5 21,1.4 21.1,1.4 C21.6,1.4 21.9,1.6 22,1.9 C22.2,2.2 22.4,2.6 22.4,2.9 C22.4,3.2 22.3,3.7 22,4.4 C21.7,5.2 21.5,5.6 21.4,6 C21,7.2 20.8,8.4 20.8,9.4 C20.8,10.6 20.5,11.2 20,11.2 C19.7,11.2 19.6,11.1 19.4,10.9 C19.3,10.7 19.2,10.4 19.1,10.1 C19,9.8 18.9,9.1 18.6,7.9 C18.3,6.6 18,5.5 17.7,5 C17.4,4.3 17,4 16.6,3.8 C16.2,3.6 15.7,3.5 14.9,3.5 L13.6,3.5 L13.6,27.5 L16.1,27.5 L16.1,29.1 L6.3,29.1 L6.3,27.5 L8.7,27.7 Z"></path>
                <path id="Shape" d="M50.1,19.8 C50.1,19 50.2,18.4 50.4,17.6 C50.6,16.9 50.9,16.4 51.3,15.9 C51.8,15.4 52.3,15.2 53,15.2 C53.8,15.2 54.5,15.5 54.9,16 C55.7,16.8 56.2,18.8 55.9,20.7 L50,20.7 C50.2,20.5 50.1,20.2 50.1,19.8 Z M54.7,24.7 L54.7,25.5 C56.5,25.5 55.5,26.7 54.6,27.7 C54,28.4 53.1,28.6 52,28.6 C51.7,28.6 51.4,28.6 51.2,28.5 C51.3,28.1 51.4,27.7 51.4,27.5 C51.4,26.8 51.4,26.3 51.3,25.9 C51.2,25.5 51,25 50.8,24.2 C50.6,23.5 50.4,22.8 50.3,21.8 L60,21.8 L60,21 C59.8,19.3 59.4,17 57.9,15.9 C57.2,15.4 56.6,15.1 55.8,15 C55,14.8 54.4,14.7 53.7,14.7 C52.6,14.7 51.5,14.9 50.4,15.4 C49.4,15.8 48.4,16.5 47.8,17.5 C47,18.4 46.8,19.8 46.8,21.4 C46.8,22 46.9,22.4 47,22.8 C47.1,23.2 47.3,23.6 47.7,24.1 C48,24.6 48.5,25.2 49.1,26 C49.5,26.5 49.9,26.9 50,27.3 C50.2,27.7 50.3,28.1 50.3,28.6 C50.3,28.7 50.3,28.9 50.3,29.2 C50.8,29.3 51.2,29.4 51.9,29.5 C52.6,29.6 53.1,29.6 53.7,29.6 C54.5,29.6 55.3,29.4 56.1,29.1 C56.9,28.7 57.5,28.3 58.2,27.7 C59.1,26.9 59.2,25.7 60.5,25.7 L60.5,24.9 L54.7,24.7 Z"></path>
                <path id="Shape" d="M40.9,21.5 C40.6,21.9 40.3,22.1 40,22.1 C39.9,22.1 39.8,22.1 39.6,22 C39.4,21.9 39.3,21.8 39.2,21.7 L37.9,23.4 L37.9,19.9 L37.9,19.4 C37.9,18.6 37.9,18 38,17.4 C38.1,16.9 38.2,16.5 38.5,16.1 C38.8,15.7 39.2,15.5 39.6,15.5 C40.3,15.5 40.7,15.8 40.9,16.3 C41.2,16.9 41.3,17.6 41.3,18.7 C41.4,19.8 41.2,21.2 40.9,21.5 Z M44.4,16.7 C44,16 43.4,15.6 42.6,15.2 C41.8,14.8 40.9,14.6 39.8,14.6 C38.7,14.6 37.7,14.9 36.8,15.4 C36,16 35.3,16.7 34.8,17.7 C34.8,18.7 34.7,19.8 34.7,20.8 L34.7,27 C34.7,28.6 33.8,28.3 33,28.3 C33,28.6 33,28.9 33,29.1 L39.7,29.1 L39.7,28.3 C39.1,28.2 38,28.6 38,26.9 C38,25.9 38,25.5 38,24.4 L39.4,22.6 C39.5,22.6 39.7,22.7 39.9,22.8 C40.3,23 40.6,23.2 40.7,23.2 C40.9,23.3 41.2,23.3 41.5,23.3 C42.2,23.3 42.7,23.1 43.3,22.7 C44.4,22.1 45,19.7 45,18.5 C45,18.1 44.8,17.4 44.4,16.7 Z"></path>
                <path id="Shape" d="M22,19.8 C22,19 22.1,18.4 22.3,17.6 C22.5,16.9 22.8,16.4 23.2,15.9 C23.7,15.4 24.2,15.2 24.9,15.2 C25.7,15.2 26.4,15.5 26.8,16 C27.6,16.8 28.1,18.8 27.8,20.7 L22,20.7 C22,20.5 22,20.2 22,19.8 Z M26.5,24.7 L26.5,25.5 C28.3,25.5 27.3,26.7 26.4,27.7 C25.8,28.4 24.9,28.6 23.8,28.6 C23.5,28.6 23.2,28.6 23,28.5 C23.1,28.1 23.2,27.7 23.2,27.5 C23.2,26.8 23.2,26.3 23.1,25.9 C23,25.5 22.8,25 22.6,24.2 C22.4,23.5 22.2,22.8 22.1,21.8 L31.7,21.8 L31.7,21 C31.5,19.3 31.1,17 29.6,15.9 C28.9,15.4 28.3,15.1 27.5,15 C26.7,14.8 26.1,14.7 25.4,14.7 C24.3,14.7 23.2,14.9 22.1,15.4 C21.1,15.8 20.1,16.5 19.5,17.5 C18.7,18.4 18.5,19.8 18.5,21.4 C18.5,22 18.6,22.4 18.7,22.8 C18.8,23.2 19,23.6 19.4,24.1 C19.7,24.6 20.2,25.2 20.8,26 C21.2,26.5 21.6,26.9 21.7,27.3 C21.8,27.7 22,28.1 22,28.6 C22,28.7 22,28.9 22,29.2 C22.5,29.3 22.9,29.4 23.6,29.5 C24.3,29.6 24.8,29.6 25.4,29.6 C26.2,29.6 27,29.4 27.8,29.1 C28.6,28.7 29.2,28.3 29.9,27.7 C30.8,26.9 30.9,25.7 32.2,25.7 L32.2,24.9 L26.5,24.7 Z"></path>
                <path id="Shape" d="M96.5,25.5 C96.5,26.4 96.3,27.1 95.9,27.3 C95.5,27.6 95.1,27.7 94.4,27.7 L92,27.7 L92,15.4 C92.8,16.4 93.9,17.2 95.1,17.8 C95.8,18.1 96.1,18.4 96.3,18.6 C96.4,18.9 96.5,19.3 96.5,19.9 C96.5,20.2 96.5,20.4 96.5,20.4 C96.5,20.5 96.5,20.6 96.5,20.9 L96.5,25.5 Z M100.5,16.9 C100.3,16.5 99.8,16.2 99.1,16.2 C98.6,16.3 98.3,16.3 98,16.3 C97.1,16.3 96,16 94.9,15.5 C93.8,14.9 92.8,14.2 92.1,13.2 L92.1,3.8 L94.4,3.8 L94.4,2.1 L82.4,2.1 C82,2.1 81.5,1.9 80.9,1.7 C80.8,1.7 80.4,1.5 80.1,1.5 C79.8,1.5 79.4,1.6 79.3,1.8 C79.1,1.9 78.7,2.4 78.7,3 C78.7,3.9 79.5,5.5 79.5,5.8 C79.8,6.9 80,7.1 80.1,8.7 C80.2,9.6 80.2,10.3 80.3,10.7 C80.4,11.1 80.7,11.3 81.1,11.3 C81.4,11.3 81.6,11.2 81.7,11 C81.8,10.7 82,10.3 82.1,9.7 C82.4,8.2 82.7,7.2 82.9,6 C83.6,3.6 84.5,3.6 85.5,3.6 L87.3,3.6 L87.3,27.5 L84.8,27.5 L84.8,29.1 L99.2,29.1 C99.6,29.1 99.9,29 100.1,28.9 C100.3,28.8 100.5,28.5 100.7,28.1 C100.8,27.7 100.9,27.1 100.9,26.3 L100.9,18.5 C100.8,18 100.7,17.3 100.5,16.9 Z"></path>
            </g>
            <g fill="#FFFFFF" transform="translate(40.000000, 40.000000)" id="Group">
                <path id="Shape" d="M7.7,41.3 C7.7,40 8.3,38.8 9,38 C9.8,37.2 11,36.7 12.3,36.7 C13.6,36.7 14.8,37.3 15.6,38 C16.4,38.8 16.9,40 16.9,41.3 L15.3,41.3 C15.3,40.5 14.9,39.7 14.5,39.1 C13.9,38.5 13.2,38.3 12.3,38.3 C11.5,38.3 10.7,38.7 10.1,39.1 C9.5,39.7 9.3,40.4 9.3,41.3 L7.7,41.3 Z"></path>
                <path id="Shape" d="M33.8,41.3 C33.8,40 34.4,38.8 35.1,38 C35.9,37.2 37.1,36.7 38.4,36.7 C39.7,36.7 40.9,37.3 41.7,38 C42.5,38.8 43,40 43,41.3 L41.4,41.3 C41.4,40.5 41,39.7 40.6,39.1 C40,38.5 39.3,38.3 38.4,38.3 C37.6,38.3 36.8,38.7 36.2,39.1 C35.6,39.7 35.4,40.4 35.4,41.3 L33.8,41.3 Z"></path>
                <path id="Shape" d="M20.8,41.3 C20.8,40 21.4,38.8 22.1,38 C22.9,37.2 24.1,36.7 25.4,36.7 C26.7,36.7 27.9,37.3 28.7,38 C29.5,38.8 30,40 30,41.3 L28.4,41.3 C28.4,40.5 28,39.7 27.6,39.1 C27,38.5 26.3,38.3 25.4,38.3 C24.6,38.3 23.8,38.7 23.2,39.1 C22.6,39.7 22.4,40.4 22.4,41.3 L20.8,41.3 Z"></path>
                <polygon points="27.5 26.4 26.6 27.9 29.1 28.4 26.6 29 27.2 30.3 25.9 29.6 25.4 32.3 24.9 29.5 23.4 30.4 24.3 29 21.8 28.4 24.3 27.8 23.7 26.5 25 27.3 25.4 24.5 26 27.4" id="Shape"></polygon>
                <path id="Shape" d="M49.1,34.3 L34.4,34.3 C34.9,33.8 35.4,33.4 35.8,32.9 L49.1,32.9 L49.1,34.3 Z M33.4,34.3 L31.9,34.3 C31.9,34.3 32.1,34.1 32.2,34 C35.9,29.7 34,26.4 31.4,24 C30.5,23.2 29.4,22.4 28.5,21.7 C27.3,20.8 26.2,20.1 26.1,19.6 L25.6,17.6 L25.1,19.6 C25,20.1 24,20.8 22.7,21.7 C21.8,22.4 20.7,23.1 19.8,24 C17.1,26.5 15.3,29.7 19,34 C19.1,34.1 19.3,34.3 19.3,34.3 L17.8,34.3 C17.8,34.3 17.6,34.1 17.5,34 C13.8,31.1 14,28.6 15.7,26.4 C16.7,25 18.4,23.6 20.1,22.2 C22.2,20.5 24.6,18.8 25.8,16.9 C26.9,18.8 29.4,20.5 31.5,22.2 C33.2,23.6 34.8,24.9 35.9,26.4 C37.6,28.7 37.8,31 34.1,34 C33.6,34.1 33.4,34.3 33.4,34.3 Z M1.7,34.3 L1.7,32.9 L15,32.9 C15.5,33.4 15.9,33.9 16.4,34.3 L1.7,34.3 Z M9.4,22.3 L10.3,22.3 L10.3,24.9 L9.4,24.9 L9.4,22.3 Z M11.3,22.3 L12.2,22.3 L12.2,24.9 L11.3,24.9 L11.3,22.3 Z M13.2,22.3 L14.1,22.3 L14.1,24.9 L13.2,24.9 L13.2,22.3 Z M15.1,22.3 L16,22.3 L16,24.2 L15.2,25 L15,25 L15.1,22.3 Z M16.9,22.3 L17.8,22.3 L17.8,22.4 L16.9,23.2 L16.9,22.3 Z M33.9,22.3 L33.9,23.2 L33,22.4 L33,22.3 L33.9,22.3 Z M17.7,14.8 L33.2,14.8 L33.2,21.1 L31,21.1 C29,19.4 26.7,17.7 25.8,15.9 L25.4,15.1 L25,15.9 C24.2,17.7 21.8,19.4 19.8,21.1 L17.6,21.1 L17.6,14.8 L17.7,14.8 Z M34.9,22.3 L35.8,22.3 L35.8,24.9 L35.5,24.9 L34.7,24.1 L34.9,22.3 Z M36.8,22.3 L37.7,22.3 L37.7,24.9 L36.8,24.9 L36.8,22.3 Z M38.7,22.3 L39.6,22.3 L39.6,24.9 L38.7,24.9 L38.7,22.3 Z M40.6,22.3 L41.5,22.3 L41.5,24.9 L40.6,24.9 L40.6,22.3 Z M42.3,24.9 L42.3,21.3 C42.9,21.2 43.2,20.6 43.2,20.1 C43.2,19.4 42.6,18.9 42,18.9 C41.3,18.9 40.8,19.5 40.8,20.1 C40.8,20.7 41.2,21.1 41.7,21.3 L41.7,21.5 L34.9,21.5 L34.9,14.5 L38.4,14.5 L31.2,11.4 L28.4,7.2 L25.5,2.9 C26.2,2.9 26.7,2.3 26.7,1.7 C26.7,1 26.1,0.5 25.5,0.5 C24.8,0.5 24.3,1.1 24.3,1.7 C24.3,2.4 24.9,2.9 25.5,2.9 L22.6,7.2 L19.8,11.4 L12.6,14.5 L16,14.5 L16,21.5 L9.2,21.5 L9.2,21.3 C9.8,21.2 10.1,20.6 10.1,20.1 C10.1,19.4 9.5,18.9 8.9,18.9 C8.3,18.9 7.7,19.5 7.7,20.1 C7.7,20.7 8.1,21.1 8.6,21.3 L8.6,24.9 L0.8,32 L0.8,35 L3,35 L3,41.2 L4.2,41.2 L4.2,35 C9.8,35 15.3,35 20.8,35 C20,34.1 18.3,32.6 17.8,30.4 C17.2,28.4 18.1,26.5 20.3,24.5 C21.2,23.7 22.2,23 23.1,22.3 L23.2,22.3 C24.3,21.5 25.1,21 25.5,20.5 C26,21 26.6,21.5 27.8,22.3 L27.9,22.3 C28.7,23 29.8,23.6 30.7,24.5 C32.9,26.5 33.7,28.4 33.2,30.4 C32.5,32.7 31,34 30.2,35 C35.8,35 41.3,35 46.8,35 L46.8,41.2 L48,41.2 L48,35 L50.2,35 L50.2,32 L42.3,24.9 Z"></path>
            </g>
            <g fill="#FFFFFF" transform="translate(32.000000, 109.000000)" id="Group">
                <path id="Shape" d="M6.2,14.4 L6.2,12.6 L2.2,12.6 L2.2,14.4 L0.7,14.4 L0.7,11.2 L1.6,11.2 C2.1,9.6 2.1,8.3 2.1,6.3 L2.1,2.7 L6.7,2.7 L6.7,11.2 L7.7,11.2 L7.7,14.4 L6.2,14.4 Z M5.1,11.2 L5.1,4 L3.8,4 L3.8,6.5 C3.8,8.9 3.7,9.9 3.3,11.1 L5.1,11.1 L5.1,11.2 Z"></path>
                <path id="Shape" d="M13.1,10.4 C13.1,11 13.1,11.6 12.4,12.1 C11.8,12.6 11.1,12.7 10.6,12.7 C10.1,12.7 9.4,12.6 8.8,12.1 C8.2,11.5 8.1,10.9 8.1,10.4 L8.1,4.9 C8.1,4.3 8.1,3.7 8.8,3.2 C9.4,2.7 10.1,2.6 10.6,2.6 C11.1,2.6 11.8,2.7 12.4,3.2 C13,3.8 13.1,4.4 13.1,4.9 L13.1,10.4 Z M9.8,10.3 C9.8,10.5 9.8,10.8 10,11 C10.2,11.3 10.5,11.3 10.7,11.3 C10.9,11.3 11.2,11.3 11.4,11 C11.5,10.8 11.6,10.5 11.6,10.3 L11.6,4.9 C11.6,4.7 11.6,4.4 11.4,4.2 C11.2,3.9 10.9,3.9 10.7,3.9 C10.5,3.9 10.2,3.9 10,4.2 C9.9,4.4 9.8,4.7 9.8,4.9 L9.8,10.3 Z"></path>
                <polygon points="16.8 12.5 15.6 5.1 15.5 5.1 15.6 6.4 15.6 12.5 14 12.5 14 2.6 16.5 2.6 17.4 9 17.5 9 18.4 2.6 21 2.6 21 12.5 19.4 12.5 19.4 6.4 19.5 5.1 19.4 5.1 18.2 12.5" id="Shape"></polygon>
                <polygon points="22 14.4 22.7 12.5 22 12.5 22 10.8 23.5 10.8 23.5 12.6 22.6 14.3 22 14.3" id="Shape"></polygon>
                <path id="Shape" d="M27.7,12.5 L27.7,2.6 L29.3,2.6 L29.3,6.4 L29.8,6.4 C30.1,6.4 30.3,6.3 30.5,5.4 L30.8,3.7 C30.9,3.2 31.2,2.9 31.4,2.8 C31.7,2.6 32.1,2.6 32.4,2.6 L32.9,2.6 L32.9,4 L32.6,4 C32.2,4 32.2,4.4 32.1,4.5 L31.8,6.2 C31.7,6.6 31.6,7 31.3,7.3 L32.9,12.3 L31.3,12.3 L29.9,7.6 L29.3,7.6 L29.3,12.3 L27.7,12.3 L27.7,12.5 Z"></path>
                <path id="Shape" d="M38.4,10.4 C38.4,11 38.4,11.6 37.7,12.1 C37.1,12.6 36.4,12.7 35.9,12.7 C35.4,12.7 34.7,12.6 34.1,12.1 C33.5,11.5 33.4,10.9 33.4,10.4 L33.4,4.9 C33.4,4.3 33.4,3.7 34.1,3.2 C34.7,2.7 35.4,2.6 35.9,2.6 C36.4,2.6 37.1,2.7 37.7,3.2 C38.3,3.8 38.4,4.4 38.4,4.9 L38.4,10.4 Z M35.1,10.3 C35.1,10.5 35.1,10.8 35.3,11 C35.5,11.3 35.8,11.3 36,11.3 C36.2,11.3 36.5,11.3 36.7,11 C36.8,10.8 36.9,10.5 36.9,10.3 L36.9,4.9 C36.9,4.7 36.9,4.4 36.7,4.2 C36.5,3.9 36.2,3.9 36,3.9 C35.8,3.9 35.5,3.9 35.3,4.2 C35.2,4.4 35.1,4.7 35.1,4.9 L35.1,10.3 Z"></path>
                <polygon points="40.5 12.5 40.5 4 38.8 4 38.8 2.6 43.8 2.6 43.8 4 42.1 4 42.1 12.5" id="Shape"></polygon>
                <path id="Shape" d="M49.2,10.4 C49.2,11 49.2,11.6 48.5,12.1 C47.9,12.6 47.2,12.7 46.7,12.7 C46.2,12.7 45.5,12.6 44.9,12.1 C44.3,11.5 44.2,10.9 44.2,10.4 L44.2,4.9 C44.2,4.3 44.2,3.7 44.9,3.2 C45.5,2.7 46.2,2.6 46.7,2.6 C47.2,2.6 47.9,2.7 48.5,3.2 C49.1,3.8 49.2,4.4 49.2,4.9 L49.2,10.4 Z M45.9,10.3 C45.9,10.5 45.9,10.8 46.1,11 C46.3,11.3 46.6,11.3 46.8,11.3 C47,11.3 47.3,11.3 47.5,11 C47.6,10.8 47.7,10.5 47.7,10.3 L47.7,4.9 C47.7,4.7 47.7,4.4 47.5,4.2 C47.3,3.9 47,3.9 46.8,3.9 C46.6,3.9 46.3,3.9 46.1,4.2 C46,4.4 45.9,4.7 45.9,4.9 L45.9,10.3 Z"></path>
                <path id="Shape" d="M50.1,12.5 L50.1,2.6 L52.8,2.6 C53.4,2.6 54,2.9 54.3,3.2 C54.8,3.7 54.8,4.3 54.8,4.8 L54.8,6.3 C54.8,6.8 54.8,7.5 54.3,7.9 C54,8.2 53.6,8.4 52.9,8.4 C52.5,8.4 52.1,8.4 51.7,8.3 L51.7,12.4 L50.1,12.4 L50.1,12.5 Z M52.6,7 C52.8,7 53,7 53.2,6.7 C53.2,6.6 53.3,6.5 53.3,6 L53.3,4.9 C53.3,4.7 53.3,4.4 53.2,4.3 C53,4.1 52.7,4.1 52.6,4.1 L51.9,4.1 L51.9,7.1 L52.6,7.1 L52.6,7 Z"></path>
                <path id="Shape" d="M55.5,2.7 L57.1,2.7 L57.1,6.8 L57.8,6.8 C58.1,6.8 58.8,6.8 59.4,7.2 C60.1,7.7 60.2,8.5 60.2,9 L60.2,10.3 C60.2,10.8 60.2,11.6 59.6,12.1 C59.4,12.3 58.9,12.6 58.2,12.6 L55.5,12.6 L55.5,2.7 Z M57.1,11.2 L57.9,11.2 C58.1,11.2 58.3,11.2 58.4,11.1 C58.6,10.9 58.6,10.6 58.6,10.4 L58.6,9.5 C58.6,9.1 58.6,8.8 58.5,8.7 C58.3,8.2 57.9,8.2 57.6,8.2 L57,8.2 L57,11.2 L57.1,11.2 Z M60.8,2.7 L62.4,2.7 L62.4,12.6 L60.8,12.6 L60.8,2.7 Z"></path>
                <path id="Shape" d="M66.7,12.5 L66.7,7.6 L66.8,6.9 L65.1,10.7 L65.1,12.5 L63.5,12.5 L63.5,2.6 L65.1,2.6 L65.1,7.1 L65,7.9 L66.7,4.1 L66.7,2.6 L68.3,2.6 L68.3,12.5 L66.7,12.5 Z M67.7,0.4 C67.7,1.2 67.2,1.7 67,1.8 C66.6,2.1 66.2,2.2 65.8,2.2 C65.3,2.2 64.9,2.1 64.6,1.8 C64.5,1.7 63.9,1.2 63.9,0.4 L65.2,0.4 C65.2,0.5 65.2,0.7 65.3,1 C65.4,1.2 65.6,1.3 65.9,1.3 C66.1,1.3 66.3,1.2 66.4,1 C66.5,0.8 66.5,0.5 66.5,0.4 L67.7,0.4 Z"></path>
                <polygon points="10.2 22.8 10.2 27.5 8.6 27.5 8.6 17.6 10.2 17.6 10.2 21.4 11.9 21.4 11.9 17.6 13.5 17.6 13.5 27.5 11.9 27.5 11.9 22.8" id="Shape"></polygon>
                <path id="Shape" d="M14.1,26.1 L15,26.1 C15.3,26.1 15.6,26 15.9,25.7 C16.3,25.2 16.1,24.8 16,24.5 L14.1,17.6 L15.8,17.6 L16.9,22.5 L17.6,17.6 L19.3,17.6 L17.7,25.6 C17.6,26 17.4,26.7 16.7,27.1 C16.2,27.4 15.8,27.4 15.4,27.4 C15.3,27.4 15.1,27.4 14.3,27.4 L14.3,26.1 L14.1,26.1 Z"></path>
                <path id="Shape" d="M23,27.5 L23,22.8 L22.4,22.8 L21,27.5 L19.3,27.5 L21,22.3 C20.7,22 20.5,21.7 20.5,21.4 L20.2,19.7 C20.1,19.4 20.1,19.1 19.8,19.1 L19.6,19.1 L19.6,17.7 L20.3,17.7 C20.8,17.7 21.4,17.7 21.6,18.9 L22,20.8 C22.1,21.5 22.5,21.5 22.7,21.5 L23.1,21.5 L23.1,17.7 L24.7,17.7 L24.7,21.5 L25.1,21.5 C25.6,21.5 25.7,21.1 25.8,20.8 L26.2,18.9 C26.4,17.7 27.1,17.7 27.5,17.7 L28.2,17.7 L28.2,19.1 L28,19.1 C27.7,19.1 27.6,19.3 27.6,19.7 L27.3,21.4 C27.2,21.8 27.1,22.1 26.8,22.3 L28.4,27.5 L26.7,27.5 L25.3,22.8 L24.7,22.8 L24.7,27.5 L23,27.5 Z"></path>
                <polygon points="28.9 17.6 33 17.6 33 19 30.5 19 30.5 21.4 32.4 21.4 32.4 22.8 30.5 22.8 30.5 26.2 33.2 26.2 33.2 27.6 28.9 27.6 28.9 17.6" id="Shape"></polygon>
                <polygon points="35.5 22.8 35.5 27.5 33.9 27.5 33.9 17.6 35.5 17.6 35.5 21.4 37.2 21.4 37.2 17.6 38.8 17.6 38.8 27.5 37.2 27.5 37.2 22.8" id="Shape"></polygon>
                <polygon points="45.8 27.5 44.6 20.1 44.5 20.1 44.6 21.4 44.6 27.5 43 27.5 43 17.6 45.5 17.6 46.4 24 46.5 24 47.4 17.6 50 17.6 50 27.5 48.4 27.5 48.4 21.4 48.5 20.1 48.4 20.1 47.2 27.5" id="Shape"></polygon>
                <polygon points="52.6 22.8 52.6 27.5 51 27.5 51 17.6 52.6 17.6 52.6 21.4 54.3 21.4 54.3 17.6 55.9 17.6 55.9 27.5 54.3 27.5 54.3 22.8" id="Shape"></polygon>
                <polygon points="56.9 17.6 61 17.6 61 19 58.5 19 58.5 21.4 60.4 21.4 60.4 22.8 58.5 22.8 58.5 26.2 61.2 26.2 61.2 27.6 56.9 27.6" id="Shape"></polygon>
            </g>
        </g>
    </g>
</svg></div></div><div style="left: 16px; top: 149px; width: 944px; height: 40px; z-index: 125;" class="rmwidget text"><div class="v2" style=" -webkit-nbsp-mode:space; -webkit-line-break:after-white-space; column-count:auto;-webkit-column-count:auto !important;-moz-column-count:auto;column-gap:16px;-webkit-column-gap:16px !important;-moz-column-gap:16px;background:rgba(255,255,255, 0)"><p style="line-height: 50px; font-size: 40px;" class="paragraph-294cfbb1-406d-4f7e-be16-7b00ba48cba3" data-style-phone_portrait="empty" data-class-phone_portrait="paragraph-610004e7-b3e4-421f-9d55-19328b10b103" data-anchor-link-pos-phone_portrait="empty">На территории выставочного комплекса представлены:</p></div></div><div style="left: 16px; top: 198px; width: 829px; height: 59px; z-index: 102;" class="rmwidget text"><div class="v2" style=" -webkit-nbsp-mode:space; -webkit-line-break:after-white-space; column-count:auto;-webkit-column-count:auto !important;-moz-column-count:auto;column-gap:16px;-webkit-column-gap:16px !important;-moz-column-gap:16px;background:rgba(255,255,255, 0)"><p data-style-phone_portrait="line-height: 24px; font-size: 16px; text-align: left;" data-anchor-link-pos-phone_portrait="empty" style="line-height: 26px; font-size: 18px; text-align: left;"><span data-anchor-link-pos-phone_portrait="empty" style="font-family: qygc;"><span data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty" style="font-family: vcsm;"><span data-anchor-link-pos-phone_portrait="empty"><span style="font-weight: bold; font-style: normal;" data-anchor-link-pos-phone_portrait="empty">загородные дома, бани, садовые строения</span>, выполненные с возможными вариантами внутренней и внешней отделки, пристройками и полностью обустроенными внутренними помещениями.</span></span></span></span></p>
<p data-style-phone_portrait="line-height: 24px; font-size: 15px; text-align: left;" data-anchor-link-pos-phone_portrait="empty" style="line-height: 26px; font-size: 18px; text-align: left;"><span data-anchor-link-pos-phone_portrait="empty" style="font-family: qygc;"><span data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty" style="font-family: vcsm;"><span data-anchor-link-pos-phone_portrait="empty">&nbsp;</span></span></span></span></p></div></div><div style="left: 16px; top: 294.47px; width: 306.47px; height: 276px; z-index: 101;" class="rmwidget widget-slideshow"><div data-id="5ab028f35cdb087e43cef78a" class="common-slideshow environment-viewer">
		<div style="height: 200px; background: rgb(0, 0, 0) none repeat scroll 0% 0%;" class="images no-rmswipe">
			<div class="images-wrapper"><div style="background-size: cover; background-image: url(&quot;https://d3n32ilufxuvd1.cloudfront.net/5a0ec3e02c606546d861ea5e/1010932/upload-0983dc30-4f73-11e8-a8fd-a5b7a00c1aab.jpg&quot;);" data-id="860e212f-f39f-4e68-91c5-3d4f466d13f9" class="image center-image neighbour"></div><div data-src="https://d3n32ilufxuvd1.cloudfront.net/5a0ec3e02c606546d861ea5e/1010932/upload-0bdce760-4f73-11e8-a8fd-a5b7a00c1aab.jpg" style="background-size: cover;" data-id="57d45cad-d256-434c-8584-8432436b667b" class="image next-image neighbour"></div><div data-src="https://d3n32ilufxuvd1.cloudfront.net/5a0ec3e02c606546d861ea5e/1010932/upload-0e6a7010-4f73-11e8-a8fd-a5b7a00c1aab.jpg" style="background-size: cover;" data-id="3d5466e6-ef30-45dc-a7a9-b8d585077be1" class="image next-image"></div></div>
			<div style="display: none;" class="fullscreen">
				<svg class="fullscreen-off" xmlns="http://www.w3.org/2000/svg" version="1.1" width="24" height="24">
					<path class="fullscreen-path-1" d="M4 14 L4 20 L10 20  Z M14 4 L20 4 L20 10  Z " style="fill: rgb(255, 255, 255); stroke: rgb(255, 255, 255); stroke-width: 0;"></path>
					<path class="fullscreen-path-2" d="M10 14 L5 19 M14 10 L19 5" stroke-linecap="round" style="fill: none; stroke: rgb(255, 255, 255); stroke-width: 2px;"></path>
				</svg>
				<svg class="fullscreen-on" xmlns="http://www.w3.org/2000/svg" version="1.1" width="24" height="24">
					<path class="fullscreen-path-1" d="M5 13 L11 13 L11 19  Z M13 5 L19 11 L13 11  Z " style="fill: rgb(255, 255, 255); stroke: rgb(255, 255, 255); stroke-width: 0;"></path>
					<path class="fullscreen-path-2" d="M10 14 L5 19 M14 10 L19 5" stroke-linecap="round" style="fill: none; stroke: rgb(255, 255, 255); stroke-width: 2px;"></path>
				</svg>
			</div>

			<div class="bottom-arrows hidden">
				<div class="prev-picture-arrow-bottom">
					<svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="40" height="40">
						<path d="M23.5 11.5 L15.5 19.5 L23.5 27.5" stroke-linejoin="round" stroke-linecap="round" style="fill: none; stroke: rgb(255, 255, 255); stroke-width: 3px;"></path>
					</svg>
				</div>

				<div class="next-picture-arrow-bottom">
					<svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="40" height="40">
						<path d="M16.5 11.5 L24.5 19.5 L16.5 27.5" stroke-linejoin="round" stroke-linecap="round" style="fill: none; stroke: rgb(255, 255, 255); stroke-width: 3px;"></path>
					</svg>
				</div>

				<div style="color: rgb(255, 255, 255);" class="counters-text">
					<span class="counters-text-current">1</span>/<span class="counters-text-total">3</span>
				</div>
			</div>


			<div class="prev-picture-arrow-middle">
				<svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="40" height="40">
					<path d="M23.5 11.5 L15.5 19.5 L23.5 27.5" stroke-linejoin="round" stroke-linecap="round" style="fill: none; stroke: rgb(255, 255, 255); stroke-width: 3px;"></path>
				</svg>
			</div>


			<div class="next-picture-arrow-middle">
				<svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="40" height="40">
					<path d="M16.5 11.5 L24.5 19.5 L16.5 27.5" stroke-linejoin="round" stroke-linecap="round" style="fill: none; stroke: rgb(255, 255, 255); stroke-width: 3px;"></path>
				</svg>
			</div>


		</div>

		<div style="display: none; height: 72px; background: rgb(0, 0, 0) none repeat scroll 0% 0%;" class="thumbnails no-rmswipe">
			<div class="scroll-wrapper">
				<div class="items-wrapper has-horizontal-scroll">
					<div class="items">
					</div>
				</div>
				<div class="scroll"></div>
			</div>
		</div>

		<div style="display: none; height: 24px;" class="counters no-rmswipe">
			<div class="scroll-wrapper">
				<div class="items-wrapper has-horizontal-scroll">
					<div class="items">
					</div>
				</div>
				<div class="scroll"></div>
			</div>
		</div>

		<div style="display: block; height: 76px;" class="captions">
			
		<div style="display: block;" data-id="860e212f-f39f-4e68-91c5-3d4f466d13f9" class="caption-wrapper"><div style="vertical-align: baseline; text-transform: none; text-decoration: none; text-align: center; opacity: 1; line-height: 18px; letter-spacing: 0px; font-weight: 400; font-style: normal; font-size: 14px; font-family: Arial; color: rgb(0, 0, 0);" class="caption"> </div></div><div style="display: none;" data-id="57d45cad-d256-434c-8584-8432436b667b" class="caption-wrapper"><div style="vertical-align: baseline; text-transform: none; text-decoration: none; text-align: center; opacity: 1; line-height: 18px; letter-spacing: 0px; font-weight: 400; font-style: normal; font-size: 14px; font-family: Arial; color: rgb(0, 0, 0);" class="caption"> </div></div><div style="display: none;" data-id="3d5466e6-ef30-45dc-a7a9-b8d585077be1" class="caption-wrapper"><div style="vertical-align: baseline; text-transform: none; text-decoration: none; text-align: center; opacity: 1; line-height: 18px; letter-spacing: 0px; font-weight: 400; font-style: normal; font-size: 14px; font-family: Arial; color: rgb(0, 0, 0);" class="caption"> </div></div></div>
	<style class="" id="slideshow-images-position-style-5ab028f35cdb087e43cef78a" type="text/css">					.common-slideshow[data-id="5ab028f35cdb087e43cef78a"] .images .images-wrapper {
						left: 0px;
						width: 307px;
					}
					.common-slideshow[data-id="5ab028f35cdb087e43cef78a"] .images .images-wrapper .image {
						left: 0px;
						width: 307px;
					}
					.common-slideshow[data-id="5ab028f35cdb087e43cef78a"] .images .images-wrapper .image.prev-image {
						-webkit-transform: translateX(-307px) ;
						transform: translateX(-307px) ;
					}
					.common-slideshow[data-id="5ab028f35cdb087e43cef78a"] .images .images-wrapper .image.center-image {
						-webkit-transform: translateX(0) ;
						transform: translateX(0) ;
					}
					.common-slideshow[data-id="5ab028f35cdb087e43cef78a"] .images .images-wrapper .image.next-image {
						-webkit-transform: translateX(307px) ;
						transform: translateX(307px) ;
					}
					</style><style class="" id="slideshow-images-transition-style-5ab028f35cdb087e43cef78a" type="text/css">					.common-slideshow[data-id="5ab028f35cdb087e43cef78a"] .images .images-wrapper.enable-transitions .image {
						-webkit-transition:	all undefinedms cubic-bezier(0.40, 0.24, 0.40, 1);						transition: all undefinedms cubic-bezier(0.40, 0.24, 0.40, 1);					}
					.common-slideshow[data-id="5ab028f35cdb087e43cef78a"] .images .images-wrapper.enable-transitions .image.center-image {
						-webkit-transition:	all NaNms cubic-bezier(0.40, 0.24, 0.40, 1);						transition: all NaNms cubic-bezier(0.40, 0.24, 0.40, 1);					}
					</style></div></div><div style="left: 362px; top: 294.47px; width: 300px; height: 276px; z-index: 105;" class="rmwidget widget-slideshow"><div data-id="5ab0d2405cdb087e43cf6bb9" class="common-slideshow environment-viewer">
		<div style="height: 200px; background: rgb(255, 255, 255) none repeat scroll 0% 0%;" class="images no-rmswipe">
			<div class="images-wrapper"><div style="background-size: cover; background-image: url(&quot;https://d3n32ilufxuvd1.cloudfront.net/5a0ec3e02c606546d861ea5e/1010932/upload-10b3eae0-4f73-11e8-a8fd-a5b7a00c1aab.jpg&quot;);" data-id="52c82b02-952a-49ce-81a3-7b5eaac39591" class="image center-image neighbour"></div><div data-src="https://d3n32ilufxuvd1.cloudfront.net/5a0ec3e02c606546d861ea5e/1010932/upload-13211a50-4f73-11e8-a8fd-a5b7a00c1aab.jpg" style="background-size: cover;" data-id="568bfa25-4af4-4c84-807d-896436fed57d" class="image next-image neighbour"></div><div data-src="https://d3n32ilufxuvd1.cloudfront.net/5a0ec3e02c606546d861ea5e/1010932/upload-1572f990-4f73-11e8-a8fd-a5b7a00c1aab.jpg" style="background-size: cover;" data-id="4996fe58-ad05-4887-b68d-b07e1e4ed2dd" class="image next-image"></div></div>
			<div style="display: none;" class="fullscreen">
				<svg class="fullscreen-off" xmlns="http://www.w3.org/2000/svg" version="1.1" width="24" height="24">
					<path class="fullscreen-path-1" d="M4 14 L4 20 L10 20  Z M14 4 L20 4 L20 10  Z " style="fill: rgb(255, 255, 255); stroke: rgb(255, 255, 255); stroke-width: 0;"></path>
					<path class="fullscreen-path-2" d="M10 14 L5 19 M14 10 L19 5" stroke-linecap="round" style="fill: none; stroke: rgb(255, 255, 255); stroke-width: 2px;"></path>
				</svg>
				<svg class="fullscreen-on" xmlns="http://www.w3.org/2000/svg" version="1.1" width="24" height="24">
					<path class="fullscreen-path-1" d="M5 13 L11 13 L11 19  Z M13 5 L19 11 L13 11  Z " style="fill: rgb(255, 255, 255); stroke: rgb(255, 255, 255); stroke-width: 0;"></path>
					<path class="fullscreen-path-2" d="M10 14 L5 19 M14 10 L19 5" stroke-linecap="round" style="fill: none; stroke: rgb(255, 255, 255); stroke-width: 2px;"></path>
				</svg>
			</div>

			<div class="bottom-arrows hidden">
				<div class="prev-picture-arrow-bottom">
					<svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="40" height="40">
						<path d="M23.5 11.5 L15.5 19.5 L23.5 27.5" stroke-linejoin="round" stroke-linecap="round" style="fill: none; stroke: rgb(255, 255, 255); stroke-width: 3px;"></path>
					</svg>
				</div>

				<div class="next-picture-arrow-bottom">
					<svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="40" height="40">
						<path d="M16.5 11.5 L24.5 19.5 L16.5 27.5" stroke-linejoin="round" stroke-linecap="round" style="fill: none; stroke: rgb(255, 255, 255); stroke-width: 3px;"></path>
					</svg>
				</div>

				<div style="color: rgb(255, 255, 255);" class="counters-text">
					<span class="counters-text-current">1</span>/<span class="counters-text-total">3</span>
				</div>
			</div>


			<div class="prev-picture-arrow-middle">
				<svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="40" height="40">
					<path d="M23.5 11.5 L15.5 19.5 L23.5 27.5" stroke-linejoin="round" stroke-linecap="round" style="fill: none; stroke: rgb(255, 255, 255); stroke-width: 3px;"></path>
				</svg>
			</div>


			<div class="next-picture-arrow-middle">
				<svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="40" height="40">
					<path d="M16.5 11.5 L24.5 19.5 L16.5 27.5" stroke-linejoin="round" stroke-linecap="round" style="fill: none; stroke: rgb(255, 255, 255); stroke-width: 3px;"></path>
				</svg>
			</div>


		</div>

		<div style="display: none; height: 72px; background: rgb(255, 255, 255) none repeat scroll 0% 0%;" class="thumbnails no-rmswipe">
			<div class="scroll-wrapper">
				<div class="items-wrapper has-horizontal-scroll">
					<div class="items">
					</div>
				</div>
				<div class="scroll"></div>
			</div>
		</div>

		<div style="display: none; height: 24px;" class="counters no-rmswipe">
			<div class="scroll-wrapper">
				<div class="items-wrapper has-horizontal-scroll">
					<div class="items">
					</div>
				</div>
				<div class="scroll"></div>
			</div>
		</div>

		<div style="display: block; height: 76px;" class="captions">
			
		<div style="display: block;" data-id="52c82b02-952a-49ce-81a3-7b5eaac39591" class="caption-wrapper"><div style="vertical-align: baseline; text-transform: none; text-decoration: none; text-align: center; opacity: 1; line-height: 18px; letter-spacing: 0px; font-weight: 400; font-style: normal; font-size: 14px; font-family: Arial; color: rgb(0, 0, 0);" class="caption"> </div></div><div style="display: none;" data-id="568bfa25-4af4-4c84-807d-896436fed57d" class="caption-wrapper"><div style="vertical-align: baseline; text-transform: none; text-decoration: none; text-align: center; opacity: 1; line-height: 18px; letter-spacing: 0px; font-weight: 400; font-style: normal; font-size: 14px; font-family: Arial; color: rgb(0, 0, 0);" class="caption"> </div></div><div style="display: none;" data-id="4996fe58-ad05-4887-b68d-b07e1e4ed2dd" class="caption-wrapper"><div style="vertical-align: baseline; text-transform: none; text-decoration: none; text-align: center; opacity: 1; line-height: 18px; letter-spacing: 0px; font-weight: 400; font-style: normal; font-size: 14px; font-family: Arial; color: rgb(0, 0, 0);" class="caption"> </div></div></div>
	<style class="" id="slideshow-images-position-style-5ab0d2405cdb087e43cf6bb9" type="text/css">					.common-slideshow[data-id="5ab0d2405cdb087e43cf6bb9"] .images .images-wrapper {
						left: 0px;
						width: 300px;
					}
					.common-slideshow[data-id="5ab0d2405cdb087e43cf6bb9"] .images .images-wrapper .image {
						left: 0px;
						width: 300px;
					}
					.common-slideshow[data-id="5ab0d2405cdb087e43cf6bb9"] .images .images-wrapper .image.prev-image {
						-webkit-transform: translateX(-300px) ;
						transform: translateX(-300px) ;
					}
					.common-slideshow[data-id="5ab0d2405cdb087e43cf6bb9"] .images .images-wrapper .image.center-image {
						-webkit-transform: translateX(0) ;
						transform: translateX(0) ;
					}
					.common-slideshow[data-id="5ab0d2405cdb087e43cf6bb9"] .images .images-wrapper .image.next-image {
						-webkit-transform: translateX(300px) ;
						transform: translateX(300px) ;
					}
					</style><style class="" id="slideshow-images-transition-style-5ab0d2405cdb087e43cf6bb9" type="text/css">					.common-slideshow[data-id="5ab0d2405cdb087e43cf6bb9"] .images .images-wrapper.enable-transitions .image {
						-webkit-transition:	all undefinedms cubic-bezier(0.40, 0.24, 0.40, 1);						transition: all undefinedms cubic-bezier(0.40, 0.24, 0.40, 1);					}
					.common-slideshow[data-id="5ab0d2405cdb087e43cf6bb9"] .images .images-wrapper.enable-transitions .image.center-image {
						-webkit-transition:	all NaNms cubic-bezier(0.40, 0.24, 0.40, 1);						transition: all NaNms cubic-bezier(0.40, 0.24, 0.40, 1);					}
					</style></div></div><div style="left: 702px; top: 297.47px; width: 306px; height: 276px; z-index: 108;" class="rmwidget widget-slideshow"><div data-id="5ab0d26106059e006b54dc81" class="common-slideshow environment-viewer">
		<div style="height: 200px; background: rgb(0, 0, 0) none repeat scroll 0% 0%;" class="images no-rmswipe">
			<div class="images-wrapper"><div style="background-size: cover; background-image: url(&quot;https://d3n32ilufxuvd1.cloudfront.net/5a0ec3e02c606546d861ea5e/1010932/upload-179193d0-4f73-11e8-a8fd-a5b7a00c1aab.jpg&quot;);" data-id="f0f1471b-7dc9-4f79-b121-14209f9b2164" class="image center-image neighbour"></div><div data-src="https://d3n32ilufxuvd1.cloudfront.net/5a0ec3e02c606546d861ea5e/1010932/upload-19c6c350-4f73-11e8-a8fd-a5b7a00c1aab.jpg" style="background-size: cover;" data-id="8ee29489-9544-4d3e-aeec-a0aaf194ccac" class="image next-image neighbour"></div><div data-src="https://d3n32ilufxuvd1.cloudfront.net/5a0ec3e02c606546d861ea5e/1010932/upload-1bcf1670-4f73-11e8-a8fd-a5b7a00c1aab.jpg" style="background-size: cover;" data-id="72e9ce00-72c3-43fb-83c1-dbe4bf49274c" class="image next-image"></div></div>
			<div style="display: none;" class="fullscreen">
				<svg class="fullscreen-off" xmlns="http://www.w3.org/2000/svg" version="1.1" width="24" height="24">
					<path class="fullscreen-path-1" d="M4 14 L4 20 L10 20  Z M14 4 L20 4 L20 10  Z " style="fill: rgb(255, 255, 255); stroke: rgb(255, 255, 255); stroke-width: 0;"></path>
					<path class="fullscreen-path-2" d="M10 14 L5 19 M14 10 L19 5" stroke-linecap="round" style="fill: none; stroke: rgb(255, 255, 255); stroke-width: 2px;"></path>
				</svg>
				<svg class="fullscreen-on" xmlns="http://www.w3.org/2000/svg" version="1.1" width="24" height="24">
					<path class="fullscreen-path-1" d="M5 13 L11 13 L11 19  Z M13 5 L19 11 L13 11  Z " style="fill: rgb(255, 255, 255); stroke: rgb(255, 255, 255); stroke-width: 0;"></path>
					<path class="fullscreen-path-2" d="M10 14 L5 19 M14 10 L19 5" stroke-linecap="round" style="fill: none; stroke: rgb(255, 255, 255); stroke-width: 2px;"></path>
				</svg>
			</div>

			<div class="bottom-arrows hidden">
				<div class="prev-picture-arrow-bottom">
					<svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="40" height="40">
						<path d="M23.5 11.5 L15.5 19.5 L23.5 27.5" stroke-linejoin="round" stroke-linecap="round" style="fill: none; stroke: rgb(255, 255, 255); stroke-width: 3px;"></path>
					</svg>
				</div>

				<div class="next-picture-arrow-bottom">
					<svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="40" height="40">
						<path d="M16.5 11.5 L24.5 19.5 L16.5 27.5" stroke-linejoin="round" stroke-linecap="round" style="fill: none; stroke: rgb(255, 255, 255); stroke-width: 3px;"></path>
					</svg>
				</div>

				<div style="color: rgb(255, 255, 255);" class="counters-text">
					<span class="counters-text-current">1</span>/<span class="counters-text-total">3</span>
				</div>
			</div>


			<div class="prev-picture-arrow-middle">
				<svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="40" height="40">
					<path d="M23.5 11.5 L15.5 19.5 L23.5 27.5" stroke-linejoin="round" stroke-linecap="round" style="fill: none; stroke: rgb(255, 255, 255); stroke-width: 3px;"></path>
				</svg>
			</div>


			<div class="next-picture-arrow-middle">
				<svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="40" height="40">
					<path d="M16.5 11.5 L24.5 19.5 L16.5 27.5" stroke-linejoin="round" stroke-linecap="round" style="fill: none; stroke: rgb(255, 255, 255); stroke-width: 3px;"></path>
				</svg>
			</div>


		</div>

		<div style="display: none; height: 72px; background: rgb(0, 0, 0) none repeat scroll 0% 0%;" class="thumbnails no-rmswipe">
			<div class="scroll-wrapper">
				<div class="items-wrapper has-horizontal-scroll">
					<div class="items">
					</div>
				</div>
				<div class="scroll"></div>
			</div>
		</div>

		<div style="display: none; height: 24px;" class="counters no-rmswipe">
			<div class="scroll-wrapper">
				<div class="items-wrapper has-horizontal-scroll">
					<div class="items">
					</div>
				</div>
				<div class="scroll"></div>
			</div>
		</div>

		<div style="display: block; height: 76px;" class="captions">
			
		<div style="display: block;" data-id="f0f1471b-7dc9-4f79-b121-14209f9b2164" class="caption-wrapper"><div style="vertical-align: baseline; text-transform: none; text-decoration: none; text-align: center; opacity: 1; line-height: 18px; letter-spacing: 0px; font-weight: 400; font-style: normal; font-size: 14px; font-family: Arial; color: rgb(0, 0, 0);" class="caption"> </div></div><div style="display: none;" data-id="8ee29489-9544-4d3e-aeec-a0aaf194ccac" class="caption-wrapper"><div style="vertical-align: baseline; text-transform: none; text-decoration: none; text-align: center; opacity: 1; line-height: 18px; letter-spacing: 0px; font-weight: 400; font-style: normal; font-size: 14px; font-family: Arial; color: rgb(0, 0, 0);" class="caption"> </div></div><div style="display: none;" data-id="72e9ce00-72c3-43fb-83c1-dbe4bf49274c" class="caption-wrapper"><div style="vertical-align: baseline; text-transform: none; text-decoration: none; text-align: center; opacity: 1; line-height: 18px; letter-spacing: 0px; font-weight: 400; font-style: normal; font-size: 14px; font-family: Arial; color: rgb(0, 0, 0);" class="caption"> </div></div></div>
	<style class="" id="slideshow-images-position-style-5ab0d26106059e006b54dc81" type="text/css">					.common-slideshow[data-id="5ab0d26106059e006b54dc81"] .images .images-wrapper {
						left: 0px;
						width: 306px;
					}
					.common-slideshow[data-id="5ab0d26106059e006b54dc81"] .images .images-wrapper .image {
						left: 0px;
						width: 306px;
					}
					.common-slideshow[data-id="5ab0d26106059e006b54dc81"] .images .images-wrapper .image.prev-image {
						-webkit-transform: translateX(-306px) ;
						transform: translateX(-306px) ;
					}
					.common-slideshow[data-id="5ab0d26106059e006b54dc81"] .images .images-wrapper .image.center-image {
						-webkit-transform: translateX(0) ;
						transform: translateX(0) ;
					}
					.common-slideshow[data-id="5ab0d26106059e006b54dc81"] .images .images-wrapper .image.next-image {
						-webkit-transform: translateX(306px) ;
						transform: translateX(306px) ;
					}
					</style><style class="" id="slideshow-images-transition-style-5ab0d26106059e006b54dc81" type="text/css">					.common-slideshow[data-id="5ab0d26106059e006b54dc81"] .images .images-wrapper.enable-transitions .image {
						-webkit-transition:	all undefinedms cubic-bezier(0.40, 0.24, 0.40, 1);						transition: all undefinedms cubic-bezier(0.40, 0.24, 0.40, 1);					}
					.common-slideshow[data-id="5ab0d26106059e006b54dc81"] .images .images-wrapper.enable-transitions .image.center-image {
						-webkit-transition:	all NaNms cubic-bezier(0.40, 0.24, 0.40, 1);						transition: all NaNms cubic-bezier(0.40, 0.24, 0.40, 1);					}
					</style></div></div><div style="left: 16px; top: 518.47px; width: 73px; height: 55px; z-index: 103;" class="rmwidget text"><div class="v2" style=" -webkit-nbsp-mode:space; -webkit-line-break:after-white-space; column-count:auto;-webkit-column-count:auto !important;-moz-column-count:auto;column-gap:16px;-webkit-column-gap:16px !important;-moz-column-gap:16px;background:rgba(255,255,255, 0)"><p class="paragraph-54878fc4-e704-45b1-bb90-3a871976fa75"><span>Бани</span></p></div></div><div style="left: 363px; top: 518.47px; width: 203.27px; height: 55px; z-index: 106;" class="rmwidget text"><div class="v2" style=" -webkit-nbsp-mode:space; -webkit-line-break:after-white-space; column-count:auto;-webkit-column-count:auto !important;-moz-column-count:auto;column-gap:16px;-webkit-column-gap:16px !important;-moz-column-gap:16px;background:rgba(255,255,255, 0)"><p class="paragraph-54878fc4-e704-45b1-bb90-3a871976fa75"><span><span><span><span>Дачные дома</span><br></span></span></span></p></div></div><div style="left: 703px; top: 518.47px; width: 305px; height: 37px; z-index: 109;" class="rmwidget text"><div class="v2" style=" -webkit-nbsp-mode:space; -webkit-line-break:after-white-space; column-count:auto;-webkit-column-count:auto !important;-moz-column-count:auto;column-gap:16px;-webkit-column-gap:16px !important;-moz-column-gap:16px;background:rgba(255,255,255, 0)"><p style="line-height: 40px; font-size: 32px; padding-bottom: 0px; text-align: left;"><span style="color: #0a0a0a; font-family: custom_8001; text-transform: uppercase;"><span style="font-weight: bold;"><span><span style="font-family: custom_8076; font-weight: 400;">Малые строения, беседки</span><br></span></span></span></p></div></div><div style="left: 16px; top: 569.47px; width: 309.06px; height: 100px; z-index: 104;" class="rmwidget text"><div class="v2" style=" -webkit-nbsp-mode:space; -webkit-line-break:after-white-space; column-count:auto;-webkit-column-count:auto !important;-moz-column-count:auto;column-gap:16px;-webkit-column-gap:16px !important;-moz-column-gap:16px;background:rgba(255,255,255, 0)"><p style="line-height: 24px; font-size: 16px;" data-anchor-link-pos-phone_portrait="empty"><span style="font-family: qygc;" data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span style="font-family: vcsm;" data-anchor-link-pos-phone_portrait="empty"><span>Традиционные бани из клеёного бруса или каркаса с удобными парными, комнатами отдыха и душевыми.<br></span></span><br></span></span></p></div></div><div style="left: 362px; top: 569.47px; width: 300px; height: 101px; z-index: 107;" class="rmwidget text"><div class="v2" style=" -webkit-nbsp-mode:space; -webkit-line-break:after-white-space; column-count:auto;-webkit-column-count:auto !important;-moz-column-count:auto;column-gap:16px;-webkit-column-gap:16px !important;-moz-column-gap:16px;background:rgba(255,255,255, 0)"><p data-anchor-link-pos-phone_portrait="empty" class="paragraph-478616a7-16ff-48a9-9608-9ffdc7d9e67f"><span data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty">Классические дачные дома, которые можно построить из клеёного бруса, по каркасной технологии или из кирпича.</span></span></span><br></span></span></p>
<p data-anchor-link-pos-phone_portrait="empty" style="line-height: 24px; font-size: 14px;"><span data-anchor-link-pos-phone_portrait="empty" style="font-family: qygc;"><span data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty" style="font-family: vcsm;"><span data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty">&nbsp;</span></span></span></span></span></p></div></div><div style="left: 702px; top: 569.47px; width: 306px; height: 81px; z-index: 110;" class="rmwidget text"><div class="v2" style=" -webkit-nbsp-mode:space; -webkit-line-break:after-white-space; column-count:auto;-webkit-column-count:auto !important;-moz-column-count:auto;column-gap:16px;-webkit-column-gap:16px !important;-moz-column-gap:16px;background:rgba(255,255,255, 0)"><p class="paragraph-478616a7-16ff-48a9-9608-9ffdc7d9e67f"><span><span><span><span><span>Беседки, гаражи, душевые и другие садовые строения, призванные сделать Вашу загородную жизнь удобнее.</span></span></span><br></span></span></p>
<p style="line-height: 24px; font-size: 14px;"><span style="font-family: qygc;"><span><span style="font-family: vcsm;"><span><span>&nbsp;</span></span></span></span></span></p></div></div><div style="left: 15.53px; top: 731.47px; width: 306.94px; height: 276px; z-index: 111;" class="rmwidget widget-slideshow"><div data-id="5ab0d46fabf3004d73e2a124" class="common-slideshow environment-viewer">
		<div style="height: 200px; background: rgb(0, 0, 0) none repeat scroll 0% 0%;" class="images no-rmswipe">
			<div class="images-wrapper"><div style="background-size: cover; background-image: url(&quot;https://d3n32ilufxuvd1.cloudfront.net/5a0ec3e02c606546d861ea5e/1010932/upload-1dcdf3b0-4f73-11e8-a8fd-a5b7a00c1aab.jpg&quot;);" data-id="246c5df7-b89e-488e-8d19-19bc2c2edb1a" class="image center-image neighbour"></div><div data-src="https://d3n32ilufxuvd1.cloudfront.net/5a0ec3e02c606546d861ea5e/1010932/upload-201d61f0-4f73-11e8-a8fd-a5b7a00c1aab.jpg" style="background-size: cover;" data-id="f097e92c-6496-437d-aacb-e01b4d923bcf" class="image next-image neighbour"></div></div>
			<div style="display: none;" class="fullscreen">
				<svg class="fullscreen-off" xmlns="http://www.w3.org/2000/svg" version="1.1" width="24" height="24">
					<path class="fullscreen-path-1" d="M4 14 L4 20 L10 20  Z M14 4 L20 4 L20 10  Z " style="fill: rgb(255, 255, 255); stroke: rgb(255, 255, 255); stroke-width: 0;"></path>
					<path class="fullscreen-path-2" d="M10 14 L5 19 M14 10 L19 5" stroke-linecap="round" style="fill: none; stroke: rgb(255, 255, 255); stroke-width: 2px;"></path>
				</svg>
				<svg class="fullscreen-on" xmlns="http://www.w3.org/2000/svg" version="1.1" width="24" height="24">
					<path class="fullscreen-path-1" d="M5 13 L11 13 L11 19  Z M13 5 L19 11 L13 11  Z " style="fill: rgb(255, 255, 255); stroke: rgb(255, 255, 255); stroke-width: 0;"></path>
					<path class="fullscreen-path-2" d="M10 14 L5 19 M14 10 L19 5" stroke-linecap="round" style="fill: none; stroke: rgb(255, 255, 255); stroke-width: 2px;"></path>
				</svg>
			</div>

			<div class="bottom-arrows hidden">
				<div class="prev-picture-arrow-bottom">
					<svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="40" height="40">
						<path d="M23.5 11.5 L15.5 19.5 L23.5 27.5" stroke-linejoin="round" stroke-linecap="round" style="fill: none; stroke: rgb(255, 255, 255); stroke-width: 3px;"></path>
					</svg>
				</div>

				<div class="next-picture-arrow-bottom">
					<svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="40" height="40">
						<path d="M16.5 11.5 L24.5 19.5 L16.5 27.5" stroke-linejoin="round" stroke-linecap="round" style="fill: none; stroke: rgb(255, 255, 255); stroke-width: 3px;"></path>
					</svg>
				</div>

				<div style="color: rgb(255, 255, 255);" class="counters-text">
					<span class="counters-text-current">1</span>/<span class="counters-text-total">2</span>
				</div>
			</div>


			<div class="prev-picture-arrow-middle">
				<svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="40" height="40">
					<path d="M23.5 11.5 L15.5 19.5 L23.5 27.5" stroke-linejoin="round" stroke-linecap="round" style="fill: none; stroke: rgb(255, 255, 255); stroke-width: 3px;"></path>
				</svg>
			</div>


			<div class="next-picture-arrow-middle">
				<svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="40" height="40">
					<path d="M16.5 11.5 L24.5 19.5 L16.5 27.5" stroke-linejoin="round" stroke-linecap="round" style="fill: none; stroke: rgb(255, 255, 255); stroke-width: 3px;"></path>
				</svg>
			</div>


		</div>

		<div style="display: none; height: 72px; background: rgb(0, 0, 0) none repeat scroll 0% 0%;" class="thumbnails no-rmswipe">
			<div class="scroll-wrapper">
				<div class="items-wrapper has-horizontal-scroll">
					<div class="items">
					</div>
				</div>
				<div class="scroll"></div>
			</div>
		</div>

		<div style="display: none; height: 24px;" class="counters no-rmswipe">
			<div class="scroll-wrapper">
				<div class="items-wrapper has-horizontal-scroll">
					<div class="items">
					</div>
				</div>
				<div class="scroll"></div>
			</div>
		</div>

		<div style="display: block; height: 76px;" class="captions">
			
		<div style="display: block;" data-id="246c5df7-b89e-488e-8d19-19bc2c2edb1a" class="caption-wrapper"><div style="vertical-align: baseline; text-transform: none; text-decoration: none; text-align: center; opacity: 1; line-height: 18px; letter-spacing: 0px; font-weight: 400; font-style: normal; font-size: 14px; font-family: Arial; color: rgb(0, 0, 0);" class="caption"> </div></div><div style="display: none;" data-id="f097e92c-6496-437d-aacb-e01b4d923bcf" class="caption-wrapper"><div style="vertical-align: baseline; text-transform: none; text-decoration: none; text-align: center; opacity: 1; line-height: 18px; letter-spacing: 0px; font-weight: 400; font-style: normal; font-size: 14px; font-family: Arial; color: rgb(0, 0, 0);" class="caption"> </div></div></div>
	<style class="" id="slideshow-images-position-style-5ab0d46fabf3004d73e2a124" type="text/css">					.common-slideshow[data-id="5ab0d46fabf3004d73e2a124"] .images .images-wrapper {
						left: 0px;
						width: 307px;
					}
					.common-slideshow[data-id="5ab0d46fabf3004d73e2a124"] .images .images-wrapper .image {
						left: 0px;
						width: 307px;
					}
					.common-slideshow[data-id="5ab0d46fabf3004d73e2a124"] .images .images-wrapper .image.prev-image {
						-webkit-transform: translateX(-307px) ;
						transform: translateX(-307px) ;
					}
					.common-slideshow[data-id="5ab0d46fabf3004d73e2a124"] .images .images-wrapper .image.center-image {
						-webkit-transform: translateX(0) ;
						transform: translateX(0) ;
					}
					.common-slideshow[data-id="5ab0d46fabf3004d73e2a124"] .images .images-wrapper .image.next-image {
						-webkit-transform: translateX(307px) ;
						transform: translateX(307px) ;
					}
					</style><style class="" id="slideshow-images-transition-style-5ab0d46fabf3004d73e2a124" type="text/css">					.common-slideshow[data-id="5ab0d46fabf3004d73e2a124"] .images .images-wrapper.enable-transitions .image {
						-webkit-transition:	all undefinedms cubic-bezier(0.40, 0.24, 0.40, 1);						transition: all undefinedms cubic-bezier(0.40, 0.24, 0.40, 1);					}
					.common-slideshow[data-id="5ab0d46fabf3004d73e2a124"] .images .images-wrapper.enable-transitions .image.center-image {
						-webkit-transition:	all NaNms cubic-bezier(0.40, 0.24, 0.40, 1);						transition: all NaNms cubic-bezier(0.40, 0.24, 0.40, 1);					}
					</style></div></div><div style="left: 363px; top: 731.47px; width: 298px; height: 276px; z-index: 114;" class="rmwidget widget-slideshow"><div data-id="5ab0d470c550c178b0eea46d" class="common-slideshow environment-viewer">
		<div style="height: 200px; background: rgb(0, 0, 0) none repeat scroll 0% 0%;" class="images no-rmswipe">
			<div class="images-wrapper"><div style="background-size: cover; background-image: url(&quot;https://d3n32ilufxuvd1.cloudfront.net/5a0ec3e02c606546d861ea5e/1010932/upload-2424e070-4f73-11e8-a8fd-a5b7a00c1aab.jpg&quot;);" data-id="86f2dd7d-1e21-40ac-abd4-59511cc12c2d" class="image center-image neighbour"></div><div data-src="https://d3n32ilufxuvd1.cloudfront.net/5a0ec3e02c606546d861ea5e/1010932/upload-260c6520-4f73-11e8-a8fd-a5b7a00c1aab.jpg" style="background-size: cover;" data-id="17834d0d-c029-49dd-a54a-4c83c90a4696" class="image next-image neighbour"></div><div data-src="https://d3n32ilufxuvd1.cloudfront.net/5a0ec3e02c606546d861ea5e/1010932/upload-223174e0-4f73-11e8-a8fd-a5b7a00c1aab.jpg" style="background-size: cover;" data-id="9f3b970e-4e5e-4052-b4d9-3ec5f20e66ab" class="image next-image"></div></div>
			<div style="display: none;" class="fullscreen">
				<svg class="fullscreen-off" xmlns="http://www.w3.org/2000/svg" version="1.1" width="24" height="24">
					<path class="fullscreen-path-1" d="M4 14 L4 20 L10 20  Z M14 4 L20 4 L20 10  Z " style="fill: rgb(255, 255, 255); stroke: rgb(255, 255, 255); stroke-width: 0;"></path>
					<path class="fullscreen-path-2" d="M10 14 L5 19 M14 10 L19 5" stroke-linecap="round" style="fill: none; stroke: rgb(255, 255, 255); stroke-width: 2px;"></path>
				</svg>
				<svg class="fullscreen-on" xmlns="http://www.w3.org/2000/svg" version="1.1" width="24" height="24">
					<path class="fullscreen-path-1" d="M5 13 L11 13 L11 19  Z M13 5 L19 11 L13 11  Z " style="fill: rgb(255, 255, 255); stroke: rgb(255, 255, 255); stroke-width: 0;"></path>
					<path class="fullscreen-path-2" d="M10 14 L5 19 M14 10 L19 5" stroke-linecap="round" style="fill: none; stroke: rgb(255, 255, 255); stroke-width: 2px;"></path>
				</svg>
			</div>

			<div class="bottom-arrows hidden">
				<div class="prev-picture-arrow-bottom">
					<svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="40" height="40">
						<path d="M23.5 11.5 L15.5 19.5 L23.5 27.5" stroke-linejoin="round" stroke-linecap="round" style="fill: none; stroke: rgb(255, 255, 255); stroke-width: 3px;"></path>
					</svg>
				</div>

				<div class="next-picture-arrow-bottom">
					<svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="40" height="40">
						<path d="M16.5 11.5 L24.5 19.5 L16.5 27.5" stroke-linejoin="round" stroke-linecap="round" style="fill: none; stroke: rgb(255, 255, 255); stroke-width: 3px;"></path>
					</svg>
				</div>

				<div style="color: rgb(255, 255, 255);" class="counters-text">
					<span class="counters-text-current">1</span>/<span class="counters-text-total">3</span>
				</div>
			</div>


			<div class="prev-picture-arrow-middle">
				<svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="40" height="40">
					<path d="M23.5 11.5 L15.5 19.5 L23.5 27.5" stroke-linejoin="round" stroke-linecap="round" style="fill: none; stroke: rgb(255, 255, 255); stroke-width: 3px;"></path>
				</svg>
			</div>


			<div class="next-picture-arrow-middle">
				<svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="40" height="40">
					<path d="M16.5 11.5 L24.5 19.5 L16.5 27.5" stroke-linejoin="round" stroke-linecap="round" style="fill: none; stroke: rgb(255, 255, 255); stroke-width: 3px;"></path>
				</svg>
			</div>


		</div>

		<div style="display: none; height: 72px; background: rgb(0, 0, 0) none repeat scroll 0% 0%;" class="thumbnails no-rmswipe">
			<div class="scroll-wrapper">
				<div class="items-wrapper has-horizontal-scroll">
					<div class="items">
					</div>
				</div>
				<div class="scroll"></div>
			</div>
		</div>

		<div style="display: none; height: 24px;" class="counters no-rmswipe">
			<div class="scroll-wrapper">
				<div class="items-wrapper has-horizontal-scroll">
					<div class="items">
					</div>
				</div>
				<div class="scroll"></div>
			</div>
		</div>

		<div style="display: block; height: 76px;" class="captions">
			
		<div style="display: block;" data-id="86f2dd7d-1e21-40ac-abd4-59511cc12c2d" class="caption-wrapper"><div style="vertical-align: baseline; text-transform: none; text-decoration: none; text-align: center; opacity: 1; line-height: 18px; letter-spacing: 0px; font-weight: 400; font-style: normal; font-size: 14px; font-family: Arial; color: rgb(0, 0, 0);" class="caption"> </div></div><div style="display: none;" data-id="17834d0d-c029-49dd-a54a-4c83c90a4696" class="caption-wrapper"><div style="vertical-align: baseline; text-transform: none; text-decoration: none; text-align: center; opacity: 1; line-height: 18px; letter-spacing: 0px; font-weight: 400; font-style: normal; font-size: 14px; font-family: Arial; color: rgb(0, 0, 0);" class="caption"> </div></div><div style="display: none;" data-id="9f3b970e-4e5e-4052-b4d9-3ec5f20e66ab" class="caption-wrapper"><div style="vertical-align: baseline; text-transform: none; text-decoration: none; text-align: center; opacity: 1; line-height: 18px; letter-spacing: 0px; font-weight: 400; font-style: normal; font-size: 14px; font-family: Arial; color: rgb(0, 0, 0);" class="caption"> </div></div></div>
	<style class="" id="slideshow-images-position-style-5ab0d470c550c178b0eea46d" type="text/css">					.common-slideshow[data-id="5ab0d470c550c178b0eea46d"] .images .images-wrapper {
						left: 0px;
						width: 298px;
					}
					.common-slideshow[data-id="5ab0d470c550c178b0eea46d"] .images .images-wrapper .image {
						left: 0px;
						width: 298px;
					}
					.common-slideshow[data-id="5ab0d470c550c178b0eea46d"] .images .images-wrapper .image.prev-image {
						-webkit-transform: translateX(-298px) ;
						transform: translateX(-298px) ;
					}
					.common-slideshow[data-id="5ab0d470c550c178b0eea46d"] .images .images-wrapper .image.center-image {
						-webkit-transform: translateX(0) ;
						transform: translateX(0) ;
					}
					.common-slideshow[data-id="5ab0d470c550c178b0eea46d"] .images .images-wrapper .image.next-image {
						-webkit-transform: translateX(298px) ;
						transform: translateX(298px) ;
					}
					</style><style class="" id="slideshow-images-transition-style-5ab0d470c550c178b0eea46d" type="text/css">					.common-slideshow[data-id="5ab0d470c550c178b0eea46d"] .images .images-wrapper.enable-transitions .image {
						-webkit-transition:	all undefinedms cubic-bezier(0.40, 0.24, 0.40, 1);						transition: all undefinedms cubic-bezier(0.40, 0.24, 0.40, 1);					}
					.common-slideshow[data-id="5ab0d470c550c178b0eea46d"] .images .images-wrapper.enable-transitions .image.center-image {
						-webkit-transition:	all NaNms cubic-bezier(0.40, 0.24, 0.40, 1);						transition: all NaNms cubic-bezier(0.40, 0.24, 0.40, 1);					}
					</style></div></div><div style="left: 702px; top: 731.47px; width: 306px; height: 276px; z-index: 117;" class="rmwidget widget-slideshow"><div data-id="5ab0d470a0737900595f4a24" class="common-slideshow environment-viewer">
		<div style="height: 200px; background: rgb(0, 0, 0) none repeat scroll 0% 0%;" class="images no-rmswipe">
			<div class="images-wrapper"><div style="background-size: cover; background-image: url(&quot;https://d3n32ilufxuvd1.cloudfront.net/5a0ec3e02c606546d861ea5e/1010932/upload-2d936d70-4f73-11e8-a8fd-a5b7a00c1aab.jpg&quot;);" data-id="226d82d3-9100-45ba-a7e9-5996e2f85157" class="image center-image neighbour"></div><div data-src="https://d3n32ilufxuvd1.cloudfront.net/5a0ec3e02c606546d861ea5e/1010932/upload-289cacf0-4f73-11e8-a8fd-a5b7a00c1aab.jpg" style="background-size: cover;" data-id="ad33de16-42b5-4eee-a973-699b2929ac16" class="image next-image neighbour"></div><div data-src="https://d3n32ilufxuvd1.cloudfront.net/5a0ec3e02c606546d861ea5e/1010932/upload-2aefebc0-4f73-11e8-a8fd-a5b7a00c1aab.jpg" style="background-size: cover;" data-id="7a34a96c-8820-4c6c-b40f-969785a9d5ae" class="image next-image"></div></div>
			<div style="display: none;" class="fullscreen">
				<svg class="fullscreen-off" xmlns="http://www.w3.org/2000/svg" version="1.1" width="24" height="24">
					<path class="fullscreen-path-1" d="M4 14 L4 20 L10 20  Z M14 4 L20 4 L20 10  Z " style="fill: rgb(255, 255, 255); stroke: rgb(255, 255, 255); stroke-width: 0;"></path>
					<path class="fullscreen-path-2" d="M10 14 L5 19 M14 10 L19 5" stroke-linecap="round" style="fill: none; stroke: rgb(255, 255, 255); stroke-width: 2px;"></path>
				</svg>
				<svg class="fullscreen-on" xmlns="http://www.w3.org/2000/svg" version="1.1" width="24" height="24">
					<path class="fullscreen-path-1" d="M5 13 L11 13 L11 19  Z M13 5 L19 11 L13 11  Z " style="fill: rgb(255, 255, 255); stroke: rgb(255, 255, 255); stroke-width: 0;"></path>
					<path class="fullscreen-path-2" d="M10 14 L5 19 M14 10 L19 5" stroke-linecap="round" style="fill: none; stroke: rgb(255, 255, 255); stroke-width: 2px;"></path>
				</svg>
			</div>

			<div class="bottom-arrows hidden">
				<div class="prev-picture-arrow-bottom">
					<svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="40" height="40">
						<path d="M23.5 11.5 L15.5 19.5 L23.5 27.5" stroke-linejoin="round" stroke-linecap="round" style="fill: none; stroke: rgb(255, 255, 255); stroke-width: 3px;"></path>
					</svg>
				</div>

				<div class="next-picture-arrow-bottom">
					<svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="40" height="40">
						<path d="M16.5 11.5 L24.5 19.5 L16.5 27.5" stroke-linejoin="round" stroke-linecap="round" style="fill: none; stroke: rgb(255, 255, 255); stroke-width: 3px;"></path>
					</svg>
				</div>

				<div style="color: rgb(255, 255, 255);" class="counters-text">
					<span class="counters-text-current">1</span>/<span class="counters-text-total">3</span>
				</div>
			</div>


			<div class="prev-picture-arrow-middle">
				<svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="40" height="40">
					<path d="M23.5 11.5 L15.5 19.5 L23.5 27.5" stroke-linejoin="round" stroke-linecap="round" style="fill: none; stroke: rgb(255, 255, 255); stroke-width: 3px;"></path>
				</svg>
			</div>


			<div class="next-picture-arrow-middle">
				<svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="40" height="40">
					<path d="M16.5 11.5 L24.5 19.5 L16.5 27.5" stroke-linejoin="round" stroke-linecap="round" style="fill: none; stroke: rgb(255, 255, 255); stroke-width: 3px;"></path>
				</svg>
			</div>


		</div>

		<div style="display: none; height: 72px; background: rgb(0, 0, 0) none repeat scroll 0% 0%;" class="thumbnails no-rmswipe">
			<div class="scroll-wrapper">
				<div class="items-wrapper has-horizontal-scroll">
					<div class="items">
					</div>
				</div>
				<div class="scroll"></div>
			</div>
		</div>

		<div style="display: none; height: 24px;" class="counters no-rmswipe">
			<div class="scroll-wrapper">
				<div class="items-wrapper has-horizontal-scroll">
					<div class="items">
					</div>
				</div>
				<div class="scroll"></div>
			</div>
		</div>

		<div style="display: block; height: 76px;" class="captions">
			
		<div style="display: block;" data-id="226d82d3-9100-45ba-a7e9-5996e2f85157" class="caption-wrapper"><div style="vertical-align: baseline; text-transform: none; text-decoration: none; text-align: center; opacity: 1; line-height: 18px; letter-spacing: 0px; font-weight: 400; font-style: normal; font-size: 14px; font-family: Arial; color: rgb(0, 0, 0);" class="caption"> </div></div><div style="display: none;" data-id="ad33de16-42b5-4eee-a973-699b2929ac16" class="caption-wrapper"><div style="vertical-align: baseline; text-transform: none; text-decoration: none; text-align: center; opacity: 1; line-height: 18px; letter-spacing: 0px; font-weight: 400; font-style: normal; font-size: 14px; font-family: Arial; color: rgb(0, 0, 0);" class="caption"> </div></div><div style="display: none;" data-id="7a34a96c-8820-4c6c-b40f-969785a9d5ae" class="caption-wrapper"><div style="vertical-align: baseline; text-transform: none; text-decoration: none; text-align: center; opacity: 1; line-height: 18px; letter-spacing: 0px; font-weight: 400; font-style: normal; font-size: 14px; font-family: Arial; color: rgb(0, 0, 0);" class="caption"> </div></div></div>
	<style class="" id="slideshow-images-position-style-5ab0d470a0737900595f4a24" type="text/css">					.common-slideshow[data-id="5ab0d470a0737900595f4a24"] .images .images-wrapper {
						left: 0px;
						width: 306px;
					}
					.common-slideshow[data-id="5ab0d470a0737900595f4a24"] .images .images-wrapper .image {
						left: 0px;
						width: 306px;
					}
					.common-slideshow[data-id="5ab0d470a0737900595f4a24"] .images .images-wrapper .image.prev-image {
						-webkit-transform: translateX(-306px) ;
						transform: translateX(-306px) ;
					}
					.common-slideshow[data-id="5ab0d470a0737900595f4a24"] .images .images-wrapper .image.center-image {
						-webkit-transform: translateX(0) ;
						transform: translateX(0) ;
					}
					.common-slideshow[data-id="5ab0d470a0737900595f4a24"] .images .images-wrapper .image.next-image {
						-webkit-transform: translateX(306px) ;
						transform: translateX(306px) ;
					}
					</style><style class="" id="slideshow-images-transition-style-5ab0d470a0737900595f4a24" type="text/css">					.common-slideshow[data-id="5ab0d470a0737900595f4a24"] .images .images-wrapper.enable-transitions .image {
						-webkit-transition:	all undefinedms cubic-bezier(0.40, 0.24, 0.40, 1);						transition: all undefinedms cubic-bezier(0.40, 0.24, 0.40, 1);					}
					.common-slideshow[data-id="5ab0d470a0737900595f4a24"] .images .images-wrapper.enable-transitions .image.center-image {
						-webkit-transition:	all NaNms cubic-bezier(0.40, 0.24, 0.40, 1);						transition: all NaNms cubic-bezier(0.40, 0.24, 0.40, 1);					}
					</style></div></div><div style="left: 17px; top: 953.47px; width: 225px; height: 55px; z-index: 112;" class="rmwidget text"><div class="v2" style=" -webkit-nbsp-mode:space; -webkit-line-break:after-white-space; column-count:auto;-webkit-column-count:auto !important;-moz-column-count:auto;column-gap:16px;-webkit-column-gap:16px !important;-moz-column-gap:16px;background:rgba(255,255,255, 0)"><p class="paragraph-54878fc4-e704-45b1-bb90-3a871976fa75"><span><span><span><span>Садовые дома</span><br></span></span></span></p></div></div><div style="left: 363px; top: 953.47px; width: 156px; height: 55px; z-index: 115;" class="rmwidget text"><div class="v2" style=" -webkit-nbsp-mode:space; -webkit-line-break:after-white-space; column-count:auto;-webkit-column-count:auto !important;-moz-column-count:auto;column-gap:16px;-webkit-column-gap:16px !important;-moz-column-gap:16px;background:rgba(255,255,255, 0)"><p class="paragraph-54878fc4-e704-45b1-bb90-3a871976fa75"><span><span><span><span><span>Коттеджи</span><br></span><br></span></span></span></p></div></div><div style="left: 703px; top: 953.47px; width: 327px; height: 55px; z-index: 118;" class="rmwidget text"><div class="v2" style=" -webkit-nbsp-mode:space; -webkit-line-break:after-white-space; column-count:auto;-webkit-column-count:auto !important;-moz-column-count:auto;column-gap:16px;-webkit-column-gap:16px !important;-moz-column-gap:16px;background:rgba(255,255,255, 0)"><p class="paragraph-54878fc4-e704-45b1-bb90-3a871976fa75"><span><span><span><span><span>Дома больше 170 кв. м.</span><br></span><br></span></span></span></p></div></div><div style="left: 16px; top: 1004.47px; width: 309.06px; height: 100px; z-index: 113;" class="rmwidget text"><div class="v2" style=" -webkit-nbsp-mode:space; -webkit-line-break:after-white-space; column-count:auto;-webkit-column-count:auto !important;-moz-column-count:auto;column-gap:16px;-webkit-column-gap:16px !important;-moz-column-gap:16px;background:rgba(255,255,255, 0)"><p class="paragraph-478616a7-16ff-48a9-9608-9ffdc7d9e67f"><span><span><span><span><span>Компактные садовые дома для дачного отдыха, которые возводятся по каркасной технологии или из бруса.<br></span></span></span><br></span></span></p></div></div><div style="left: 363px; top: 1004.47px; width: 298px; height: 101px; z-index: 116;" class="rmwidget text"><div class="v2" style=" -webkit-nbsp-mode:space; -webkit-line-break:after-white-space; column-count:auto;-webkit-column-count:auto !important;-moz-column-count:auto;column-gap:16px;-webkit-column-gap:16px !important;-moz-column-gap:16px;background:rgba(255,255,255, 0)"><p class="paragraph-478616a7-16ff-48a9-9608-9ffdc7d9e67f"><span><span><span><span><span><span>Оригинальные загородные коттеджи, которые подойдут для дачного отдыха и для постоянного проживания.<br></span></span></span></span><br></span></span></p></div></div><div style="left: 702px; top: 1004.47px; width: 306px; height: 100px; z-index: 119;" class="rmwidget text"><div class="v2" style=" -webkit-nbsp-mode:space; -webkit-line-break:after-white-space; column-count:auto;-webkit-column-count:auto !important;-moz-column-count:auto;column-gap:16px;-webkit-column-gap:16px !important;-moz-column-gap:16px;background:rgba(255,255,255, 0)"><p class="paragraph-478616a7-16ff-48a9-9608-9ffdc7d9e67f"><span><span><span><span><span>Проекты домов большой площади, рассчитанные на загородную жизнь с полным комфортом.<br></span></span></span><br></span></span></p></div></div><div style="left: -71px; top: 1156.5px; width: 1180px; height: 504px; z-index: 120;" class="rmwidget widget-picture"><img url="https://d3n32ilufxuvd1.cloudfront.net/5a0ec3e02c606546d861ea5e/1010932/upload-054ac660-4f73-11e8-a8fd-a5b7a00c1aab.png" src="https://d3n32ilufxuvd1.cloudfront.net/5a0ec3e02c606546d861ea5e/1010932/upload-054ac660-4f73-11e8-a8fd-a5b7a00c1aab.png" style="opacity: 1;"></div><div style="left: 450px; top: 1258.4px; width: 124px; height: 73px; z-index: 123;" class="rmwidget widget-picture"><div class="svg-scale-wrapper"><svg preserveAspectRatio="xMidYMid meet" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0.19921875 0.5 101 59.1015625" height="" width="">
    <!-- Generator: Sketch 49 (51002) - http://www.bohemiancoding.com/sketch -->
    
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g fill-rule="evenodd" fill="none" stroke-width="1" stroke="none" id="Page-1">
        <g fill-rule="nonzero" fill="#FFFFFF" id="svg">
            <g transform="translate(0.000000, 30.000000)" id="Group">
                <path id="Shape" d="M98.1,2.1 L98.3,2.1 C98.6,2.1 98.8,2.1 98.9,2.1 C99,2.1 99,2.2 99.1,2.2 C99.1,2.3 99.2,2.3 99.2,2.4 C99.2,2.5 99.2,2.6 99.1,2.6 C99.1,2.7 99,2.7 98.9,2.7 C98.8,2.7 98.6,2.7 98.3,2.7 L98.1,2.7 L98.1,2.1 Z M98.1,4.4 L98.1,3.3 L98.2,3.3 C98.4,3.3 98.5,3.3 98.6,3.4 C98.7,3.5 98.8,3.7 99,4 L99.2,4.5 L99.9,4.5 L99.6,3.9 C99.5,3.7 99.4,3.6 99.4,3.6 C99.3,3.5 99.3,3.4 99.2,3.4 C99.2,3.4 99.1,3.3 99,3.3 C99.2,3.3 99.4,3.2 99.6,3 C99.7,2.9 99.8,2.7 99.8,2.5 C99.8,2.4 99.8,2.2 99.7,2.1 C99.6,2 99.5,1.9 99.4,1.8 C99.3,1.7 99.1,1.7 99,1.7 C98.9,1.7 98.6,1.7 98.2,1.7 L97.6,1.7 L97.6,4.3 L98.1,4.3 L98.1,4.4 Z M99.7,1.1 C100,1.3 100.3,1.6 100.5,1.9 C100.7,2.2 100.8,2.6 100.8,2.9 C100.8,3.2 100.7,3.6 100.5,3.9 C100.3,4.2 100,4.5 99.7,4.7 C99.4,4.9 99,5 98.7,5 C98.4,5 98,4.9 97.7,4.7 C97.4,4.5 97.1,4.2 96.9,3.9 C96.7,3.6 96.6,3.2 96.6,2.9 C96.6,2.6 96.7,2.2 96.9,1.9 C97.1,1.6 97.4,1.3 97.7,1.1 C98,0.9 98.4,0.8 98.7,0.8 C99.1,1 99.5,1.1 99.7,1.1 Z M97.5,0.8 C97.1,1 96.7,1.4 96.6,1.7 C96.4,2.1 96.2,2.5 96.2,2.9 C96.2,3.4 96.3,3.7 96.6,4.1 C96.8,4.5 97.2,4.9 97.5,5 C97.9,5.2 98.3,5.4 98.7,5.4 C99.2,5.4 99.5,5.3 99.9,5 C100.3,4.8 100.7,4.4 100.8,4.1 C100.9,3.8 101.2,3.3 101.2,2.9 C101.2,2.4 101.1,2.1 100.8,1.7 C100.6,1.3 100.2,0.9 99.9,0.8 C99.6,0.7 99.1,0.5 98.7,0.5 C98.3,0.4 97.9,0.6 97.5,0.8 Z"></path>
                <path id="Shape" d="M69.5,28.4 L67.2,18 C66.7,18.8 66.3,19.5 65.9,20.3 C65.5,21.1 65.3,21.7 65.1,22.4 C64.9,23.1 64.8,23.8 64.8,24.6 C64.8,25.1 64.8,25.6 64.9,26.5 C65,27.3 65.1,27.7 65.1,27.9 L65.1,28.9 C65.1,29.1 65,29.3 64.8,29.4 C64.7,29.5 64.5,29.5 64.3,29.5 C64.1,29.5 63.9,29.5 63.5,29.4 C63.4,29.4 63.2,29.4 62.9,29.4 C62.6,29.4 62.4,29.4 62.2,29.4 C62,29.4 61.8,29.4 61.7,29.4 C61.4,29.4 61.2,29.3 61.1,29.1 C61.2,28.9 61.1,28.5 61.1,27.9 C61.1,26.9 61.2,26.1 61.5,25.4 C61.8,24.6 62.1,23.9 62.5,23.2 C62.9,22.5 63.5,21.7 64.3,20.7 C65.1,19.7 65.6,18.8 65.9,18.2 C66.3,17.6 66.4,17 66.4,16.4 C66.4,15.8 65.2,15.8 64.9,15.9 L64.9,15 L71,15 L71,15.8 L69.9,15.8 L72.4,27.8 L74.7,15.8 L73.8,15.8 L73.8,15 L79.3,15 L79.3,15.8 L78,15.8 L80.7,28.4 L82.1,28.4 L82.1,29.2 L76.6,29.2 L76.6,28.4 L77.5,28.4 L75.2,17.6 L73.2,28.4 L74.2,28.4 L74.2,29.2 L68.3,29.2 L68.3,28.4 L69.5,28.4 Z"></path>
                <path id="Shape" d="M8.7,27.7 L8.7,3.7 L7.4,3.7 L6.7,3.7 C6.1,3.7 5.7,3.8 5.4,4.1 C5,4.3 4.7,4.9 4.5,5.6 C4.2,6.4 3.8,7.7 3.6,9.4 C3.4,10.2 3.3,10.7 3.2,11 C3.1,11.3 2.9,11.4 2.6,11.4 C2.2,11.4 2,11.2 1.9,10.9 C1.8,10.6 1.7,10.1 1.7,9.6 C1.7,8.6 1.5,7.4 1.1,6.2 C1,5.9 0.8,5.4 0.6,4.6 C0.3,3.8 0.2,3.3 0.2,3 C0.2,2.6 0.3,2.2 0.6,2 C0.8,1.7 1.2,1.5 1.6,1.5 C1.7,1.5 2,1.6 2.4,1.7 C2.8,1.8 3.2,1.9 3.7,2 C4.4,2 5,2 5.8,2 C6,2 6.2,2 6.4,2 C6.6,2 6.8,2 6.9,2 L15.9,2 C16,2 16.2,2 16.5,2 C16.7,2 16.9,2 17.1,2 C17.9,2 18.5,2 19,1.9 C19.5,1.8 19.9,1.7 20.3,1.6 C20.7,1.5 21,1.4 21.1,1.4 C21.6,1.4 21.9,1.6 22,1.9 C22.2,2.2 22.4,2.6 22.4,2.9 C22.4,3.2 22.3,3.7 22,4.4 C21.7,5.2 21.5,5.6 21.4,6 C21,7.2 20.8,8.4 20.8,9.4 C20.8,10.6 20.5,11.2 20,11.2 C19.7,11.2 19.6,11.1 19.4,10.9 C19.3,10.7 19.2,10.4 19.1,10.1 C19,9.8 18.9,9.1 18.6,7.9 C18.3,6.6 18,5.5 17.7,5 C17.4,4.3 17,4 16.6,3.8 C16.2,3.6 15.7,3.5 14.9,3.5 L13.6,3.5 L13.6,27.5 L16.1,27.5 L16.1,29.1 L6.3,29.1 L6.3,27.5 L8.7,27.7 Z"></path>
                <path id="Shape" d="M50.1,19.8 C50.1,19 50.2,18.4 50.4,17.6 C50.6,16.9 50.9,16.4 51.3,15.9 C51.8,15.4 52.3,15.2 53,15.2 C53.8,15.2 54.5,15.5 54.9,16 C55.7,16.8 56.2,18.8 55.9,20.7 L50,20.7 C50.2,20.5 50.1,20.2 50.1,19.8 Z M54.7,24.7 L54.7,25.5 C56.5,25.5 55.5,26.7 54.6,27.7 C54,28.4 53.1,28.6 52,28.6 C51.7,28.6 51.4,28.6 51.2,28.5 C51.3,28.1 51.4,27.7 51.4,27.5 C51.4,26.8 51.4,26.3 51.3,25.9 C51.2,25.5 51,25 50.8,24.2 C50.6,23.5 50.4,22.8 50.3,21.8 L60,21.8 L60,21 C59.8,19.3 59.4,17 57.9,15.9 C57.2,15.4 56.6,15.1 55.8,15 C55,14.8 54.4,14.7 53.7,14.7 C52.6,14.7 51.5,14.9 50.4,15.4 C49.4,15.8 48.4,16.5 47.8,17.5 C47,18.4 46.8,19.8 46.8,21.4 C46.8,22 46.9,22.4 47,22.8 C47.1,23.2 47.3,23.6 47.7,24.1 C48,24.6 48.5,25.2 49.1,26 C49.5,26.5 49.9,26.9 50,27.3 C50.2,27.7 50.3,28.1 50.3,28.6 C50.3,28.7 50.3,28.9 50.3,29.2 C50.8,29.3 51.2,29.4 51.9,29.5 C52.6,29.6 53.1,29.6 53.7,29.6 C54.5,29.6 55.3,29.4 56.1,29.1 C56.9,28.7 57.5,28.3 58.2,27.7 C59.1,26.9 59.2,25.7 60.5,25.7 L60.5,24.9 L54.7,24.7 Z"></path>
                <path id="Shape" d="M40.9,21.5 C40.6,21.9 40.3,22.1 40,22.1 C39.9,22.1 39.8,22.1 39.6,22 C39.4,21.9 39.3,21.8 39.2,21.7 L37.9,23.4 L37.9,19.9 L37.9,19.4 C37.9,18.6 37.9,18 38,17.4 C38.1,16.9 38.2,16.5 38.5,16.1 C38.8,15.7 39.2,15.5 39.6,15.5 C40.3,15.5 40.7,15.8 40.9,16.3 C41.2,16.9 41.3,17.6 41.3,18.7 C41.4,19.8 41.2,21.2 40.9,21.5 Z M44.4,16.7 C44,16 43.4,15.6 42.6,15.2 C41.8,14.8 40.9,14.6 39.8,14.6 C38.7,14.6 37.7,14.9 36.8,15.4 C36,16 35.3,16.7 34.8,17.7 C34.8,18.7 34.7,19.8 34.7,20.8 L34.7,27 C34.7,28.6 33.8,28.3 33,28.3 C33,28.6 33,28.9 33,29.1 L39.7,29.1 L39.7,28.3 C39.1,28.2 38,28.6 38,26.9 C38,25.9 38,25.5 38,24.4 L39.4,22.6 C39.5,22.6 39.7,22.7 39.9,22.8 C40.3,23 40.6,23.2 40.7,23.2 C40.9,23.3 41.2,23.3 41.5,23.3 C42.2,23.3 42.7,23.1 43.3,22.7 C44.4,22.1 45,19.7 45,18.5 C45,18.1 44.8,17.4 44.4,16.7 Z"></path>
                <path id="Shape" d="M22,19.8 C22,19 22.1,18.4 22.3,17.6 C22.5,16.9 22.8,16.4 23.2,15.9 C23.7,15.4 24.2,15.2 24.9,15.2 C25.7,15.2 26.4,15.5 26.8,16 C27.6,16.8 28.1,18.8 27.8,20.7 L22,20.7 C22,20.5 22,20.2 22,19.8 Z M26.5,24.7 L26.5,25.5 C28.3,25.5 27.3,26.7 26.4,27.7 C25.8,28.4 24.9,28.6 23.8,28.6 C23.5,28.6 23.2,28.6 23,28.5 C23.1,28.1 23.2,27.7 23.2,27.5 C23.2,26.8 23.2,26.3 23.1,25.9 C23,25.5 22.8,25 22.6,24.2 C22.4,23.5 22.2,22.8 22.1,21.8 L31.7,21.8 L31.7,21 C31.5,19.3 31.1,17 29.6,15.9 C28.9,15.4 28.3,15.1 27.5,15 C26.7,14.8 26.1,14.7 25.4,14.7 C24.3,14.7 23.2,14.9 22.1,15.4 C21.1,15.8 20.1,16.5 19.5,17.5 C18.7,18.4 18.5,19.8 18.5,21.4 C18.5,22 18.6,22.4 18.7,22.8 C18.8,23.2 19,23.6 19.4,24.1 C19.7,24.6 20.2,25.2 20.8,26 C21.2,26.5 21.6,26.9 21.7,27.3 C21.8,27.7 22,28.1 22,28.6 C22,28.7 22,28.9 22,29.2 C22.5,29.3 22.9,29.4 23.6,29.5 C24.3,29.6 24.8,29.6 25.4,29.6 C26.2,29.6 27,29.4 27.8,29.1 C28.6,28.7 29.2,28.3 29.9,27.7 C30.8,26.9 30.9,25.7 32.2,25.7 L32.2,24.9 L26.5,24.7 Z"></path>
                <path id="Shape" d="M96.5,25.5 C96.5,26.4 96.3,27.1 95.9,27.3 C95.5,27.6 95.1,27.7 94.4,27.7 L92,27.7 L92,15.4 C92.8,16.4 93.9,17.2 95.1,17.8 C95.8,18.1 96.1,18.4 96.3,18.6 C96.4,18.9 96.5,19.3 96.5,19.9 C96.5,20.2 96.5,20.4 96.5,20.4 C96.5,20.5 96.5,20.6 96.5,20.9 L96.5,25.5 Z M100.5,16.9 C100.3,16.5 99.8,16.2 99.1,16.2 C98.6,16.3 98.3,16.3 98,16.3 C97.1,16.3 96,16 94.9,15.5 C93.8,14.9 92.8,14.2 92.1,13.2 L92.1,3.8 L94.4,3.8 L94.4,2.1 L82.4,2.1 C82,2.1 81.5,1.9 80.9,1.7 C80.8,1.7 80.4,1.5 80.1,1.5 C79.8,1.5 79.4,1.6 79.3,1.8 C79.1,1.9 78.7,2.4 78.7,3 C78.7,3.9 79.5,5.5 79.5,5.8 C79.8,6.9 80,7.1 80.1,8.7 C80.2,9.6 80.2,10.3 80.3,10.7 C80.4,11.1 80.7,11.3 81.1,11.3 C81.4,11.3 81.6,11.2 81.7,11 C81.8,10.7 82,10.3 82.1,9.7 C82.4,8.2 82.7,7.2 82.9,6 C83.6,3.6 84.5,3.6 85.5,3.6 L87.3,3.6 L87.3,27.5 L84.8,27.5 L84.8,29.1 L99.2,29.1 C99.6,29.1 99.9,29 100.1,28.9 C100.3,28.8 100.5,28.5 100.7,28.1 C100.8,27.7 100.9,27.1 100.9,26.3 L100.9,18.5 C100.8,18 100.7,17.3 100.5,16.9 Z"></path>
            </g>
            <g transform="translate(25.000000, 0.000000)" id="Group">
                <path id="Shape" d="M7.7,41.3 C7.7,40 8.3,38.8 9,38 C9.8,37.2 11,36.7 12.3,36.7 C13.6,36.7 14.8,37.3 15.6,38 C16.4,38.8 16.9,40 16.9,41.3 L15.3,41.3 C15.3,40.5 14.9,39.7 14.5,39.1 C13.9,38.5 13.2,38.3 12.3,38.3 C11.5,38.3 10.7,38.7 10.1,39.1 C9.5,39.7 9.3,40.4 9.3,41.3 L7.7,41.3 Z"></path>
                <path id="Shape" d="M33.8,41.3 C33.8,40 34.4,38.8 35.1,38 C35.9,37.2 37.1,36.7 38.4,36.7 C39.7,36.7 40.9,37.3 41.7,38 C42.5,38.8 43,40 43,41.3 L41.4,41.3 C41.4,40.5 41,39.7 40.6,39.1 C40,38.5 39.3,38.3 38.4,38.3 C37.6,38.3 36.8,38.7 36.2,39.1 C35.6,39.7 35.4,40.4 35.4,41.3 L33.8,41.3 Z"></path>
                <path id="Shape" d="M20.8,41.3 C20.8,40 21.4,38.8 22.1,38 C22.9,37.2 24.1,36.7 25.4,36.7 C26.7,36.7 27.9,37.3 28.7,38 C29.5,38.8 30,40 30,41.3 L28.4,41.3 C28.4,40.5 28,39.7 27.6,39.1 C27,38.5 26.3,38.3 25.4,38.3 C24.6,38.3 23.8,38.7 23.2,39.1 C22.6,39.7 22.4,40.4 22.4,41.3 L20.8,41.3 Z"></path>
                <polygon points="27.5 26.4 26.6 27.9 29.1 28.4 26.6 29 27.2 30.3 25.9 29.6 25.4 32.3 24.9 29.5 23.4 30.4 24.3 29 21.8 28.4 24.3 27.8 23.7 26.5 25 27.3 25.4 24.5 26 27.4" id="Shape"></polygon>
                <path id="Shape" d="M49.1,34.3 L34.4,34.3 C34.9,33.8 35.4,33.4 35.8,32.9 L49.1,32.9 L49.1,34.3 Z M33.4,34.3 L31.9,34.3 C31.9,34.3 32.1,34.1 32.2,34 C35.9,29.7 34,26.4 31.4,24 C30.5,23.2 29.4,22.4 28.5,21.7 C27.3,20.8 26.2,20.1 26.1,19.6 L25.6,17.6 L25.1,19.6 C25,20.1 24,20.8 22.7,21.7 C21.8,22.4 20.7,23.1 19.8,24 C17.1,26.5 15.3,29.7 19,34 C19.1,34.1 19.3,34.3 19.3,34.3 L17.8,34.3 C17.8,34.3 17.6,34.1 17.5,34 C13.8,31.1 14,28.6 15.7,26.4 C16.7,25 18.4,23.6 20.1,22.2 C22.2,20.5 24.6,18.8 25.8,16.9 C26.9,18.8 29.4,20.5 31.5,22.2 C33.2,23.6 34.8,24.9 35.9,26.4 C37.6,28.7 37.8,31 34.1,34 C33.6,34.1 33.4,34.3 33.4,34.3 Z M1.7,34.3 L1.7,32.9 L15,32.9 C15.5,33.4 15.9,33.9 16.4,34.3 L1.7,34.3 Z M9.4,22.3 L10.3,22.3 L10.3,24.9 L9.4,24.9 L9.4,22.3 Z M11.3,22.3 L12.2,22.3 L12.2,24.9 L11.3,24.9 L11.3,22.3 Z M13.2,22.3 L14.1,22.3 L14.1,24.9 L13.2,24.9 L13.2,22.3 Z M15.1,22.3 L16,22.3 L16,24.2 L15.2,25 L15,25 L15.1,22.3 Z M16.9,22.3 L17.8,22.3 L17.8,22.4 L16.9,23.2 L16.9,22.3 Z M33.9,22.3 L33.9,23.2 L33,22.4 L33,22.3 L33.9,22.3 Z M17.7,14.8 L33.2,14.8 L33.2,21.1 L31,21.1 C29,19.4 26.7,17.7 25.8,15.9 L25.4,15.1 L25,15.9 C24.2,17.7 21.8,19.4 19.8,21.1 L17.6,21.1 L17.6,14.8 L17.7,14.8 Z M34.9,22.3 L35.8,22.3 L35.8,24.9 L35.5,24.9 L34.7,24.1 L34.9,22.3 Z M36.8,22.3 L37.7,22.3 L37.7,24.9 L36.8,24.9 L36.8,22.3 Z M38.7,22.3 L39.6,22.3 L39.6,24.9 L38.7,24.9 L38.7,22.3 Z M40.6,22.3 L41.5,22.3 L41.5,24.9 L40.6,24.9 L40.6,22.3 Z M42.3,24.9 L42.3,21.3 C42.9,21.2 43.2,20.6 43.2,20.1 C43.2,19.4 42.6,18.9 42,18.9 C41.3,18.9 40.8,19.5 40.8,20.1 C40.8,20.7 41.2,21.1 41.7,21.3 L41.7,21.5 L34.9,21.5 L34.9,14.5 L38.4,14.5 L31.2,11.4 L28.4,7.2 L25.5,2.9 C26.2,2.9 26.7,2.3 26.7,1.7 C26.7,1 26.1,0.5 25.5,0.5 C24.8,0.5 24.3,1.1 24.3,1.7 C24.3,2.4 24.9,2.9 25.5,2.9 L22.6,7.2 L19.8,11.4 L12.6,14.5 L16,14.5 L16,21.5 L9.2,21.5 L9.2,21.3 C9.8,21.2 10.1,20.6 10.1,20.1 C10.1,19.4 9.5,18.9 8.9,18.9 C8.3,18.9 7.7,19.5 7.7,20.1 C7.7,20.7 8.1,21.1 8.6,21.3 L8.6,24.9 L0.8,32 L0.8,35 L3,35 L3,41.2 L4.2,41.2 L4.2,35 C9.8,35 15.3,35 20.8,35 C20,34.1 18.3,32.6 17.8,30.4 C17.2,28.4 18.1,26.5 20.3,24.5 C21.2,23.7 22.2,23 23.1,22.3 L23.2,22.3 C24.3,21.5 25.1,21 25.5,20.5 C26,21 26.6,21.5 27.8,22.3 L27.9,22.3 C28.7,23 29.8,23.6 30.7,24.5 C32.9,26.5 33.7,28.4 33.2,30.4 C32.5,32.7 31,34 30.2,35 C35.8,35 41.3,35 46.8,35 L46.8,41.2 L48,41.2 L48,35 L50.2,35 L50.2,32 L42.3,24.9 Z"></path>
            </g>
        </g>
    </g>
</svg></div></div><div style="left: 68px; top: 1361.5px; width: 888px; height: 99px; z-index: 121;" class="rmwidget text"><div class="v2" style=" -webkit-nbsp-mode:space; -webkit-line-break:after-white-space; column-count:auto;-webkit-column-count:auto !important;-moz-column-count:auto;column-gap:16px;-webkit-column-gap:16px !important;-moz-column-gap:16px;background:rgba(255,255,255, 0)"><p style="line-height: 32px; font-size: 26px; text-align: center;" data-style-phone_portrait="line-height: 22px; font-size: 18px; text-align: center; padding-top: 0px;" data-anchor-link-pos-phone_portrait="empty"><span style="color: #ffffff;" data-anchor-link-pos-phone_portrait="empty"><span style="font-family: qygc;" data-anchor-link-pos-phone_portrait="empty"><span style="font-family: vcsm;" data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty">Еще больше проектов загородных домов и вариантов их исполнения собрано в каталоге компании «Теремъ». </span></span></span></span></p>
<p style="line-height: 32px; font-size: 26px; text-align: center;" data-style-phone_portrait="line-height: 22px; font-size: 18px; text-align: center; padding-top: 0px;" data-anchor-link-pos-phone_portrait="empty"><span style="color: #ffffff; font-weight: bold; font-style: normal;" data-anchor-link-pos-phone_portrait="empty"><span style="font-family: qygc;" data-anchor-link-pos-phone_portrait="empty"><span style="font-family: vcsm;" data-anchor-link-pos-phone_portrait="empty">Возьмите свой экземпляр </span></span></span><span style="color: #ffffff; font-weight: bold; font-style: normal;" data-anchor-link-pos-phone_portrait="empty"><span style="font-family: qygc;" data-anchor-link-pos-phone_portrait="empty"><span style="font-family: vcsm;" data-anchor-link-pos-phone_portrait="empty">во время посещения выставки!</span></span></span></p>
<p style="line-height: 32px; font-size: 26px; text-align: center;" data-style-phone_portrait="line-height: 22px; font-size: 18px; text-align: center; padding-top: 0px;" data-anchor-link-pos-phone_portrait="empty"><span style="color: #ffffff;" data-style-phone_portrait="color: #ffffff; font-weight: bold; font-style: normal;" data-anchor-link-pos-phone_portrait="empty"><span style="font-family: qygc;" data-anchor-link-pos-phone_portrait="empty"><span style="font-family: vcsm;" data-anchor-link-pos-phone_portrait="empty">&nbsp;</span></span></span></p>
<p style="line-height: 32px; font-size: 26px; text-align: center;" data-style-phone_portrait="line-height: 22px; font-size: 18px; text-align: center; padding-top: 0px;" data-anchor-link-pos-phone_portrait="empty"><span style="font-family: qygc;" data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty">&nbsp;</span></span></p></div></div><a target="" href="/smmstudio/1010932/main/" class="maglink"><div style="left: 412px; top: 1490.5px; width: 200px; height: 54px; z-index: 122; border-radius: 5px;" class="rmwidget widget-button"><div style="" class="common-button transition" data-id="5ab8bad6f0782e248717825e">

        <div style="display: none; margin-right: 0px; margin-left: 0px;" class="icon"></div>

    <input style="display: inline-block; width: 168px; padding-left: 0px; text-indent: 0px; height: 28px; line-height: 28px;" class="text" value="Оставить заявку" disabled="" readonly="" autocapitalize="off" autocorrect="off" autocomplete="off" spellcheck="false" role="button" name="Оставить заявку" type="text"></div></div></a></div>
			</div>
		</div>
	</div></div>



<div style="position: absolute; left: -9999px; width: 999px;" class="used-fonts-test v2"><p style="line-height: 22px; font-size: 18px; text-align: center; padding-top: 0px;" data-style-phone_portrait="line-height: 22px; font-size: 18px; text-align: center; padding-top: 0px;" data-anchor-link-pos-phone_portrait="empty"><span style="color: #ffffff;" data-anchor-link-pos-phone_portrait="empty"><span style="font-family: qygc;" data-anchor-link-pos-phone_portrait="empty"><span style="font-family: vcsm;" data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty">Еще больше проектов загородных домов и вариантов их исполнения собрано в каталоге компании «Теремъ». </span></span></span></span></p>
<p style="line-height: 22px; font-size: 18px; text-align: center; padding-top: 0px;" data-style-phone_portrait="line-height: 22px; font-size: 18px; text-align: center; padding-top: 0px;" data-anchor-link-pos-phone_portrait="empty"><span style="color: #ffffff; font-weight: bold; font-style: normal;" data-anchor-link-pos-phone_portrait="empty"><span style="font-family: qygc;" data-anchor-link-pos-phone_portrait="empty"><span style="font-family: vcsm;" data-anchor-link-pos-phone_portrait="empty">Возьмите свой экземпляр </span></span></span><span style="color: #ffffff; font-weight: bold; font-style: normal;" data-anchor-link-pos-phone_portrait="empty"><span style="font-family: qygc;" data-anchor-link-pos-phone_portrait="empty"><span style="font-family: vcsm;" data-anchor-link-pos-phone_portrait="empty">во время посещения выставки!</span></span></span></p>
<p style="line-height: 22px; font-size: 18px; text-align: center; padding-top: 0px;" data-style-phone_portrait="line-height: 22px; font-size: 18px; text-align: center; padding-top: 0px;" data-anchor-link-pos-phone_portrait="empty"><span style="color: #ffffff; font-weight: bold; font-style: normal;" data-style-phone_portrait="color: #ffffff; font-weight: bold; font-style: normal;" data-anchor-link-pos-phone_portrait="empty"><span style="font-family: qygc;" data-anchor-link-pos-phone_portrait="empty"><span style="font-family: vcsm;" data-anchor-link-pos-phone_portrait="empty">&nbsp;</span></span></span></p>
<p style="line-height: 22px; font-size: 18px; text-align: center; padding-top: 0px;" data-style-phone_portrait="line-height: 22px; font-size: 18px; text-align: center; padding-top: 0px;" data-anchor-link-pos-phone_portrait="empty"><span style="font-family: qygc;" data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty">&nbsp;</span></span></p></div>