

	<div id="mags"><div style="overflow: hidden; height: 896px; width: 1024px; position: relative;" class="page">
		<div class="page-fixed-bg-container polyfill-sticky"><div class="rmwidget widget-background" style="background-color: #ffffff">

        

        
	</div></div>
		<div class="fixed-position-container-top polyfill-sticky"></div>
		<div class="fixed-position-container polyfill-sticky"></div>
		<div class="content-scroll-wrapper has-vertical-scroll">
			<div style="width: 1024px; height: 896px;" class="content-bounds">
				<div style="width: 1024px; height: 896px; top: 0px; left: 0px;" class="page-content-container" tabindex="-1"><div style="left: -986.38px; top: -393.3px; width: 3228px; height: 1386.3px; z-index: 100;" class="rmwidget widget-iframe code-injection"><iframe seamless="" style="width: 100%; height: 100%;"></iframe></div><div style="left: -44px; top: 41.7px; width: 493px; height: 710.4px; z-index: 101; background-color: rgb(255, 255, 255); border-color: rgb(255, 255, 255); border-radius: 0px; border-style: solid; border-width: 0px; box-sizing: border-box;" class="rmwidget widget-shape div-instead-of-svg"></div><div style="left: 17.5px; top: 97.47px; width: 370px; height: 82px; z-index: 105;" class="rmwidget text"><div class="v2" style=" -webkit-nbsp-mode:space; -webkit-line-break:after-white-space; column-count:auto;-webkit-column-count:auto !important;-moz-column-count:auto;column-gap:16px;-webkit-column-gap:16px !important;-moz-column-gap:16px;background:rgba(255,255,255, 0)"><p style="line-height: 24px; font-size: 22px; padding-bottom: 0px; text-align: center;" data-anchor-link-pos-phone_portrait="empty"><span style="color: #000000; text-transform: none; letter-spacing: 0px; font-family: vcsm;" data-anchor-link-pos-phone_portrait="empty"><span style="font-weight: bold; font-style: normal;" data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty">Запишитесь на бесплатную экскурсию и найдите свой идеальный дом</span></span></span></p>
<p style="line-height: 32px; font-size: 28px; padding-bottom: 0px; text-align: center;" data-anchor-link-pos-phone_portrait="empty"><span style="color: #000000; font-family: xjff; font-weight: bold; font-style: normal; letter-spacing: 0px; text-transform: none;" data-anchor-link-pos-phone_portrait="empty">&nbsp;</span></p></div></div><div style="left: 23.5px; top: 196px; width: 370px; height: 218px; z-index: 107;" class="rmwidget widget-iframe code-injection"><iframe seamless="" style="width: 100%; height: 100%;"></iframe></div><div style="left: -0.5px; top: 443.47px; width: 406px; height: 51px; z-index: 113;" class="rmwidget text"><div class="v2" style=" -webkit-nbsp-mode:space; -webkit-line-break:after-white-space; column-count:auto;-webkit-column-count:auto !important;-moz-column-count:auto;column-gap:16px;-webkit-column-gap:16px !important;-moz-column-gap:16px;background:rgba(255,255,255, 0)"><p style="line-height: 15px; font-size: 12px; text-align: center; padding-bottom: 0px;" data-anchor-link-pos-phone_portrait="empty"><span style="color: #aaaaaa; font-family: vcsm;" data-anchor-link-pos-phone_portrait="empty"><span style="font-weight: 400; font-style: normal;" data-anchor-link-pos-phone_portrait="empty">Внимание! </span><span style="font-weight: 400; font-style: normal;" data-anchor-link-pos-phone_portrait="empty">Все поля обязательны для заполнения.</span></span></p>
<p style="line-height: 15px; font-size: 12px; text-align: center;" data-anchor-link-pos-phone_portrait="empty"><span style="color: #aaaaaa; font-family: vcsm;" data-anchor-link-pos-phone_portrait="empty"><span style="font-weight: 400; font-style: normal;" data-anchor-link-pos-phone_portrait="empty">Отправляя форму, Вы соглашаетесь c </span><a data-uuid="8fb9f671-2d8e-41bf-84ba-99dc5f7c3718" class="link-8e7b6db1-d5c0-40d6-a27d-74b215e46713 external-link" href="https://www.terem-pro.ru/privacy-policy/" target="_blank" data-anchor-link-pos-phone_portrait="empty" data-mce-class="link-8e7b6db1-d5c0-40d6-a27d-74b215e46713"><span style="font-weight: 400; font-style: normal;" data-anchor-link-pos-phone_portrait="empty">Политикой обработки данных.</span></a></span></p>
<p style="line-height: 15px; font-size: 12px; text-align: center;" data-anchor-link-pos-phone_portrait="empty"><span style="color: #aaaaaa; font-family: qygc; font-weight: 400; font-style: normal;" data-anchor-link-pos-phone_portrait="empty">&nbsp;</span></p>
<p style="line-height: 15px; font-size: 12px; text-align: center;" data-anchor-link-pos-phone_portrait="empty"><span style="color: #aaaaaa;" data-anchor-link-pos-phone_portrait="empty">&nbsp;</span></p>
<p style="line-height: 15px; font-size: 12px; text-align: center;" data-anchor-link-pos-phone_portrait="empty"><span style="color: #aaaaaa; font-family: qygc; font-weight: 400; font-style: normal;" data-anchor-link-pos-phone_portrait="empty">&nbsp;</span></p>
<p style="line-height: 15px; font-size: 12px; text-align: center;" data-anchor-link-pos-phone_portrait="empty"><span style="color: #aaaaaa; font-family: qygc; font-weight: 400; font-style: normal;" data-anchor-link-pos-phone_portrait="empty">&nbsp;</span></p>
<p style="line-height: 15px; font-size: 12px; text-align: center;" data-anchor-link-pos-phone_portrait="empty"><span style="color: #aaaaaa;" data-anchor-link-pos-phone_portrait="empty">&nbsp;</span></p>
<p style="line-height: 15px; font-size: 12px; text-align: center;" data-anchor-link-pos-phone_portrait="empty"><span style="color: #aaaaaa; font-family: qygc; font-weight: 400; font-style: normal;" data-anchor-link-pos-phone_portrait="empty">&nbsp;</span></p></div></div><div style="left: -44px; top: 510px; width: 493px; height: 67.53px; z-index: 103;" class="rmwidget text"><div class="v2" style=" -webkit-nbsp-mode:space; -webkit-line-break:after-white-space; column-count:auto;-webkit-column-count:auto !important;-moz-column-count:auto;column-gap:16px;-webkit-column-gap:16px !important;-moz-column-gap:16px;background:rgba(255,255,255, 0)"><p data-style-phone_portrait="line-height: 75px; font-size: 50px; text-align: center;" data-anchor-link-pos-phone_portrait="empty" style="line-height: 75px; font-size: 40px; text-align: center;"><span data-anchor-link-pos-phone_portrait="empty" style="font-family: qygc;"><span data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty" style="font-family: vcsm;"><span data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><a target="" data-uuid="28fb23fd-d818-40d2-9c9b-682f8ff89875" href="tel:+74954191419" data-mce-class="link-1" class="link-1 external-link" data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty" style="font-weight: 400; font-family: custom_8076; color: #000000;"><span data-style-phone_portrait="font-style: normal;" data-anchor-link-pos-phone_portrait="empty" style="font-style: normal; text-decoration: none;">+7 (495) 419 14 19</span><br></span></a><br></span></span></span></span></span></span></span></p></div></div><div style="left: -44px; top: 584px; width: 493px; height: 37px; z-index: 104;" class="rmwidget text"><div class="v2" style=" -webkit-nbsp-mode:space; -webkit-line-break:after-white-space; column-count:auto;-webkit-column-count:auto !important;-moz-column-count:auto;column-gap:16px;-webkit-column-gap:16px !important;-moz-column-gap:16px;background:rgba(255,255,255, 0)"><p style="line-height: 31px; font-size: 24px; text-align: center;" data-anchor-link-pos-phone_portrait="empty"><span style="font-family: qygc;" data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span style="font-family: vcsm;" data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><a target="" data-uuid="2c6548ca-b193-4263-b2a3-107d53699ae8" class="link-1 external-link" href="mailto:info@terem-pro.ru" data-anchor-link-pos-phone_portrait="empty" data-mce-class="link-1"><span style="color: #000000; font-weight: bold; font-style: normal;" data-anchor-link-pos-phone_portrait="empty">info@terem-pro.ru<br></span></a><br></span></span></span></span></span></span></span></p></div></div><div style="left: 23.5px; top: 637.1px; width: 370px; height: 74px; z-index: 102;" class="rmwidget text"><div class="v2" style=" -webkit-nbsp-mode:space; -webkit-line-break:after-white-space; column-count:auto;-webkit-column-count:auto !important;-moz-column-count:auto;column-gap:16px;-webkit-column-gap:16px !important;-moz-column-gap:16px;background:rgba(255,255,255, 0)"><p style="text-align: center;" class="paragraph-478616a7-16ff-48a9-9608-9ffdc7d9e67f" data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty">Выставочный центр находится по адресу: </span></span></span></span></span></span></span></span></span></span></p>
<p style="text-align: center;" class="paragraph-478616a7-16ff-48a9-9608-9ffdc7d9e67f" data-anchor-link-pos-phone_portrait="empty">г. Москва, ул. Зеленодольская, вл. 42,&nbsp;рядом со станцией метро «Кузьминки».</p></div></div><div style="left: 0px; top: 785px; width: 1024px; height: 227px; z-index: 111; background-color: rgb(255, 255, 255); border-color: rgb(255, 255, 255); border-radius: 0px; border-style: solid; border-width: 0px; box-sizing: border-box;" class="rmwidget widget-shape full-width div-instead-of-svg"></div><div style="left: 140px; top: 816px; width: 744px; height: 51px; z-index: 112;" class="rmwidget text"><div class="v2" style=" -webkit-nbsp-mode:space; -webkit-line-break:after-white-space; column-count:auto;-webkit-column-count:auto !important;-moz-column-count:auto;column-gap:16px;-webkit-column-gap:16px !important;-moz-column-gap:16px;background:rgba(255,255,255, 0)"><p style="line-height: 15px; font-size: 12px; text-align: center; padding-bottom: 0px;" data-anchor-link-pos-phone_portrait="empty"><span style="color: #aaaaaa; font-family: vcsm;" data-anchor-link-pos-phone_portrait="empty"><span style="font-weight: 400; font-style: normal;" data-anchor-link-pos-phone_portrait="empty"><span>© Теремъ-про, 2009 - 2018. Все материалы данного сайта являются объектами авторского права (в том числе дизайн). Запрещается копирование, распространение (в том числе путем копирования на другие сайты и ресурсы в Интернете) или любое иное использование информации и объектов без предварительного согласия правообладателя. Cайт не является публичной офертой.<br></span></span></span></p>
<p style="line-height: 15px; font-size: 12px; text-align: center;" data-anchor-link-pos-phone_portrait="empty"><span style="color: #aaaaaa; font-family: qygc; font-weight: 400; font-style: normal;" data-anchor-link-pos-phone_portrait="empty">&nbsp;</span></p></div></div></div>
			</div>
		</div>
	</div></div>



<div style="position: absolute; left: -9999px; width: 999px;" class="used-fonts-test v2"><p style="line-height: 15px; font-size: 12px; text-align: center; padding-bottom: 0px;" data-anchor-link-pos-phone_portrait="empty"><span style="color: #aaaaaa; font-family: vcsm;" data-anchor-link-pos-phone_portrait="empty"><span style="font-weight: 400; font-style: normal;" data-anchor-link-pos-phone_portrait="empty"><span>© Теремъ-про, 2009 - 2018. Все материалы данного сайта являются объектами авторского права (в том числе дизайн). Запрещается копирование, распространение (в том числе путем копирования на другие сайты и ресурсы в Интернете) или любое иное использование информации и объектов без предварительного согласия правообладателя. Cайт не является публичной офертой.<br></span></span></span></p>
<p style="line-height: 15px; font-size: 12px; text-align: center;" data-anchor-link-pos-phone_portrait="empty"><span style="color: #aaaaaa; font-family: qygc; font-weight: 400; font-style: normal;" data-anchor-link-pos-phone_portrait="empty">&nbsp;</span></p></div>