

	<div id="mags"><div style="overflow: hidden; height: 1454px; width: 1024px; position: relative;" class="page">
		<div class="page-fixed-bg-container polyfill-sticky"><div class="rmwidget widget-background" style="background-color: #ffffff">

        
            <div class="picture-background" style="opacity: 1;"></div>
        

        
	</div></div>
		<div class="fixed-position-container-top polyfill-sticky"></div>
		<div class="fixed-position-container polyfill-sticky"></div>
		<div class="content-scroll-wrapper has-vertical-scroll">
			<div style="width: 1024px; height: 1454px;" class="content-bounds">
				<div style="width: 1024px; height: 1454px; top: 0px; left: 0px;" class="page-content-container" tabindex="-1"><div style="left: 16px; top: 115.5px; width: 483px; height: 97px; z-index: 102;" class="rmwidget text"><div class="v2" style=" -webkit-nbsp-mode:space; -webkit-line-break:after-white-space; column-count:auto;-webkit-column-count:auto !important;-moz-column-count:auto;column-gap:16px;-webkit-column-gap:16px !important;-moz-column-gap:16px;background:rgba(255,255,255, 0)"><p style="font-size: 40px; line-height: 39px;" class="paragraph-54878fc4-e704-45b1-bb90-3a871976fa75" data-style-phone_portrait="line-height: 33px; font-size: 33px; padding-bottom: 0px; text-align: left;" data-class-phone_portrait="empty" data-anchor-link-pos-phone_portrait="empty"><span data-style-phone_portrait="color: #0a0a0a; font-family: custom_8076; font-weight: 400; font-style: normal;" data-anchor-link-pos-phone_portrait="empty"><span data-style-phone_portrait="letter-spacing: 0px;" data-anchor-link-pos-phone_portrait="empty"><span data-style-phone_portrait="text-transform: uppercase;" data-anchor-link-pos-phone_portrait="empty">Что ждёт Вас на экскурсии </span></span></span></p>
<p style="font-size: 40px; line-height: 39px;" class="paragraph-54878fc4-e704-45b1-bb90-3a871976fa75" data-style-phone_portrait="line-height: 33px; font-size: 33px; padding-bottom: 0px; text-align: left;" data-class-phone_portrait="empty" data-anchor-link-pos-phone_portrait="empty"><span data-style-phone_portrait="color: #0a0a0a; font-family: custom_8076; font-weight: 400; font-style: normal;" data-anchor-link-pos-phone_portrait="empty"><span data-style-phone_portrait="letter-spacing: 0px;" data-anchor-link-pos-phone_portrait="empty"><span data-style-phone_portrait="text-transform: uppercase;" data-anchor-link-pos-phone_portrait="empty">по выставочному </span></span><span data-style-phone_portrait="letter-spacing: 0px;" data-anchor-link-pos-phone_portrait="empty"><span data-style-phone_portrait="text-transform: uppercase;" data-anchor-link-pos-phone_portrait="empty">комплексу:</span></span></span></p></div></div><div style="left: 878.86px; top: 115.5px; width: 130.14px; height: 76px; z-index: 117;" class="rmwidget widget-picture"><div class="svg-scale-wrapper"><svg preserveAspectRatio="xMidYMid meet" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0.19921875 0.5 101 59.1015625" height="" width="">
    <!-- Generator: Sketch 49 (51002) - http://www.bohemiancoding.com/sketch -->
    
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g fill-rule="evenodd" fill="none" stroke-width="1" stroke="none" id="Page-1">
        <g fill-rule="nonzero" fill="#AC1E23" id="logo3">
            <g transform="translate(0.000000, 30.000000)" id="Group">
                <path id="Shape" d="M98.1,2.1 L98.3,2.1 C98.6,2.1 98.8,2.1 98.9,2.1 C99,2.1 99,2.2 99.1,2.2 C99.1,2.3 99.2,2.3 99.2,2.4 C99.2,2.5 99.2,2.6 99.1,2.6 C99.1,2.7 99,2.7 98.9,2.7 C98.8,2.7 98.6,2.7 98.3,2.7 L98.1,2.7 L98.1,2.1 Z M98.1,4.4 L98.1,3.3 L98.2,3.3 C98.4,3.3 98.5,3.3 98.6,3.4 C98.7,3.5 98.8,3.7 99,4 L99.2,4.5 L99.9,4.5 L99.6,3.9 C99.5,3.7 99.4,3.6 99.4,3.6 C99.3,3.5 99.3,3.4 99.2,3.4 C99.2,3.4 99.1,3.3 99,3.3 C99.2,3.3 99.4,3.2 99.6,3 C99.7,2.9 99.8,2.7 99.8,2.5 C99.8,2.4 99.8,2.2 99.7,2.1 C99.6,2 99.5,1.9 99.4,1.8 C99.3,1.7 99.1,1.7 99,1.7 C98.9,1.7 98.6,1.7 98.2,1.7 L97.6,1.7 L97.6,4.3 L98.1,4.3 L98.1,4.4 Z M99.7,1.1 C100,1.3 100.3,1.6 100.5,1.9 C100.7,2.2 100.8,2.6 100.8,2.9 C100.8,3.2 100.7,3.6 100.5,3.9 C100.3,4.2 100,4.5 99.7,4.7 C99.4,4.9 99,5 98.7,5 C98.4,5 98,4.9 97.7,4.7 C97.4,4.5 97.1,4.2 96.9,3.9 C96.7,3.6 96.6,3.2 96.6,2.9 C96.6,2.6 96.7,2.2 96.9,1.9 C97.1,1.6 97.4,1.3 97.7,1.1 C98,0.9 98.4,0.8 98.7,0.8 C99.1,1 99.5,1.1 99.7,1.1 Z M97.5,0.8 C97.1,1 96.7,1.4 96.6,1.7 C96.4,2.1 96.2,2.5 96.2,2.9 C96.2,3.4 96.3,3.7 96.6,4.1 C96.8,4.5 97.2,4.9 97.5,5 C97.9,5.2 98.3,5.4 98.7,5.4 C99.2,5.4 99.5,5.3 99.9,5 C100.3,4.8 100.7,4.4 100.8,4.1 C100.9,3.8 101.2,3.3 101.2,2.9 C101.2,2.4 101.1,2.1 100.8,1.7 C100.6,1.3 100.2,0.9 99.9,0.8 C99.6,0.7 99.1,0.5 98.7,0.5 C98.3,0.4 97.9,0.6 97.5,0.8 Z"></path>
                <path id="Shape" d="M69.5,28.4 L67.2,18 C66.7,18.8 66.3,19.5 65.9,20.3 C65.5,21.1 65.3,21.7 65.1,22.4 C64.9,23.1 64.8,23.8 64.8,24.6 C64.8,25.1 64.8,25.6 64.9,26.5 C65,27.3 65.1,27.7 65.1,27.9 L65.1,28.9 C65.1,29.1 65,29.3 64.8,29.4 C64.7,29.5 64.5,29.5 64.3,29.5 C64.1,29.5 63.9,29.5 63.5,29.4 C63.4,29.4 63.2,29.4 62.9,29.4 C62.6,29.4 62.4,29.4 62.2,29.4 C62,29.4 61.8,29.4 61.7,29.4 C61.4,29.4 61.2,29.3 61.1,29.1 C61.2,28.9 61.1,28.5 61.1,27.9 C61.1,26.9 61.2,26.1 61.5,25.4 C61.8,24.6 62.1,23.9 62.5,23.2 C62.9,22.5 63.5,21.7 64.3,20.7 C65.1,19.7 65.6,18.8 65.9,18.2 C66.3,17.6 66.4,17 66.4,16.4 C66.4,15.8 65.2,15.8 64.9,15.9 L64.9,15 L71,15 L71,15.8 L69.9,15.8 L72.4,27.8 L74.7,15.8 L73.8,15.8 L73.8,15 L79.3,15 L79.3,15.8 L78,15.8 L80.7,28.4 L82.1,28.4 L82.1,29.2 L76.6,29.2 L76.6,28.4 L77.5,28.4 L75.2,17.6 L73.2,28.4 L74.2,28.4 L74.2,29.2 L68.3,29.2 L68.3,28.4 L69.5,28.4 Z"></path>
                <path id="Shape" d="M8.7,27.7 L8.7,3.7 L7.4,3.7 L6.7,3.7 C6.1,3.7 5.7,3.8 5.4,4.1 C5,4.3 4.7,4.9 4.5,5.6 C4.2,6.4 3.8,7.7 3.6,9.4 C3.4,10.2 3.3,10.7 3.2,11 C3.1,11.3 2.9,11.4 2.6,11.4 C2.2,11.4 2,11.2 1.9,10.9 C1.8,10.6 1.7,10.1 1.7,9.6 C1.7,8.6 1.5,7.4 1.1,6.2 C1,5.9 0.8,5.4 0.6,4.6 C0.3,3.8 0.2,3.3 0.2,3 C0.2,2.6 0.3,2.2 0.6,2 C0.8,1.7 1.2,1.5 1.6,1.5 C1.7,1.5 2,1.6 2.4,1.7 C2.8,1.8 3.2,1.9 3.7,2 C4.4,2 5,2 5.8,2 C6,2 6.2,2 6.4,2 C6.6,2 6.8,2 6.9,2 L15.9,2 C16,2 16.2,2 16.5,2 C16.7,2 16.9,2 17.1,2 C17.9,2 18.5,2 19,1.9 C19.5,1.8 19.9,1.7 20.3,1.6 C20.7,1.5 21,1.4 21.1,1.4 C21.6,1.4 21.9,1.6 22,1.9 C22.2,2.2 22.4,2.6 22.4,2.9 C22.4,3.2 22.3,3.7 22,4.4 C21.7,5.2 21.5,5.6 21.4,6 C21,7.2 20.8,8.4 20.8,9.4 C20.8,10.6 20.5,11.2 20,11.2 C19.7,11.2 19.6,11.1 19.4,10.9 C19.3,10.7 19.2,10.4 19.1,10.1 C19,9.8 18.9,9.1 18.6,7.9 C18.3,6.6 18,5.5 17.7,5 C17.4,4.3 17,4 16.6,3.8 C16.2,3.6 15.7,3.5 14.9,3.5 L13.6,3.5 L13.6,27.5 L16.1,27.5 L16.1,29.1 L6.3,29.1 L6.3,27.5 L8.7,27.7 Z"></path>
                <path id="Shape" d="M50.1,19.8 C50.1,19 50.2,18.4 50.4,17.6 C50.6,16.9 50.9,16.4 51.3,15.9 C51.8,15.4 52.3,15.2 53,15.2 C53.8,15.2 54.5,15.5 54.9,16 C55.7,16.8 56.2,18.8 55.9,20.7 L50,20.7 C50.2,20.5 50.1,20.2 50.1,19.8 Z M54.7,24.7 L54.7,25.5 C56.5,25.5 55.5,26.7 54.6,27.7 C54,28.4 53.1,28.6 52,28.6 C51.7,28.6 51.4,28.6 51.2,28.5 C51.3,28.1 51.4,27.7 51.4,27.5 C51.4,26.8 51.4,26.3 51.3,25.9 C51.2,25.5 51,25 50.8,24.2 C50.6,23.5 50.4,22.8 50.3,21.8 L60,21.8 L60,21 C59.8,19.3 59.4,17 57.9,15.9 C57.2,15.4 56.6,15.1 55.8,15 C55,14.8 54.4,14.7 53.7,14.7 C52.6,14.7 51.5,14.9 50.4,15.4 C49.4,15.8 48.4,16.5 47.8,17.5 C47,18.4 46.8,19.8 46.8,21.4 C46.8,22 46.9,22.4 47,22.8 C47.1,23.2 47.3,23.6 47.7,24.1 C48,24.6 48.5,25.2 49.1,26 C49.5,26.5 49.9,26.9 50,27.3 C50.2,27.7 50.3,28.1 50.3,28.6 C50.3,28.7 50.3,28.9 50.3,29.2 C50.8,29.3 51.2,29.4 51.9,29.5 C52.6,29.6 53.1,29.6 53.7,29.6 C54.5,29.6 55.3,29.4 56.1,29.1 C56.9,28.7 57.5,28.3 58.2,27.7 C59.1,26.9 59.2,25.7 60.5,25.7 L60.5,24.9 L54.7,24.7 Z"></path>
                <path id="Shape" d="M40.9,21.5 C40.6,21.9 40.3,22.1 40,22.1 C39.9,22.1 39.8,22.1 39.6,22 C39.4,21.9 39.3,21.8 39.2,21.7 L37.9,23.4 L37.9,19.9 L37.9,19.4 C37.9,18.6 37.9,18 38,17.4 C38.1,16.9 38.2,16.5 38.5,16.1 C38.8,15.7 39.2,15.5 39.6,15.5 C40.3,15.5 40.7,15.8 40.9,16.3 C41.2,16.9 41.3,17.6 41.3,18.7 C41.4,19.8 41.2,21.2 40.9,21.5 Z M44.4,16.7 C44,16 43.4,15.6 42.6,15.2 C41.8,14.8 40.9,14.6 39.8,14.6 C38.7,14.6 37.7,14.9 36.8,15.4 C36,16 35.3,16.7 34.8,17.7 C34.8,18.7 34.7,19.8 34.7,20.8 L34.7,27 C34.7,28.6 33.8,28.3 33,28.3 C33,28.6 33,28.9 33,29.1 L39.7,29.1 L39.7,28.3 C39.1,28.2 38,28.6 38,26.9 C38,25.9 38,25.5 38,24.4 L39.4,22.6 C39.5,22.6 39.7,22.7 39.9,22.8 C40.3,23 40.6,23.2 40.7,23.2 C40.9,23.3 41.2,23.3 41.5,23.3 C42.2,23.3 42.7,23.1 43.3,22.7 C44.4,22.1 45,19.7 45,18.5 C45,18.1 44.8,17.4 44.4,16.7 Z"></path>
                <path id="Shape" d="M22,19.8 C22,19 22.1,18.4 22.3,17.6 C22.5,16.9 22.8,16.4 23.2,15.9 C23.7,15.4 24.2,15.2 24.9,15.2 C25.7,15.2 26.4,15.5 26.8,16 C27.6,16.8 28.1,18.8 27.8,20.7 L22,20.7 C22,20.5 22,20.2 22,19.8 Z M26.5,24.7 L26.5,25.5 C28.3,25.5 27.3,26.7 26.4,27.7 C25.8,28.4 24.9,28.6 23.8,28.6 C23.5,28.6 23.2,28.6 23,28.5 C23.1,28.1 23.2,27.7 23.2,27.5 C23.2,26.8 23.2,26.3 23.1,25.9 C23,25.5 22.8,25 22.6,24.2 C22.4,23.5 22.2,22.8 22.1,21.8 L31.7,21.8 L31.7,21 C31.5,19.3 31.1,17 29.6,15.9 C28.9,15.4 28.3,15.1 27.5,15 C26.7,14.8 26.1,14.7 25.4,14.7 C24.3,14.7 23.2,14.9 22.1,15.4 C21.1,15.8 20.1,16.5 19.5,17.5 C18.7,18.4 18.5,19.8 18.5,21.4 C18.5,22 18.6,22.4 18.7,22.8 C18.8,23.2 19,23.6 19.4,24.1 C19.7,24.6 20.2,25.2 20.8,26 C21.2,26.5 21.6,26.9 21.7,27.3 C21.8,27.7 22,28.1 22,28.6 C22,28.7 22,28.9 22,29.2 C22.5,29.3 22.9,29.4 23.6,29.5 C24.3,29.6 24.8,29.6 25.4,29.6 C26.2,29.6 27,29.4 27.8,29.1 C28.6,28.7 29.2,28.3 29.9,27.7 C30.8,26.9 30.9,25.7 32.2,25.7 L32.2,24.9 L26.5,24.7 Z"></path>
                <path id="Shape" d="M96.5,25.5 C96.5,26.4 96.3,27.1 95.9,27.3 C95.5,27.6 95.1,27.7 94.4,27.7 L92,27.7 L92,15.4 C92.8,16.4 93.9,17.2 95.1,17.8 C95.8,18.1 96.1,18.4 96.3,18.6 C96.4,18.9 96.5,19.3 96.5,19.9 C96.5,20.2 96.5,20.4 96.5,20.4 C96.5,20.5 96.5,20.6 96.5,20.9 L96.5,25.5 Z M100.5,16.9 C100.3,16.5 99.8,16.2 99.1,16.2 C98.6,16.3 98.3,16.3 98,16.3 C97.1,16.3 96,16 94.9,15.5 C93.8,14.9 92.8,14.2 92.1,13.2 L92.1,3.8 L94.4,3.8 L94.4,2.1 L82.4,2.1 C82,2.1 81.5,1.9 80.9,1.7 C80.8,1.7 80.4,1.5 80.1,1.5 C79.8,1.5 79.4,1.6 79.3,1.8 C79.1,1.9 78.7,2.4 78.7,3 C78.7,3.9 79.5,5.5 79.5,5.8 C79.8,6.9 80,7.1 80.1,8.7 C80.2,9.6 80.2,10.3 80.3,10.7 C80.4,11.1 80.7,11.3 81.1,11.3 C81.4,11.3 81.6,11.2 81.7,11 C81.8,10.7 82,10.3 82.1,9.7 C82.4,8.2 82.7,7.2 82.9,6 C83.6,3.6 84.5,3.6 85.5,3.6 L87.3,3.6 L87.3,27.5 L84.8,27.5 L84.8,29.1 L99.2,29.1 C99.6,29.1 99.9,29 100.1,28.9 C100.3,28.8 100.5,28.5 100.7,28.1 C100.8,27.7 100.9,27.1 100.9,26.3 L100.9,18.5 C100.8,18 100.7,17.3 100.5,16.9 Z"></path>
            </g>
            <g transform="translate(25.000000, 0.000000)" id="Group">
                <path id="Shape" d="M7.7,41.3 C7.7,40 8.3,38.8 9,38 C9.8,37.2 11,36.7 12.3,36.7 C13.6,36.7 14.8,37.3 15.6,38 C16.4,38.8 16.9,40 16.9,41.3 L15.3,41.3 C15.3,40.5 14.9,39.7 14.5,39.1 C13.9,38.5 13.2,38.3 12.3,38.3 C11.5,38.3 10.7,38.7 10.1,39.1 C9.5,39.7 9.3,40.4 9.3,41.3 L7.7,41.3 Z"></path>
                <path id="Shape" d="M33.8,41.3 C33.8,40 34.4,38.8 35.1,38 C35.9,37.2 37.1,36.7 38.4,36.7 C39.7,36.7 40.9,37.3 41.7,38 C42.5,38.8 43,40 43,41.3 L41.4,41.3 C41.4,40.5 41,39.7 40.6,39.1 C40,38.5 39.3,38.3 38.4,38.3 C37.6,38.3 36.8,38.7 36.2,39.1 C35.6,39.7 35.4,40.4 35.4,41.3 L33.8,41.3 Z"></path>
                <path id="Shape" d="M20.8,41.3 C20.8,40 21.4,38.8 22.1,38 C22.9,37.2 24.1,36.7 25.4,36.7 C26.7,36.7 27.9,37.3 28.7,38 C29.5,38.8 30,40 30,41.3 L28.4,41.3 C28.4,40.5 28,39.7 27.6,39.1 C27,38.5 26.3,38.3 25.4,38.3 C24.6,38.3 23.8,38.7 23.2,39.1 C22.6,39.7 22.4,40.4 22.4,41.3 L20.8,41.3 Z"></path>
                <polygon points="27.5 26.4 26.6 27.9 29.1 28.4 26.6 29 27.2 30.3 25.9 29.6 25.4 32.3 24.9 29.5 23.4 30.4 24.3 29 21.8 28.4 24.3 27.8 23.7 26.5 25 27.3 25.4 24.5 26 27.4" id="Shape"></polygon>
                <path id="Shape" d="M49.1,34.3 L34.4,34.3 C34.9,33.8 35.4,33.4 35.8,32.9 L49.1,32.9 L49.1,34.3 Z M33.4,34.3 L31.9,34.3 C31.9,34.3 32.1,34.1 32.2,34 C35.9,29.7 34,26.4 31.4,24 C30.5,23.2 29.4,22.4 28.5,21.7 C27.3,20.8 26.2,20.1 26.1,19.6 L25.6,17.6 L25.1,19.6 C25,20.1 24,20.8 22.7,21.7 C21.8,22.4 20.7,23.1 19.8,24 C17.1,26.5 15.3,29.7 19,34 C19.1,34.1 19.3,34.3 19.3,34.3 L17.8,34.3 C17.8,34.3 17.6,34.1 17.5,34 C13.8,31.1 14,28.6 15.7,26.4 C16.7,25 18.4,23.6 20.1,22.2 C22.2,20.5 24.6,18.8 25.8,16.9 C26.9,18.8 29.4,20.5 31.5,22.2 C33.2,23.6 34.8,24.9 35.9,26.4 C37.6,28.7 37.8,31 34.1,34 C33.6,34.1 33.4,34.3 33.4,34.3 Z M1.7,34.3 L1.7,32.9 L15,32.9 C15.5,33.4 15.9,33.9 16.4,34.3 L1.7,34.3 Z M9.4,22.3 L10.3,22.3 L10.3,24.9 L9.4,24.9 L9.4,22.3 Z M11.3,22.3 L12.2,22.3 L12.2,24.9 L11.3,24.9 L11.3,22.3 Z M13.2,22.3 L14.1,22.3 L14.1,24.9 L13.2,24.9 L13.2,22.3 Z M15.1,22.3 L16,22.3 L16,24.2 L15.2,25 L15,25 L15.1,22.3 Z M16.9,22.3 L17.8,22.3 L17.8,22.4 L16.9,23.2 L16.9,22.3 Z M33.9,22.3 L33.9,23.2 L33,22.4 L33,22.3 L33.9,22.3 Z M17.7,14.8 L33.2,14.8 L33.2,21.1 L31,21.1 C29,19.4 26.7,17.7 25.8,15.9 L25.4,15.1 L25,15.9 C24.2,17.7 21.8,19.4 19.8,21.1 L17.6,21.1 L17.6,14.8 L17.7,14.8 Z M34.9,22.3 L35.8,22.3 L35.8,24.9 L35.5,24.9 L34.7,24.1 L34.9,22.3 Z M36.8,22.3 L37.7,22.3 L37.7,24.9 L36.8,24.9 L36.8,22.3 Z M38.7,22.3 L39.6,22.3 L39.6,24.9 L38.7,24.9 L38.7,22.3 Z M40.6,22.3 L41.5,22.3 L41.5,24.9 L40.6,24.9 L40.6,22.3 Z M42.3,24.9 L42.3,21.3 C42.9,21.2 43.2,20.6 43.2,20.1 C43.2,19.4 42.6,18.9 42,18.9 C41.3,18.9 40.8,19.5 40.8,20.1 C40.8,20.7 41.2,21.1 41.7,21.3 L41.7,21.5 L34.9,21.5 L34.9,14.5 L38.4,14.5 L31.2,11.4 L28.4,7.2 L25.5,2.9 C26.2,2.9 26.7,2.3 26.7,1.7 C26.7,1 26.1,0.5 25.5,0.5 C24.8,0.5 24.3,1.1 24.3,1.7 C24.3,2.4 24.9,2.9 25.5,2.9 L22.6,7.2 L19.8,11.4 L12.6,14.5 L16,14.5 L16,21.5 L9.2,21.5 L9.2,21.3 C9.8,21.2 10.1,20.6 10.1,20.1 C10.1,19.4 9.5,18.9 8.9,18.9 C8.3,18.9 7.7,19.5 7.7,20.1 C7.7,20.7 8.1,21.1 8.6,21.3 L8.6,24.9 L0.8,32 L0.8,35 L3,35 L3,41.2 L4.2,41.2 L4.2,35 C9.8,35 15.3,35 20.8,35 C20,34.1 18.3,32.6 17.8,30.4 C17.2,28.4 18.1,26.5 20.3,24.5 C21.2,23.7 22.2,23 23.1,22.3 L23.2,22.3 C24.3,21.5 25.1,21 25.5,20.5 C26,21 26.6,21.5 27.8,22.3 L27.9,22.3 C28.7,23 29.8,23.6 30.7,24.5 C32.9,26.5 33.7,28.4 33.2,30.4 C32.5,32.7 31,34 30.2,35 C35.8,35 41.3,35 46.8,35 L46.8,41.2 L48,41.2 L48,35 L50.2,35 L50.2,32 L42.3,24.9 Z"></path>
            </g>
        </g>
    </g>
</svg></div></div><div style="left: 16px; top: 238.47px; width: 444px; height: 116px; z-index: 103;" class="rmwidget text"><div class="v2" style=" -webkit-nbsp-mode:space; -webkit-line-break:after-white-space; column-count:auto;-webkit-column-count:auto !important;-moz-column-count:auto;column-gap:16px;-webkit-column-gap:16px !important;-moz-column-gap:16px;background:rgba(255,255,255, 0)"><p style="line-height: 27px; font-size: 16px;" data-style-phone_portrait="line-height: 24px; font-size: 15px;" data-anchor-link-pos-phone_portrait="empty"><span style="font-family: qygc; font-weight: bold; font-style: normal;" data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span style="font-family: vcsm;" data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span>• </span><span>45 готовых загородных строений: <span style="font-weight: 400;">от беседок до домов площадью более 330 кв. м; </span><br></span></span></span></span></span></span></span></p>
<p style="line-height: 27px; font-size: 16px;" data-style-phone_portrait="line-height: 24px; font-size: 15px;" data-anchor-link-pos-phone_portrait="empty"><span style="font-family: qygc; font-weight: bold; font-style: normal;" data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span style="font-family: vcsm;" data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span>&nbsp;</span></span></span></span></span></span></span></p></div></div><div style="left: 510.27px; top: 248px; width: 513.73px; height: 392px; z-index: 101;" class="rmwidget widget-slideshow"><div data-id="5ab0dc2f91ace565551215ae" class="common-slideshow environment-viewer">
		<div style="height: 392px; background: rgb(0, 0, 0) none repeat scroll 0% 0%;" class="images no-rmswipe">
			<div class="images-wrapper"><div style="background-size: cover; background-image: url(&quot;https://d3n32ilufxuvd1.cloudfront.net/5a0ec3e02c606546d861ea5e/1010932/upload-2ff63ca0-4f73-11e8-a8fd-a5b7a00c1aab.jpg&quot;);" data-id="a7115ead-8f7d-41f0-8ca3-2d060bdd5be1" class="image center-image neighbour"></div><div data-src="https://d3n32ilufxuvd1.cloudfront.net/5a0ec3e02c606546d861ea5e/1010932/upload-327fa6a0-4f73-11e8-a8fd-a5b7a00c1aab.jpg" style="background-size: cover;" data-id="138b57b9-11fc-40e5-8625-21acb17eb66d" class="image next-image neighbour"></div><div data-src="https://d3n32ilufxuvd1.cloudfront.net/5a0ec3e02c606546d861ea5e/1010932/upload-d4a64a40-2c25-11e8-92a1-47f9b78a56d4.jpg" style="background-size: cover;" data-id="36f5abc2-9919-4922-9b26-ac6c6eda6015" class="image next-image"></div><div data-src="https://d3n32ilufxuvd1.cloudfront.net/5a0ec3e02c606546d861ea5e/1010932/upload-d56358b0-2c25-11e8-afd7-8b9efb17fe37.jpg" style="background-size: cover;" data-id="d140a086-5744-4470-8513-3aa0cefd0f5d" class="image next-image"></div><div data-src="https://d3n32ilufxuvd1.cloudfront.net/5a0ec3e02c606546d861ea5e/1010932/upload-d61ac1d0-2c25-11e8-b678-99e4b672c994.jpg" style="background-size: cover;" data-id="3b7a6b4f-f172-4c85-a380-954174792400" class="image next-image"></div><div data-src="https://d3n32ilufxuvd1.cloudfront.net/5a0ec3e02c606546d861ea5e/1010932/upload-da39bff0-2c25-11e8-bd9f-034b4ec01ab3.jpg" style="background-size: cover;" data-id="03a5f062-bd94-4f6a-bab9-64323841b317" class="image next-image"></div><div data-src="https://d3n32ilufxuvd1.cloudfront.net/5a0ec3e02c606546d861ea5e/1010932/upload-db3759d0-2c25-11e8-ae50-27f6988360c1.jpg" style="background-size: cover;" data-id="9872d37c-8296-43e4-86f7-6f3c898a913c" class="image next-image hidden"></div><div data-src="https://d3n32ilufxuvd1.cloudfront.net/5a0ec3e02c606546d861ea5e/1010932/upload-dc035c60-2c25-11e8-ae50-27f6988360c1.jpg" style="background-size: cover;" data-id="276178e0-c886-4a70-bdc6-42286febddaa" class="image next-image hidden"></div><div data-src="https://d3n32ilufxuvd1.cloudfront.net/5a0ec3e02c606546d861ea5e/1010932/upload-3b5a09f0-4f73-11e8-a8fd-a5b7a00c1aab.jpg" style="background-size: cover;" data-id="a602f064-c9a1-469b-a0fe-e5a2756e2e5e" class="image next-image hidden"></div><div data-src="https://d3n32ilufxuvd1.cloudfront.net/5a0ec3e02c606546d861ea5e/1010932/upload-3e3eb350-4f73-11e8-a8fd-a5b7a00c1aab.jpg" style="background-size: cover;" data-id="c6206e48-a868-44a8-abd4-c4178288deaf" class="image next-image hidden"></div><div data-src="https://d3n32ilufxuvd1.cloudfront.net/5a0ec3e02c606546d861ea5e/1010932/upload-40310d70-4f73-11e8-a8fd-a5b7a00c1aab.jpg" style="background-size: cover;" data-id="a11cdf29-7013-405e-a9bf-19ec1d73a347" class="image next-image hidden"></div><div data-src="https://d3n32ilufxuvd1.cloudfront.net/5a0ec3e02c606546d861ea5e/1010932/upload-43ac5180-4f73-11e8-a8fd-a5b7a00c1aab.jpg" style="background-size: cover;" data-id="2eeb9427-beb3-4d4c-99a8-0f8f66bb984e" class="image next-image hidden"></div><div data-src="https://d3n32ilufxuvd1.cloudfront.net/5a0ec3e02c606546d861ea5e/1010932/upload-46dc34b0-4f73-11e8-a8fd-a5b7a00c1aab.jpg" style="background-size: cover;" data-id="b7ab8b2d-cd8e-4b00-9718-279db96380d1" class="image next-image hidden"></div><div data-src="https://d3n32ilufxuvd1.cloudfront.net/5a0ec3e02c606546d861ea5e/1010932/upload-4a549290-4f73-11e8-a8fd-a5b7a00c1aab.jpg" style="background-size: cover;" data-id="75842de6-3b28-41a5-83ce-bf96734923db" class="image next-image hidden"></div><div data-src="https://d3n32ilufxuvd1.cloudfront.net/5a0ec3e02c606546d861ea5e/1010932/upload-4dd88930-4f73-11e8-a8fd-a5b7a00c1aab.jpg" style="background-size: cover;" data-id="76bff2f2-e900-45f3-9d45-f5d97991768b" class="image next-image hidden"></div><div data-src="https://d3n32ilufxuvd1.cloudfront.net/5a0ec3e02c606546d861ea5e/1010932/upload-50d108b0-4f73-11e8-a8fd-a5b7a00c1aab.jpg" style="background-size: cover;" data-id="5a5cab2a-260b-4d5a-9a4c-564f695ac2a3" class="image next-image hidden"></div><div data-src="https://d3n32ilufxuvd1.cloudfront.net/5a0ec3e02c606546d861ea5e/1010932/upload-5468ae60-4f73-11e8-a8fd-a5b7a00c1aab.jpg" style="background-size: cover;" data-id="9fe2e857-d364-4042-839e-f4b6c1dee0a7" class="image next-image hidden"></div><div data-src="https://d3n32ilufxuvd1.cloudfront.net/5a0ec3e02c606546d861ea5e/1010932/upload-581ae0f0-4f73-11e8-a8fd-a5b7a00c1aab.jpg" style="background-size: cover;" data-id="f08f43e8-a154-4471-8bb1-4fd8a3d62bc4" class="image next-image hidden"></div><div data-src="https://d3n32ilufxuvd1.cloudfront.net/5a0ec3e02c606546d861ea5e/1010932/upload-5b84bfe0-4f73-11e8-a8fd-a5b7a00c1aab.jpg" style="background-size: cover;" data-id="0229fb0c-b9fb-4095-8451-8b64c048efdf" class="image next-image"></div></div>
			<div style="display: none;" class="fullscreen">
				<svg class="fullscreen-off" xmlns="http://www.w3.org/2000/svg" version="1.1" width="24" height="24">
					<path class="fullscreen-path-1" d="M4 14 L4 20 L10 20  Z M14 4 L20 4 L20 10  Z " style="fill: rgb(255, 255, 255); stroke: rgb(255, 255, 255); stroke-width: 0;"></path>
					<path class="fullscreen-path-2" d="M10 14 L5 19 M14 10 L19 5" stroke-linecap="round" style="fill: none; stroke: rgb(255, 255, 255); stroke-width: 2px;"></path>
				</svg>
				<svg class="fullscreen-on" xmlns="http://www.w3.org/2000/svg" version="1.1" width="24" height="24">
					<path class="fullscreen-path-1" d="M5 13 L11 13 L11 19  Z M13 5 L19 11 L13 11  Z " style="fill: rgb(255, 255, 255); stroke: rgb(255, 255, 255); stroke-width: 0;"></path>
					<path class="fullscreen-path-2" d="M10 14 L5 19 M14 10 L19 5" stroke-linecap="round" style="fill: none; stroke: rgb(255, 255, 255); stroke-width: 2px;"></path>
				</svg>
			</div>

			<div class="bottom-arrows hidden">
				<div class="prev-picture-arrow-bottom">
					<svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="40" height="40">
						<path d="M23.5 11.5 L15.5 19.5 L23.5 27.5" stroke-linejoin="round" stroke-linecap="round" style="fill: none; stroke: rgb(255, 255, 255); stroke-width: 3px;"></path>
					</svg>
				</div>

				<div class="next-picture-arrow-bottom">
					<svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="40" height="40">
						<path d="M16.5 11.5 L24.5 19.5 L16.5 27.5" stroke-linejoin="round" stroke-linecap="round" style="fill: none; stroke: rgb(255, 255, 255); stroke-width: 3px;"></path>
					</svg>
				</div>

				<div style="color: rgb(255, 255, 255);" class="counters-text">
					<span class="counters-text-current">1</span>/<span class="counters-text-total">19</span>
				</div>
			</div>


			<div class="prev-picture-arrow-middle">
				<svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="40" height="40">
					<path d="M23.5 11.5 L15.5 19.5 L23.5 27.5" stroke-linejoin="round" stroke-linecap="round" style="fill: none; stroke: rgb(255, 255, 255); stroke-width: 3px;"></path>
				</svg>
			</div>


			<div class="next-picture-arrow-middle">
				<svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="40" height="40">
					<path d="M16.5 11.5 L24.5 19.5 L16.5 27.5" stroke-linejoin="round" stroke-linecap="round" style="fill: none; stroke: rgb(255, 255, 255); stroke-width: 3px;"></path>
				</svg>
			</div>


		</div>

		<div style="display: none; height: 72px; background: rgb(0, 0, 0) none repeat scroll 0% 0%;" class="thumbnails no-rmswipe">
			<div class="scroll-wrapper">
				<div class="items-wrapper has-horizontal-scroll">
					<div class="items">
					</div>
				</div>
				<div class="scroll"></div>
			</div>
		</div>

		<div style="display: none; height: 24px;" class="counters no-rmswipe">
			<div class="scroll-wrapper">
				<div class="items-wrapper has-horizontal-scroll">
					<div class="items">
					</div>
				</div>
				<div class="scroll"></div>
			</div>
		</div>

		<div style="display: block; height: 0px;" class="captions">
			
		<div style="display: block;" data-id="a7115ead-8f7d-41f0-8ca3-2d060bdd5be1" class="caption-wrapper"><div style="vertical-align: baseline; text-transform: none; text-decoration: none; text-align: center; opacity: 1; line-height: 18px; letter-spacing: 0px; font-weight: 400; font-style: normal; font-size: 14px; font-family: Arial; color: rgb(0, 0, 0);" class="caption"> </div></div><div style="display: none;" data-id="138b57b9-11fc-40e5-8625-21acb17eb66d" class="caption-wrapper"><div style="vertical-align: baseline; text-transform: none; text-decoration: none; text-align: center; opacity: 1; line-height: 18px; letter-spacing: 0px; font-weight: 400; font-style: normal; font-size: 14px; font-family: Arial; color: rgb(0, 0, 0);" class="caption"> </div></div><div style="display: none;" data-id="36f5abc2-9919-4922-9b26-ac6c6eda6015" class="caption-wrapper"><div style="vertical-align: baseline; text-transform: none; text-decoration: none; text-align: center; opacity: 1; line-height: 18px; letter-spacing: 0px; font-weight: 400; font-style: normal; font-size: 14px; font-family: Arial; color: rgb(0, 0, 0);" class="caption"> </div></div><div style="display: none;" data-id="d140a086-5744-4470-8513-3aa0cefd0f5d" class="caption-wrapper"><div style="vertical-align: baseline; text-transform: none; text-decoration: none; text-align: center; opacity: 1; line-height: 18px; letter-spacing: 0px; font-weight: 400; font-style: normal; font-size: 14px; font-family: Arial; color: rgb(0, 0, 0);" class="caption"> </div></div><div style="display: none;" data-id="3b7a6b4f-f172-4c85-a380-954174792400" class="caption-wrapper"><div style="vertical-align: baseline; text-transform: none; text-decoration: none; text-align: center; opacity: 1; line-height: 18px; letter-spacing: 0px; font-weight: 400; font-style: normal; font-size: 14px; font-family: Arial; color: rgb(0, 0, 0);" class="caption"> </div></div><div style="display: none;" data-id="03a5f062-bd94-4f6a-bab9-64323841b317" class="caption-wrapper"><div style="vertical-align: baseline; text-transform: none; text-decoration: none; text-align: center; opacity: 1; line-height: 18px; letter-spacing: 0px; font-weight: 400; font-style: normal; font-size: 14px; font-family: Arial; color: rgb(0, 0, 0);" class="caption"> </div></div><div style="display: none;" data-id="9872d37c-8296-43e4-86f7-6f3c898a913c" class="caption-wrapper"><div style="vertical-align: baseline; text-transform: none; text-decoration: none; text-align: center; opacity: 1; line-height: 18px; letter-spacing: 0px; font-weight: 400; font-style: normal; font-size: 14px; font-family: Arial; color: rgb(0, 0, 0);" class="caption"> </div></div><div style="display: none;" data-id="276178e0-c886-4a70-bdc6-42286febddaa" class="caption-wrapper"><div style="vertical-align: baseline; text-transform: none; text-decoration: none; text-align: center; opacity: 1; line-height: 18px; letter-spacing: 0px; font-weight: 400; font-style: normal; font-size: 14px; font-family: Arial; color: rgb(0, 0, 0);" class="caption"> </div></div><div style="display: none;" data-id="a602f064-c9a1-469b-a0fe-e5a2756e2e5e" class="caption-wrapper"><div style="vertical-align: baseline; text-transform: none; text-decoration: none; text-align: center; opacity: 1; line-height: 18px; letter-spacing: 0px; font-weight: 400; font-style: normal; font-size: 14px; font-family: Arial; color: rgb(0, 0, 0);" class="caption"> </div></div><div style="display: none;" data-id="c6206e48-a868-44a8-abd4-c4178288deaf" class="caption-wrapper"><div style="vertical-align: baseline; text-transform: none; text-decoration: none; text-align: center; opacity: 1; line-height: 18px; letter-spacing: 0px; font-weight: 400; font-style: normal; font-size: 14px; font-family: Arial; color: rgb(0, 0, 0);" class="caption"> </div></div><div style="display: none;" data-id="a11cdf29-7013-405e-a9bf-19ec1d73a347" class="caption-wrapper"><div style="vertical-align: baseline; text-transform: none; text-decoration: none; text-align: center; opacity: 1; line-height: 18px; letter-spacing: 0px; font-weight: 400; font-style: normal; font-size: 14px; font-family: Arial; color: rgb(0, 0, 0);" class="caption"> </div></div><div style="display: none;" data-id="2eeb9427-beb3-4d4c-99a8-0f8f66bb984e" class="caption-wrapper"><div style="vertical-align: baseline; text-transform: none; text-decoration: none; text-align: center; opacity: 1; line-height: 18px; letter-spacing: 0px; font-weight: 400; font-style: normal; font-size: 14px; font-family: Arial; color: rgb(0, 0, 0);" class="caption"> </div></div><div style="display: none;" data-id="b7ab8b2d-cd8e-4b00-9718-279db96380d1" class="caption-wrapper"><div style="vertical-align: baseline; text-transform: none; text-decoration: none; text-align: center; opacity: 1; line-height: 18px; letter-spacing: 0px; font-weight: 400; font-style: normal; font-size: 14px; font-family: Arial; color: rgb(0, 0, 0);" class="caption"> </div></div><div style="display: none;" data-id="75842de6-3b28-41a5-83ce-bf96734923db" class="caption-wrapper"><div style="vertical-align: baseline; text-transform: none; text-decoration: none; text-align: center; opacity: 1; line-height: 18px; letter-spacing: 0px; font-weight: 400; font-style: normal; font-size: 14px; font-family: Arial; color: rgb(0, 0, 0);" class="caption"> </div></div><div style="display: none;" data-id="76bff2f2-e900-45f3-9d45-f5d97991768b" class="caption-wrapper"><div style="vertical-align: baseline; text-transform: none; text-decoration: none; text-align: center; opacity: 1; line-height: 18px; letter-spacing: 0px; font-weight: 400; font-style: normal; font-size: 14px; font-family: Arial; color: rgb(0, 0, 0);" class="caption"> </div></div><div style="display: none;" data-id="5a5cab2a-260b-4d5a-9a4c-564f695ac2a3" class="caption-wrapper"><div style="vertical-align: baseline; text-transform: none; text-decoration: none; text-align: center; opacity: 1; line-height: 18px; letter-spacing: 0px; font-weight: 400; font-style: normal; font-size: 14px; font-family: Arial; color: rgb(0, 0, 0);" class="caption"> </div></div><div style="display: none;" data-id="9fe2e857-d364-4042-839e-f4b6c1dee0a7" class="caption-wrapper"><div style="vertical-align: baseline; text-transform: none; text-decoration: none; text-align: center; opacity: 1; line-height: 18px; letter-spacing: 0px; font-weight: 400; font-style: normal; font-size: 14px; font-family: Arial; color: rgb(0, 0, 0);" class="caption"> </div></div><div style="display: none;" data-id="f08f43e8-a154-4471-8bb1-4fd8a3d62bc4" class="caption-wrapper"><div style="vertical-align: baseline; text-transform: none; text-decoration: none; text-align: center; opacity: 1; line-height: 18px; letter-spacing: 0px; font-weight: 400; font-style: normal; font-size: 14px; font-family: Arial; color: rgb(0, 0, 0);" class="caption"> </div></div><div style="display: none;" data-id="0229fb0c-b9fb-4095-8451-8b64c048efdf" class="caption-wrapper"><div style="vertical-align: baseline; text-transform: none; text-decoration: none; text-align: center; opacity: 1; line-height: 18px; letter-spacing: 0px; font-weight: 400; font-style: normal; font-size: 14px; font-family: Arial; color: rgb(0, 0, 0);" class="caption"> </div></div></div>
	<style class="" id="slideshow-images-position-style-5ab0dc2f91ace565551215ae" type="text/css">					.common-slideshow[data-id="5ab0dc2f91ace565551215ae"] .images .images-wrapper {
						left: 0px;
						width: 514px;
					}
					.common-slideshow[data-id="5ab0dc2f91ace565551215ae"] .images .images-wrapper .image {
						left: 0px;
						width: 514px;
					}
					.common-slideshow[data-id="5ab0dc2f91ace565551215ae"] .images .images-wrapper .image.prev-image {
						-webkit-transform: translateX(-514px) ;
						transform: translateX(-514px) ;
					}
					.common-slideshow[data-id="5ab0dc2f91ace565551215ae"] .images .images-wrapper .image.center-image {
						-webkit-transform: translateX(0) ;
						transform: translateX(0) ;
					}
					.common-slideshow[data-id="5ab0dc2f91ace565551215ae"] .images .images-wrapper .image.next-image {
						-webkit-transform: translateX(514px) ;
						transform: translateX(514px) ;
					}
					</style><style class="" id="slideshow-images-transition-style-5ab0dc2f91ace565551215ae" type="text/css">					.common-slideshow[data-id="5ab0dc2f91ace565551215ae"] .images .images-wrapper.enable-transitions .image {
						-webkit-transition:	all undefinedms cubic-bezier(0.40, 0.24, 0.40, 1);						transition: all undefinedms cubic-bezier(0.40, 0.24, 0.40, 1);					}
					.common-slideshow[data-id="5ab0dc2f91ace565551215ae"] .images .images-wrapper.enable-transitions .image.center-image {
						-webkit-transition:	all NaNms cubic-bezier(0.40, 0.24, 0.40, 1);						transition: all NaNms cubic-bezier(0.40, 0.24, 0.40, 1);					}
					</style></div></div><div style="left: 16px; top: 308.14px; width: 444px; height: 62.01px; z-index: 104;" class="rmwidget text"><div class="v2" style=" -webkit-nbsp-mode:space; -webkit-line-break:after-white-space; column-count:auto;-webkit-column-count:auto !important;-moz-column-count:auto;column-gap:16px;-webkit-column-gap:16px !important;-moz-column-gap:16px;background:rgba(255,255,255, 0)"><p class="paragraph-2a17e7a0-d5fe-4fb5-83ed-0fd39ce76e37" data-style-phone_portrait="font-size: 15px; line-height: 24px;" data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span>• </span><span><span style="font-weight: bold; font-style: normal;">индивидуальное сопровождение</span> и консультация менеджера компании «Теремъ»;<br></span><br></span></span></span></span></span></span></span></p>
<p class="paragraph-2a17e7a0-d5fe-4fb5-83ed-0fd39ce76e37" data-style-phone_portrait="font-size: 15px; line-height: 24px;" data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span>&nbsp;</span></span></span></span></span></span></span></span></p></div></div><div style="left: 16px; top: 380.99px; width: 445px; height: 60.01px; z-index: 105;" class="rmwidget text"><div class="v2" style=" -webkit-nbsp-mode:space; -webkit-line-break:after-white-space; column-count:auto;-webkit-column-count:auto !important;-moz-column-count:auto;column-gap:16px;-webkit-column-gap:16px !important;-moz-column-gap:16px;background:rgba(255,255,255, 0)"><p class="paragraph-2a17e7a0-d5fe-4fb5-83ed-0fd39ce76e37" data-style-phone_portrait="font-size: 15px; line-height: 24px;" data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span>• </span><span>посещение всех домов и <span style="font-weight: bold; font-style: normal;">возможность оценить реальные размеры и функциональное назначение помещений</span>;<br></span><br></span><br></span></span></span></span></span></span></span></p>
<p class="paragraph-2a17e7a0-d5fe-4fb5-83ed-0fd39ce76e37" data-style-phone_portrait="font-size: 15px; line-height: 24px;" data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span>&nbsp;</span></span></span></span></span></span></span></span></span></p></div></div><div style="left: 16px; top: 455.99px; width: 464px; height: 38.01px; z-index: 106;" class="rmwidget text"><div class="v2" style=" -webkit-nbsp-mode:space; -webkit-line-break:after-white-space; column-count:auto;-webkit-column-count:auto !important;-moz-column-count:auto;column-gap:16px;-webkit-column-gap:16px !important;-moz-column-gap:16px;background:rgba(255,255,255, 0)"><p style="line-height: 27px; font-size: 16px;" data-style-phone_portrait="empty" data-class-phone_portrait="paragraph-2a17e7a0-d5fe-4fb5-83ed-0fd39ce76e37" data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span style="font-family: vcsm;" data-style-phone_portrait="empty" data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span data-style-phone_portrait="font-weight: bold; font-style: normal;" data-anchor-link-pos-phone_portrait="empty"><span style="font-weight: bold; font-style: normal;" data-anchor-link-pos-phone_portrait="empty"><span style="font-weight: 400; font-style: normal;" data-style-phone_portrait="empty" data-anchor-link-pos-phone_portrait="empty">• </span><span>готовые интерьерные решения;<br></span></span></span></span></span><br></span></span></span></span></span></span></span></p>
<p style="line-height: 27px; font-size: 16px;" data-style-phone_portrait="empty" data-class-phone_portrait="paragraph-2a17e7a0-d5fe-4fb5-83ed-0fd39ce76e37" data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span style="font-family: vcsm;" data-style-phone_portrait="empty" data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span data-style-phone_portrait="font-weight: bold; font-style: normal;" data-anchor-link-pos-phone_portrait="empty"><span style="font-weight: bold; font-style: normal;" data-anchor-link-pos-phone_portrait="empty"><span>&nbsp;</span></span></span></span></span></span></span></span></span></span></span></span></p></div></div><div style="left: 16px; top: 503.99px; width: 464px; height: 60.01px; z-index: 119;" class="rmwidget text"><div class="v2" style=" -webkit-nbsp-mode:space; -webkit-line-break:after-white-space; column-count:auto;-webkit-column-count:auto !important;-moz-column-count:auto;column-gap:16px;-webkit-column-gap:16px !important;-moz-column-gap:16px;background:rgba(255,255,255, 0)"><p style="line-height: 27px; font-size: 16px;" data-style-phone_portrait="empty" data-class-phone_portrait="paragraph-2a17e7a0-d5fe-4fb5-83ed-0fd39ce76e37" data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span style="font-family: vcsm;" data-style-phone_portrait="empty" data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span data-style-phone_portrait="font-weight: bold; font-style: normal;" data-anchor-link-pos-phone_portrait="empty"><span style="font-weight: bold; font-style: normal;" data-anchor-link-pos-phone_portrait="empty"><span style="font-weight: 400; font-style: normal;" data-style-phone_portrait="empty" data-anchor-link-pos-phone_portrait="empty">• </span><span><span><span style="font-weight: 400; font-style: normal;">наглядное знакомство</span> с лучшими технологиями загородного строительства; <br></span></span></span></span></span></span><br></span></span></span></span></span></span></span></p>
<p style="line-height: 27px; font-size: 16px;" data-style-phone_portrait="empty" data-class-phone_portrait="paragraph-2a17e7a0-d5fe-4fb5-83ed-0fd39ce76e37" data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span style="font-family: vcsm;" data-style-phone_portrait="empty" data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span data-style-phone_portrait="font-weight: bold; font-style: normal;" data-anchor-link-pos-phone_portrait="empty"><span style="font-weight: bold; font-style: normal;" data-anchor-link-pos-phone_portrait="empty"><span><span>&nbsp;</span></span></span></span></span></span></span></span></span></span></span></span></span></p>
<p style="line-height: 27px; font-size: 16px;" data-style-phone_portrait="empty" data-class-phone_portrait="paragraph-2a17e7a0-d5fe-4fb5-83ed-0fd39ce76e37" data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span style="font-family: vcsm;" data-style-phone_portrait="empty" data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span data-style-phone_portrait="font-weight: bold; font-style: normal;" data-anchor-link-pos-phone_portrait="empty"><span style="font-weight: bold; font-style: normal;" data-anchor-link-pos-phone_portrait="empty"><span>&nbsp;</span></span></span></span></span></span></span></span></span></span></span></span></p></div></div><div style="left: 16px; top: 578.99px; width: 404px; height: 61.01px; z-index: 120;" class="rmwidget text"><div class="v2" style=" -webkit-nbsp-mode:space; -webkit-line-break:after-white-space; column-count:auto;-webkit-column-count:auto !important;-moz-column-count:auto;column-gap:16px;-webkit-column-gap:16px !important;-moz-column-gap:16px;background:rgba(255,255,255, 0)"><p style="line-height: 27px; font-size: 16px;" data-style-phone_portrait="empty" data-class-phone_portrait="paragraph-2a17e7a0-d5fe-4fb5-83ed-0fd39ce76e37" data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span style="font-family: vcsm;" data-style-phone_portrait="empty" data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span data-style-phone_portrait="font-weight: bold; font-style: normal;" data-anchor-link-pos-phone_portrait="empty"><span style="font-weight: bold; font-style: normal;" data-anchor-link-pos-phone_portrait="empty"><span style="font-weight: 400; font-style: normal;" data-style-phone_portrait="empty" data-anchor-link-pos-phone_portrait="empty">• </span><span><span><span style="font-weight: 400; font-style: normal;"><span>возможность <span style="font-weight: bold; font-style: normal;">сделать расчет стоимости</span> понравившегося проекта. <br></span></span><br></span></span></span></span></span></span><br></span></span></span></span></span></span></span></p>
<p style="line-height: 27px; font-size: 16px;" data-style-phone_portrait="empty" data-class-phone_portrait="paragraph-2a17e7a0-d5fe-4fb5-83ed-0fd39ce76e37" data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span style="font-family: vcsm;" data-style-phone_portrait="empty" data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span data-style-phone_portrait="font-weight: bold; font-style: normal;" data-anchor-link-pos-phone_portrait="empty"><span style="font-weight: bold; font-style: normal;" data-anchor-link-pos-phone_portrait="empty"><span><span><span style="font-weight: 400; font-style: normal;"><span>&nbsp;</span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></p>
<p style="line-height: 27px; font-size: 16px;" data-style-phone_portrait="empty" data-class-phone_portrait="paragraph-2a17e7a0-d5fe-4fb5-83ed-0fd39ce76e37" data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span style="font-family: vcsm;" data-style-phone_portrait="empty" data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span data-style-phone_portrait="font-weight: bold; font-style: normal;" data-anchor-link-pos-phone_portrait="empty"><span style="font-weight: bold; font-style: normal;" data-anchor-link-pos-phone_portrait="empty"><span><span>&nbsp;</span></span></span></span></span></span></span></span></span></span></span></span></span></p>
<p style="line-height: 27px; font-size: 16px;" data-style-phone_portrait="empty" data-class-phone_portrait="paragraph-2a17e7a0-d5fe-4fb5-83ed-0fd39ce76e37" data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span style="font-family: vcsm;" data-style-phone_portrait="empty" data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span data-style-phone_portrait="font-weight: bold; font-style: normal;" data-anchor-link-pos-phone_portrait="empty"><span style="font-weight: bold; font-style: normal;" data-anchor-link-pos-phone_portrait="empty"><span>&nbsp;</span></span></span></span></span></span></span></span></span></span></span></span></p></div></div><a target="" href="/smmstudio/1010932/main/" class="maglink"><div style="left: 16px; top: 662.5px; width: 200px; height: 54px; z-index: 114; border-radius: 5px;" class="rmwidget widget-button"><div style="" class="common-button transition" data-id="5ab0f5ff5cdb087e43cf908b">

        <div style="display: none; margin-right: 0px; margin-left: 0px;" class="icon"></div>

    <input style="display: inline-block; width: 168px; padding-left: 0px; text-indent: 0px; height: 28px; line-height: 28px;" class="text" value="Оставить заявку" disabled="" readonly="" autocapitalize="off" autocorrect="off" autocomplete="off" spellcheck="false" role="button" name="Оставить заявку" type="text"></div></div></a><div style="left: 0px; top: 782px; width: 1024px; height: 768px; z-index: 100; background-color: rgba(0, 0, 0, 0.01); border-color: rgb(255, 255, 255); border-radius: 0px; border-style: solid; border-width: 0px; box-sizing: border-box;" class="rmwidget widget-shape full-width div-instead-of-svg"></div><div style="left: 508.14px; top: 872.44px; width: 530px; height: 92px; z-index: 107;" class="rmwidget text"><div class="v2" style=" -webkit-nbsp-mode:space; -webkit-line-break:after-white-space; column-count:auto;-webkit-column-count:auto !important;-moz-column-count:auto;column-gap:16px;-webkit-column-gap:16px !important;-moz-column-gap:16px;background:rgba(255,255,255, 0)"><p style="line-height: 40px; font-size: 40px; padding-bottom: 0px; text-align: left;" data-style-phone_portrait="line-height: 33px; font-size: 33px; padding-bottom: 0px; text-align: left;" data-anchor-link-pos-phone_portrait="empty"><span style="font-family: custom_8076; font-weight: 400;" data-anchor-link-pos-phone_portrait="empty"><span style="color: #0a0a0a;" data-anchor-link-pos-phone_portrait="empty"><span style="letter-spacing: 0px;" data-anchor-link-pos-phone_portrait="empty"><span style="font-style: normal; text-transform: uppercase;" data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty">На территории выставочного комплекса Вы также сможете:</span></span></span></span></span></p></div></div><div style="left: 16px; top: 872.44px; width: 130.14px; height: 76px; z-index: 118;" class="rmwidget widget-picture"><div class="svg-scale-wrapper"><svg preserveAspectRatio="xMidYMid meet" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0.19921875 0.5 101 59.1015625" height="" width="">
    <!-- Generator: Sketch 49 (51002) - http://www.bohemiancoding.com/sketch -->
    
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g fill-rule="evenodd" fill="none" stroke-width="1" stroke="none" id="Page-1">
        <g fill-rule="nonzero" fill="#AC1E23" id="logo3">
            <g transform="translate(0.000000, 30.000000)" id="Group">
                <path id="Shape" d="M98.1,2.1 L98.3,2.1 C98.6,2.1 98.8,2.1 98.9,2.1 C99,2.1 99,2.2 99.1,2.2 C99.1,2.3 99.2,2.3 99.2,2.4 C99.2,2.5 99.2,2.6 99.1,2.6 C99.1,2.7 99,2.7 98.9,2.7 C98.8,2.7 98.6,2.7 98.3,2.7 L98.1,2.7 L98.1,2.1 Z M98.1,4.4 L98.1,3.3 L98.2,3.3 C98.4,3.3 98.5,3.3 98.6,3.4 C98.7,3.5 98.8,3.7 99,4 L99.2,4.5 L99.9,4.5 L99.6,3.9 C99.5,3.7 99.4,3.6 99.4,3.6 C99.3,3.5 99.3,3.4 99.2,3.4 C99.2,3.4 99.1,3.3 99,3.3 C99.2,3.3 99.4,3.2 99.6,3 C99.7,2.9 99.8,2.7 99.8,2.5 C99.8,2.4 99.8,2.2 99.7,2.1 C99.6,2 99.5,1.9 99.4,1.8 C99.3,1.7 99.1,1.7 99,1.7 C98.9,1.7 98.6,1.7 98.2,1.7 L97.6,1.7 L97.6,4.3 L98.1,4.3 L98.1,4.4 Z M99.7,1.1 C100,1.3 100.3,1.6 100.5,1.9 C100.7,2.2 100.8,2.6 100.8,2.9 C100.8,3.2 100.7,3.6 100.5,3.9 C100.3,4.2 100,4.5 99.7,4.7 C99.4,4.9 99,5 98.7,5 C98.4,5 98,4.9 97.7,4.7 C97.4,4.5 97.1,4.2 96.9,3.9 C96.7,3.6 96.6,3.2 96.6,2.9 C96.6,2.6 96.7,2.2 96.9,1.9 C97.1,1.6 97.4,1.3 97.7,1.1 C98,0.9 98.4,0.8 98.7,0.8 C99.1,1 99.5,1.1 99.7,1.1 Z M97.5,0.8 C97.1,1 96.7,1.4 96.6,1.7 C96.4,2.1 96.2,2.5 96.2,2.9 C96.2,3.4 96.3,3.7 96.6,4.1 C96.8,4.5 97.2,4.9 97.5,5 C97.9,5.2 98.3,5.4 98.7,5.4 C99.2,5.4 99.5,5.3 99.9,5 C100.3,4.8 100.7,4.4 100.8,4.1 C100.9,3.8 101.2,3.3 101.2,2.9 C101.2,2.4 101.1,2.1 100.8,1.7 C100.6,1.3 100.2,0.9 99.9,0.8 C99.6,0.7 99.1,0.5 98.7,0.5 C98.3,0.4 97.9,0.6 97.5,0.8 Z"></path>
                <path id="Shape" d="M69.5,28.4 L67.2,18 C66.7,18.8 66.3,19.5 65.9,20.3 C65.5,21.1 65.3,21.7 65.1,22.4 C64.9,23.1 64.8,23.8 64.8,24.6 C64.8,25.1 64.8,25.6 64.9,26.5 C65,27.3 65.1,27.7 65.1,27.9 L65.1,28.9 C65.1,29.1 65,29.3 64.8,29.4 C64.7,29.5 64.5,29.5 64.3,29.5 C64.1,29.5 63.9,29.5 63.5,29.4 C63.4,29.4 63.2,29.4 62.9,29.4 C62.6,29.4 62.4,29.4 62.2,29.4 C62,29.4 61.8,29.4 61.7,29.4 C61.4,29.4 61.2,29.3 61.1,29.1 C61.2,28.9 61.1,28.5 61.1,27.9 C61.1,26.9 61.2,26.1 61.5,25.4 C61.8,24.6 62.1,23.9 62.5,23.2 C62.9,22.5 63.5,21.7 64.3,20.7 C65.1,19.7 65.6,18.8 65.9,18.2 C66.3,17.6 66.4,17 66.4,16.4 C66.4,15.8 65.2,15.8 64.9,15.9 L64.9,15 L71,15 L71,15.8 L69.9,15.8 L72.4,27.8 L74.7,15.8 L73.8,15.8 L73.8,15 L79.3,15 L79.3,15.8 L78,15.8 L80.7,28.4 L82.1,28.4 L82.1,29.2 L76.6,29.2 L76.6,28.4 L77.5,28.4 L75.2,17.6 L73.2,28.4 L74.2,28.4 L74.2,29.2 L68.3,29.2 L68.3,28.4 L69.5,28.4 Z"></path>
                <path id="Shape" d="M8.7,27.7 L8.7,3.7 L7.4,3.7 L6.7,3.7 C6.1,3.7 5.7,3.8 5.4,4.1 C5,4.3 4.7,4.9 4.5,5.6 C4.2,6.4 3.8,7.7 3.6,9.4 C3.4,10.2 3.3,10.7 3.2,11 C3.1,11.3 2.9,11.4 2.6,11.4 C2.2,11.4 2,11.2 1.9,10.9 C1.8,10.6 1.7,10.1 1.7,9.6 C1.7,8.6 1.5,7.4 1.1,6.2 C1,5.9 0.8,5.4 0.6,4.6 C0.3,3.8 0.2,3.3 0.2,3 C0.2,2.6 0.3,2.2 0.6,2 C0.8,1.7 1.2,1.5 1.6,1.5 C1.7,1.5 2,1.6 2.4,1.7 C2.8,1.8 3.2,1.9 3.7,2 C4.4,2 5,2 5.8,2 C6,2 6.2,2 6.4,2 C6.6,2 6.8,2 6.9,2 L15.9,2 C16,2 16.2,2 16.5,2 C16.7,2 16.9,2 17.1,2 C17.9,2 18.5,2 19,1.9 C19.5,1.8 19.9,1.7 20.3,1.6 C20.7,1.5 21,1.4 21.1,1.4 C21.6,1.4 21.9,1.6 22,1.9 C22.2,2.2 22.4,2.6 22.4,2.9 C22.4,3.2 22.3,3.7 22,4.4 C21.7,5.2 21.5,5.6 21.4,6 C21,7.2 20.8,8.4 20.8,9.4 C20.8,10.6 20.5,11.2 20,11.2 C19.7,11.2 19.6,11.1 19.4,10.9 C19.3,10.7 19.2,10.4 19.1,10.1 C19,9.8 18.9,9.1 18.6,7.9 C18.3,6.6 18,5.5 17.7,5 C17.4,4.3 17,4 16.6,3.8 C16.2,3.6 15.7,3.5 14.9,3.5 L13.6,3.5 L13.6,27.5 L16.1,27.5 L16.1,29.1 L6.3,29.1 L6.3,27.5 L8.7,27.7 Z"></path>
                <path id="Shape" d="M50.1,19.8 C50.1,19 50.2,18.4 50.4,17.6 C50.6,16.9 50.9,16.4 51.3,15.9 C51.8,15.4 52.3,15.2 53,15.2 C53.8,15.2 54.5,15.5 54.9,16 C55.7,16.8 56.2,18.8 55.9,20.7 L50,20.7 C50.2,20.5 50.1,20.2 50.1,19.8 Z M54.7,24.7 L54.7,25.5 C56.5,25.5 55.5,26.7 54.6,27.7 C54,28.4 53.1,28.6 52,28.6 C51.7,28.6 51.4,28.6 51.2,28.5 C51.3,28.1 51.4,27.7 51.4,27.5 C51.4,26.8 51.4,26.3 51.3,25.9 C51.2,25.5 51,25 50.8,24.2 C50.6,23.5 50.4,22.8 50.3,21.8 L60,21.8 L60,21 C59.8,19.3 59.4,17 57.9,15.9 C57.2,15.4 56.6,15.1 55.8,15 C55,14.8 54.4,14.7 53.7,14.7 C52.6,14.7 51.5,14.9 50.4,15.4 C49.4,15.8 48.4,16.5 47.8,17.5 C47,18.4 46.8,19.8 46.8,21.4 C46.8,22 46.9,22.4 47,22.8 C47.1,23.2 47.3,23.6 47.7,24.1 C48,24.6 48.5,25.2 49.1,26 C49.5,26.5 49.9,26.9 50,27.3 C50.2,27.7 50.3,28.1 50.3,28.6 C50.3,28.7 50.3,28.9 50.3,29.2 C50.8,29.3 51.2,29.4 51.9,29.5 C52.6,29.6 53.1,29.6 53.7,29.6 C54.5,29.6 55.3,29.4 56.1,29.1 C56.9,28.7 57.5,28.3 58.2,27.7 C59.1,26.9 59.2,25.7 60.5,25.7 L60.5,24.9 L54.7,24.7 Z"></path>
                <path id="Shape" d="M40.9,21.5 C40.6,21.9 40.3,22.1 40,22.1 C39.9,22.1 39.8,22.1 39.6,22 C39.4,21.9 39.3,21.8 39.2,21.7 L37.9,23.4 L37.9,19.9 L37.9,19.4 C37.9,18.6 37.9,18 38,17.4 C38.1,16.9 38.2,16.5 38.5,16.1 C38.8,15.7 39.2,15.5 39.6,15.5 C40.3,15.5 40.7,15.8 40.9,16.3 C41.2,16.9 41.3,17.6 41.3,18.7 C41.4,19.8 41.2,21.2 40.9,21.5 Z M44.4,16.7 C44,16 43.4,15.6 42.6,15.2 C41.8,14.8 40.9,14.6 39.8,14.6 C38.7,14.6 37.7,14.9 36.8,15.4 C36,16 35.3,16.7 34.8,17.7 C34.8,18.7 34.7,19.8 34.7,20.8 L34.7,27 C34.7,28.6 33.8,28.3 33,28.3 C33,28.6 33,28.9 33,29.1 L39.7,29.1 L39.7,28.3 C39.1,28.2 38,28.6 38,26.9 C38,25.9 38,25.5 38,24.4 L39.4,22.6 C39.5,22.6 39.7,22.7 39.9,22.8 C40.3,23 40.6,23.2 40.7,23.2 C40.9,23.3 41.2,23.3 41.5,23.3 C42.2,23.3 42.7,23.1 43.3,22.7 C44.4,22.1 45,19.7 45,18.5 C45,18.1 44.8,17.4 44.4,16.7 Z"></path>
                <path id="Shape" d="M22,19.8 C22,19 22.1,18.4 22.3,17.6 C22.5,16.9 22.8,16.4 23.2,15.9 C23.7,15.4 24.2,15.2 24.9,15.2 C25.7,15.2 26.4,15.5 26.8,16 C27.6,16.8 28.1,18.8 27.8,20.7 L22,20.7 C22,20.5 22,20.2 22,19.8 Z M26.5,24.7 L26.5,25.5 C28.3,25.5 27.3,26.7 26.4,27.7 C25.8,28.4 24.9,28.6 23.8,28.6 C23.5,28.6 23.2,28.6 23,28.5 C23.1,28.1 23.2,27.7 23.2,27.5 C23.2,26.8 23.2,26.3 23.1,25.9 C23,25.5 22.8,25 22.6,24.2 C22.4,23.5 22.2,22.8 22.1,21.8 L31.7,21.8 L31.7,21 C31.5,19.3 31.1,17 29.6,15.9 C28.9,15.4 28.3,15.1 27.5,15 C26.7,14.8 26.1,14.7 25.4,14.7 C24.3,14.7 23.2,14.9 22.1,15.4 C21.1,15.8 20.1,16.5 19.5,17.5 C18.7,18.4 18.5,19.8 18.5,21.4 C18.5,22 18.6,22.4 18.7,22.8 C18.8,23.2 19,23.6 19.4,24.1 C19.7,24.6 20.2,25.2 20.8,26 C21.2,26.5 21.6,26.9 21.7,27.3 C21.8,27.7 22,28.1 22,28.6 C22,28.7 22,28.9 22,29.2 C22.5,29.3 22.9,29.4 23.6,29.5 C24.3,29.6 24.8,29.6 25.4,29.6 C26.2,29.6 27,29.4 27.8,29.1 C28.6,28.7 29.2,28.3 29.9,27.7 C30.8,26.9 30.9,25.7 32.2,25.7 L32.2,24.9 L26.5,24.7 Z"></path>
                <path id="Shape" d="M96.5,25.5 C96.5,26.4 96.3,27.1 95.9,27.3 C95.5,27.6 95.1,27.7 94.4,27.7 L92,27.7 L92,15.4 C92.8,16.4 93.9,17.2 95.1,17.8 C95.8,18.1 96.1,18.4 96.3,18.6 C96.4,18.9 96.5,19.3 96.5,19.9 C96.5,20.2 96.5,20.4 96.5,20.4 C96.5,20.5 96.5,20.6 96.5,20.9 L96.5,25.5 Z M100.5,16.9 C100.3,16.5 99.8,16.2 99.1,16.2 C98.6,16.3 98.3,16.3 98,16.3 C97.1,16.3 96,16 94.9,15.5 C93.8,14.9 92.8,14.2 92.1,13.2 L92.1,3.8 L94.4,3.8 L94.4,2.1 L82.4,2.1 C82,2.1 81.5,1.9 80.9,1.7 C80.8,1.7 80.4,1.5 80.1,1.5 C79.8,1.5 79.4,1.6 79.3,1.8 C79.1,1.9 78.7,2.4 78.7,3 C78.7,3.9 79.5,5.5 79.5,5.8 C79.8,6.9 80,7.1 80.1,8.7 C80.2,9.6 80.2,10.3 80.3,10.7 C80.4,11.1 80.7,11.3 81.1,11.3 C81.4,11.3 81.6,11.2 81.7,11 C81.8,10.7 82,10.3 82.1,9.7 C82.4,8.2 82.7,7.2 82.9,6 C83.6,3.6 84.5,3.6 85.5,3.6 L87.3,3.6 L87.3,27.5 L84.8,27.5 L84.8,29.1 L99.2,29.1 C99.6,29.1 99.9,29 100.1,28.9 C100.3,28.8 100.5,28.5 100.7,28.1 C100.8,27.7 100.9,27.1 100.9,26.3 L100.9,18.5 C100.8,18 100.7,17.3 100.5,16.9 Z"></path>
            </g>
            <g transform="translate(25.000000, 0.000000)" id="Group">
                <path id="Shape" d="M7.7,41.3 C7.7,40 8.3,38.8 9,38 C9.8,37.2 11,36.7 12.3,36.7 C13.6,36.7 14.8,37.3 15.6,38 C16.4,38.8 16.9,40 16.9,41.3 L15.3,41.3 C15.3,40.5 14.9,39.7 14.5,39.1 C13.9,38.5 13.2,38.3 12.3,38.3 C11.5,38.3 10.7,38.7 10.1,39.1 C9.5,39.7 9.3,40.4 9.3,41.3 L7.7,41.3 Z"></path>
                <path id="Shape" d="M33.8,41.3 C33.8,40 34.4,38.8 35.1,38 C35.9,37.2 37.1,36.7 38.4,36.7 C39.7,36.7 40.9,37.3 41.7,38 C42.5,38.8 43,40 43,41.3 L41.4,41.3 C41.4,40.5 41,39.7 40.6,39.1 C40,38.5 39.3,38.3 38.4,38.3 C37.6,38.3 36.8,38.7 36.2,39.1 C35.6,39.7 35.4,40.4 35.4,41.3 L33.8,41.3 Z"></path>
                <path id="Shape" d="M20.8,41.3 C20.8,40 21.4,38.8 22.1,38 C22.9,37.2 24.1,36.7 25.4,36.7 C26.7,36.7 27.9,37.3 28.7,38 C29.5,38.8 30,40 30,41.3 L28.4,41.3 C28.4,40.5 28,39.7 27.6,39.1 C27,38.5 26.3,38.3 25.4,38.3 C24.6,38.3 23.8,38.7 23.2,39.1 C22.6,39.7 22.4,40.4 22.4,41.3 L20.8,41.3 Z"></path>
                <polygon points="27.5 26.4 26.6 27.9 29.1 28.4 26.6 29 27.2 30.3 25.9 29.6 25.4 32.3 24.9 29.5 23.4 30.4 24.3 29 21.8 28.4 24.3 27.8 23.7 26.5 25 27.3 25.4 24.5 26 27.4" id="Shape"></polygon>
                <path id="Shape" d="M49.1,34.3 L34.4,34.3 C34.9,33.8 35.4,33.4 35.8,32.9 L49.1,32.9 L49.1,34.3 Z M33.4,34.3 L31.9,34.3 C31.9,34.3 32.1,34.1 32.2,34 C35.9,29.7 34,26.4 31.4,24 C30.5,23.2 29.4,22.4 28.5,21.7 C27.3,20.8 26.2,20.1 26.1,19.6 L25.6,17.6 L25.1,19.6 C25,20.1 24,20.8 22.7,21.7 C21.8,22.4 20.7,23.1 19.8,24 C17.1,26.5 15.3,29.7 19,34 C19.1,34.1 19.3,34.3 19.3,34.3 L17.8,34.3 C17.8,34.3 17.6,34.1 17.5,34 C13.8,31.1 14,28.6 15.7,26.4 C16.7,25 18.4,23.6 20.1,22.2 C22.2,20.5 24.6,18.8 25.8,16.9 C26.9,18.8 29.4,20.5 31.5,22.2 C33.2,23.6 34.8,24.9 35.9,26.4 C37.6,28.7 37.8,31 34.1,34 C33.6,34.1 33.4,34.3 33.4,34.3 Z M1.7,34.3 L1.7,32.9 L15,32.9 C15.5,33.4 15.9,33.9 16.4,34.3 L1.7,34.3 Z M9.4,22.3 L10.3,22.3 L10.3,24.9 L9.4,24.9 L9.4,22.3 Z M11.3,22.3 L12.2,22.3 L12.2,24.9 L11.3,24.9 L11.3,22.3 Z M13.2,22.3 L14.1,22.3 L14.1,24.9 L13.2,24.9 L13.2,22.3 Z M15.1,22.3 L16,22.3 L16,24.2 L15.2,25 L15,25 L15.1,22.3 Z M16.9,22.3 L17.8,22.3 L17.8,22.4 L16.9,23.2 L16.9,22.3 Z M33.9,22.3 L33.9,23.2 L33,22.4 L33,22.3 L33.9,22.3 Z M17.7,14.8 L33.2,14.8 L33.2,21.1 L31,21.1 C29,19.4 26.7,17.7 25.8,15.9 L25.4,15.1 L25,15.9 C24.2,17.7 21.8,19.4 19.8,21.1 L17.6,21.1 L17.6,14.8 L17.7,14.8 Z M34.9,22.3 L35.8,22.3 L35.8,24.9 L35.5,24.9 L34.7,24.1 L34.9,22.3 Z M36.8,22.3 L37.7,22.3 L37.7,24.9 L36.8,24.9 L36.8,22.3 Z M38.7,22.3 L39.6,22.3 L39.6,24.9 L38.7,24.9 L38.7,22.3 Z M40.6,22.3 L41.5,22.3 L41.5,24.9 L40.6,24.9 L40.6,22.3 Z M42.3,24.9 L42.3,21.3 C42.9,21.2 43.2,20.6 43.2,20.1 C43.2,19.4 42.6,18.9 42,18.9 C41.3,18.9 40.8,19.5 40.8,20.1 C40.8,20.7 41.2,21.1 41.7,21.3 L41.7,21.5 L34.9,21.5 L34.9,14.5 L38.4,14.5 L31.2,11.4 L28.4,7.2 L25.5,2.9 C26.2,2.9 26.7,2.3 26.7,1.7 C26.7,1 26.1,0.5 25.5,0.5 C24.8,0.5 24.3,1.1 24.3,1.7 C24.3,2.4 24.9,2.9 25.5,2.9 L22.6,7.2 L19.8,11.4 L12.6,14.5 L16,14.5 L16,21.5 L9.2,21.5 L9.2,21.3 C9.8,21.2 10.1,20.6 10.1,20.1 C10.1,19.4 9.5,18.9 8.9,18.9 C8.3,18.9 7.7,19.5 7.7,20.1 C7.7,20.7 8.1,21.1 8.6,21.3 L8.6,24.9 L0.8,32 L0.8,35 L3,35 L3,41.2 L4.2,41.2 L4.2,35 C9.8,35 15.3,35 20.8,35 C20,34.1 18.3,32.6 17.8,30.4 C17.2,28.4 18.1,26.5 20.3,24.5 C21.2,23.7 22.2,23 23.1,22.3 L23.2,22.3 C24.3,21.5 25.1,21 25.5,20.5 C26,21 26.6,21.5 27.8,22.3 L27.9,22.3 C28.7,23 29.8,23.6 30.7,24.5 C32.9,26.5 33.7,28.4 33.2,30.4 C32.5,32.7 31,34 30.2,35 C35.8,35 41.3,35 46.8,35 L46.8,41.2 L48,41.2 L48,35 L50.2,35 L50.2,32 L42.3,24.9 Z"></path>
            </g>
        </g>
    </g>
</svg></div></div><div style="left: 508.14px; top: 982px; width: 424px; height: 63.01px; z-index: 108;" class="rmwidget text"><div class="v2" style=" -webkit-nbsp-mode:space; -webkit-line-break:after-white-space; column-count:auto;-webkit-column-count:auto !important;-moz-column-count:auto;column-gap:16px;-webkit-column-gap:16px !important;-moz-column-gap:16px;background:rgba(255,255,255, 0)"><p data-style-phone_portrait="line-height: 23px; font-size: 15px;" data-anchor-link-pos-phone_portrait="empty" style="line-height: 30px; font-size: 16px;"><span data-anchor-link-pos-phone_portrait="empty" style="font-family: qygc;"><span data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty" style="font-family: vcsm;"><span data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span data-style-phone_portrait="font-weight: bold; font-style: normal;" data-anchor-link-pos-phone_portrait="empty">• </span>оформить кредит на покупку земли и дома;<br></span><br></span></span></span></span></span></span></span></p></div></div><div style="left: 16px; top: 995.15px; width: 444px; height: 261.73px; z-index: 115;" class="rmwidget video"><img src="https://i.ytimg.com/vi/sRHBtQsL_vI/hqdefault.jpg" style="opacity: 1; left: 0px; top: -35.5px; width: 444px; height: 333px;" class="poster"></div><div style="left: 508.14px; top: 1024px; width: 424px; height: 37.01px; z-index: 109;" class="rmwidget text"><div class="v2" style=" -webkit-nbsp-mode:space; -webkit-line-break:after-white-space; column-count:auto;-webkit-column-count:auto !important;-moz-column-count:auto;column-gap:16px;-webkit-column-gap:16px !important;-moz-column-gap:16px;background:rgba(255,255,255, 0)"><p data-style-phone_portrait="font-size: 15px;" data-anchor-link-pos-phone_portrait="empty" style="font-size: 16px;" class="paragraph-8c0c20b3-ea35-45c5-8b5c-96158dbf6620"><span data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span data-style-phone_portrait="font-weight: bold; font-style: normal;" data-anchor-link-pos-phone_portrait="empty">• </span>заказать ремонт и достройку дома;<br></span></span><br></span></span></span></span></span></span></span></p></div></div><div style="left: 508.14px; top: 1066.01px; width: 437.14px; height: 36.01px; z-index: 110;" class="rmwidget text"><div class="v2" style=" -webkit-nbsp-mode:space; -webkit-line-break:after-white-space; column-count:auto;-webkit-column-count:auto !important;-moz-column-count:auto;column-gap:16px;-webkit-column-gap:16px !important;-moz-column-gap:16px;background:rgba(255,255,255, 0)"><p data-style-phone_portrait="font-size: 15px; line-height: 23px;" data-anchor-link-pos-phone_portrait="empty" style="font-size: 16px;" class="paragraph-8c0c20b3-ea35-45c5-8b5c-96158dbf6620"><span data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span data-style-phone_portrait="font-weight: bold; font-style: normal;" data-anchor-link-pos-phone_portrait="empty">• </span>заказать все инженерные коммуникации;<br></span></span></span><br></span></span></span></span></span></span></span></p></div></div><div style="left: 508.14px; top: 1108.01px; width: 286px; height: 36.01px; z-index: 111;" class="rmwidget text"><div class="v2" style=" -webkit-nbsp-mode:space; -webkit-line-break:after-white-space; column-count:auto;-webkit-column-count:auto !important;-moz-column-count:auto;column-gap:16px;-webkit-column-gap:16px !important;-moz-column-gap:16px;background:rgba(255,255,255, 0)"><p data-style-phone_portrait="font-size: 15px;" data-anchor-link-pos-phone_portrait="empty" style="font-size: 16px;" class="paragraph-8c0c20b3-ea35-45c5-8b5c-96158dbf6620"><span data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span data-style-phone_portrait="font-weight: bold; font-style: normal;" data-anchor-link-pos-phone_portrait="empty">• </span>купить участок земли;<br></span></span></span></span><br></span></span></span></span></span></span></span></p></div></div><div style="left: 508.14px; top: 1152.02px; width: 426px; height: 36.01px; z-index: 112;" class="rmwidget text"><div class="v2" style=" -webkit-nbsp-mode:space; -webkit-line-break:after-white-space; column-count:auto;-webkit-column-count:auto !important;-moz-column-count:auto;column-gap:16px;-webkit-column-gap:16px !important;-moz-column-gap:16px;background:rgba(255,255,255, 0)"><p data-style-phone_portrait="font-size: 15px; line-height: 23px;" data-anchor-link-pos-phone_portrait="empty" style="font-size: 16px;" class="paragraph-8c0c20b3-ea35-45c5-8b5c-96158dbf6620"><span data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span data-style-phone_portrait="font-weight: bold; font-style: normal;" data-anchor-link-pos-phone_portrait="empty">• </span>заказать индивидуальный проект дома;<br></span></span></span></span></span><br></span></span></span></span></span></span></span></p></div></div><div style="left: 508.14px; top: 1197px; width: 424px; height: 54.01px; z-index: 113;" class="rmwidget text"><div class="v2" style=" -webkit-nbsp-mode:space; -webkit-line-break:after-white-space; column-count:auto;-webkit-column-count:auto !important;-moz-column-count:auto;column-gap:16px;-webkit-column-gap:16px !important;-moz-column-gap:16px;background:rgba(255,255,255, 0)"><p data-style-phone_portrait="font-size: 15px; line-height: 23px;" data-anchor-link-pos-phone_portrait="empty" style="font-size: 16px; line-height: 27px;" class="paragraph-8c0c20b3-ea35-45c5-8b5c-96158dbf6620"><span data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span data-style-phone_portrait="font-weight: bold; font-style: normal;" data-anchor-link-pos-phone_portrait="empty">• </span>заказать строительство забора и благоустройство участка.<br></span></span></span></span></span></span><br></span></span></span></span></span></span></span></p></div></div><a target="" href="/smmstudio/1010932/main/" class="maglink"><div style="left: 508.14px; top: 1281.01px; width: 200px; height: 54px; z-index: 116; border-radius: 5px;" class="rmwidget widget-button"><div style="" class="common-button transition" data-id="5ab9ef19f017270059439f6d">

        <div style="display: none; margin-right: 0px; margin-left: 0px;" class="icon"></div>

    <input style="display: inline-block; width: 168px; padding-left: 0px; text-indent: 0px; height: 28px; line-height: 28px;" class="text" value="Оставить заявку" disabled="" readonly="" autocapitalize="off" autocorrect="off" autocomplete="off" spellcheck="false" role="button" name="Оставить заявку" type="text"></div></div></a></div>
			</div>
		</div>
	</div></div>



<div style="position: absolute; left: -9999px; width: 999px;" class="used-fonts-test v2"><p data-style-phone_portrait="font-size: 15px; line-height: 23px;" data-anchor-link-pos-phone_portrait="empty" style="font-size: 15px; line-height: 23px;" class="paragraph-8c0c20b3-ea35-45c5-8b5c-96158dbf6620"><span data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span data-anchor-link-pos-phone_portrait="empty"><span style="font-weight: bold; font-style: normal;" data-style-phone_portrait="font-weight: bold; font-style: normal;" data-anchor-link-pos-phone_portrait="empty">• </span>заказать строительство забора и благоустройство участка.<br></span></span></span></span></span></span><br></span></span></span></span></span></span></span></p></div>