.reg_title{
    color: #d31319;
    font-weight: 600;
    font-size: 30px;
    text-transform: uppercase;
    font-family: Reforma, Arial, sans-serif;
    letter-spacing: 0.9px;
    margin-bottom: 5px;
}

.privacy{
    margin-top: 15px;
}

.reg_form .btn{
    text-transform: uppercase;
    font-size: 25px;
    background-color: #c00000;
}

.text-quest{
    font-size: 32px;
    margin-bottom: 10px;
}

.btn-quest{
    background-color: #c00000;
}
.pravila{
    color: #333;
    text-decoration: none;
}

.pravila:hover{
    text-decoration: none;
    color:#333;
}

@media (max-device-width: 600px){
    .checkbox-privacy{
        margin-bottom: 50px!important;
    }
}
