.how-wey_text_man{
    padding: 30px 0 0 80px;
    background-image: url(contacts_icon_man.png);
    background-repeat: no-repeat;
    background-position: 50px 33px;
    font-size: 110%;
    line-height: 25px;
}
.how-wey_text_car{
	padding: 30px 0 0 80px;
    background-image: url(contacts_icon_car.png);
    background-repeat: no-repeat;
    background-position: 40px 33px;
    font-size: 110%;
    line-height: 25px;

}

.consultation .text {
	margin-top: 20px;
    line-height: 25px;
    padding: 0 40px;
}

.consultation_button{
	margin-top: 27px;
    background-color: white;
    color: #ab2121;
    height: 60px;
    border-radius: 5px;
    line-height: 60px;
    width: 320px;
    text-align: center;
    margin-left: 20px;
	text-transform: uppercase;
    font-family: Reforma,Arial,sans-serif;
    font-weight: 600;
    font-size: 30px;
	display: block;
}

.consultation_button:hover{
	background-color: #dedede;
	color: #ab2121;
	text-decoration: none;
}

.consultation_button:focus{
	background-color: #dedede;
	color: #ab2121;
	text-decoration: none;
}

.gng-contacts-tour-button{
	background: #054477;
}

.gng-contacts-tour-button a{
	color: #fff;
	height: 80px;
    line-height: 80px;
    background-image: url(contacts_icon_tour.png);
    background-repeat: no-repeat;
    background-position: 6% 20px;
	font-size: 30px;
    margin: 30px 0 20px;
    font-family: Reforma,Arial,sans-serif;
    font-weight: 600;
    display: block;
	text-decoration: none;
}

.gng-contacts-tour-button a:hover{
    text-decoration: none;
}

.gng-contacts-tour-button:hover {
    background: #002d52;
}

.contacts-button-map{
	background: #ab2121;
}

.gng-contacts-map-button a{
	color: #fff;
	height: 80px;
    line-height: 80px;
    background-image: url(contacts_icon_map.png);
    background-repeat: no-repeat;
    background-position: 6% 20px;
	font-size: 30px;
    margin: 30px 0 20px;
    font-family: Reforma,Arial,sans-serif;
    font-weight: 600;
    display: block;
	text-decoration: none;
}

.gng-contacts-map-button a:hover{
    text-decoration: none;
}

.gng-contacts-map-button  div:hover{
    background: #ab1717;
}

.gng-contacts-invite_text{
	margin-top: -17px;
    line-height: 25px;
    font-size: 110%;
	background: none!important;
}
.gng-contacts-invite_email{
	background: none!important;
    margin-top: 10px;
    padding-right: 40px;
    text-align: right;
}

#map{
    height: 450px;
    width: auto;
    padding-left: 0;
	margin: 0 -50px;
}

.gng-contacts-invite {
    height: 115px;
    background: url(contacts_arrow_grey.png) no-repeat!important;
    background-color: #fff!important;
}

.gng-contacts-beware {
    background: url(contacts_arrow_red.png) no-repeat!important;
    background-color: #ab2121!important;
    color: #fff;
    height: 115px;
}
.partner-mobile{
    display: none;
}

.clickRegion{
    transition: color 1s;
    color: #fe0303;
}

.clickTime{
    transition: color 1s;
    color: #333;
}

@media (max-width: 1200px){
    .gng-contacts-invite{
        height: auto;
        background: none!important;
        background-color: #eee!important;
    }
    .gng-contacts-beware{
        background: url(contacts_arrow_red-full.png) no-repeat!important;
        background-color: #ab2121!important;
        height: auto;
    }
    .consultation-header{
        text-align: center;
    }
    .consultation_button{
        margin: 30px auto 0;
    }
    .gng-contacts-invite_email{
        padding: 30px 50px;
        margin: 0;
    }
}

@media (max-width: 990px){
    .gng-contacts-invite_text, .gng-contacts-invite_email {
        text-align: center;
    }
    .gng-contacts-invite_email{
        padding: 0;
        margin: 0;
    }
}

@media (max-width: 768px){
    #map {
        margin: 0;
        height: 300px;
    }
    .partner-desktop{
        display: none;
    }
    .partner-mobile{
        display: block;
    }
    .partner-mobile .panel-heading p{
        font-family: Reforma,sans-serif;
        font-weight: 600!important;
        font-size: 23px;
        text-transform: uppercase;
    }
}

@media (max-width: 600px){
    .gng-contacts-center{
        text-align: center;
        padding: 0 5px;
    }
    .how-wey_text_man{
        padding: 30px 0 0 60px;
        background-position: 30px 33px;
        width: 90%;
    }
    .how-wey_text_car{
        padding: 30px 0 30px 60px;
        background-position: 20px 33px;
        width: 90%;
    }
    .consultation-header{
        background-color: #ec141d;
        margin: 0 5px;
        width: calc(100% - 10px);
    }
    .consultation_button{
        margin: 30px auto;
    }
    .contacts-button-map, .gng-contacts-tour-button{
        margin: 0 5px;
    }
    .gng-contacts-invite{
        height: auto;
        background: none!important;
        background-color: #eee!important;
    }
    .gng-contacts-invite_email{
        padding-right: 0;
        margin-top: -50px;
    }
    h1.gng-contacts__h-margin-mobile{
        margin-top: -10px;
    }
    h2.gng-contacts__h-margin-mobile{
        margin-top: -10px;
    }
    h1, h4{
        font-size: 30px!important;
    }
    h2{
        font-size: 27px;
    }
    .my-collapse-btn.design-main {
        padding: 5px 15px;
    }
}

@media (max-width: 550px){
    .gng-contacts-map-button a{
        font-size: 175%;
        background-size: 35px;
        background-position: 6% 28px;
    }
    .gng-contacts-tour-button a{
        font-size: 175%;
        background-size: 35px;
        background-position: 6% 28px;
    }
}

@media (max-width: 400px){
    .gng-contacts-map-button a {
        font-size: 165%;
        background-size: 30px;
        background-position: 2% 28px;
    }
    .gng-contacts-tour-button a{
        font-size: 165%;
        background-size: 30px;
        background-position: 6% 28px;
    }
}

@media (max-width: 350px){
    .gng-contacts-map-button a {
        font-size: 155%;
        background-size: 27px;
        background-position: 1% 28px;
    }
    .gng-contacts-tour-button a{
        font-size: 155%;
        background-size: 27px;
        background-position: 6% 28px;
    }
    .consultation_button{
        width: 280px;
    }
}