div.news-list
{
	word-wrap: break-word;
}
div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}
.news-header{
    margin: 0;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    font-size: 30px;
    font-family: Reforma, Arial, sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1.1;
}

.news-header a{
    text-decoration: none;
        color: #333;
}
.news-header a:hover{
    text-decoration: none;
        color: #333;
}

.news-header span{
    color: red;
}

@media (max-width: 1199px){
.news-header {
    font-size: 21px;
}
}