.my-table strong {
    text-transform: uppercase;
}

@media(min-width:992px) {
    .padding-side p {
        padding: 0 0px;
    }
    #steps {
        padding-left: 15px;
    }
}

@media(min-width:767px) and (max-width:991px) {
    .padding-side p {
        padding: 0 0px;
    }
    #steps {
        padding-left: 5px;
    }
}

@media(max-width:767px) {
    .padding-side p {
        padding: 0 20px;
    }
}

.step {
    color: #ae1c1d;
}

.step-build {
    background-color: #e5e5e5;
    height: 225px;
    padding: 20px;
    display: block;
    overflow: hidden;
    font-family: Reforma, Arial, sans-serif;
}

/*#steps img {
    position: relative;
    display: inline-block;
}*/

.my-collapse-content img {
    display: inline-block
}

#steps .col-md-4, #steps .col-sm-4 {
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    height: 105px;
    padding: 3.5% 0% 3.5% 11%;
}

#steps a:hover {
    color: white;
    text-decoration: none;
}

#steps a {
    color: black;
    font-family: Reforma, Arial, sans-serif;
    line-height: 1em;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
}

.three_string {
    padding: 3% 0% 3% 11%;
}

@media (max-width: 1199px) and (min-width:992px) {
    .step-build {
        height: 185px;
    }

    #steps .col-md-4,
    #steps .col-sm-4 {
        height: 85px;
    }
    .three_string {
        padding: 2% 0% 2% 11%
    }
    
    #steps a{
        font-size: 18px;
    }
}

@media (max-width:991px) {
    #steps .col-md-4,
    #steps .col-sm-4 {
        height: 85px;
    }
    .three_string {
        padding: 2% 0% 2% 11%
    }
    #steps a{
        font-size: 18px;
    }
    #steps > .row{
        margin-right: 2px;
    }
}

.step_title_1 .col-md-4,
.step_title_1 .col-sm-4 {
    background-image: url(1_stage.png);
}

.step_title_2 .col-md-4,
.step_title_2 .col-sm-4 {
    background-image: url(2_stage.png);
}

.step_title_3 .col-md-4,
.step_title_3 .col-sm-4 {
    background-image: url(3_stage.png);
}

.step_title_4 .col-md-4,
.step_title_4 .col-sm-4 {
    background-image: url(4_stage.png);
}

.step_title_5 .col-md-4,
.step_title_5 .col-sm-4 {
    background-image: url(5_stage.png);
}

.step_title_6 .col-md-4,
.step_title_6 .col-sm-4 {
    background-image: url(6_stage.png);
}

.step_title_1:hover > .col-md-4,
.step_title_1:hover > .col-sm-4 {
    background-image: url(1_stage_red.png);
}

.step_title_2:hover > .col-md-4,
.step_title_2:hover > .col-sm-4 {
    background-image: url(2_stage_red.png);
}

.step_title_3:hover > .col-md-4,
.step_title_3:hover > .col-sm-4 {
    background-image: url(3_stage_red.png);
}

.step_title_4:hover > .col-md-4,
.step_title_4:hover > .col-sm-4 {
    background-image: url(4_stage_red.png);
}

.step_title_5:hover > .col-md-4,
.step_title_5:hover > .col-sm-4 {
    background-image: url(5_stage_red.png);
}

.step_title_6:hover > .col-md-4,
.step_title_6:hover > .col-sm-4 {
    background-image: url(6_stage_red.png);
}

.my-collapse-btn.design-main {
    background-color: #a8a8a8;
}

.my-collapse-btn.design-main:hover {
    background-color: #a8a8a8;
}